### 1. Se conectando ao PSQL

### 1.1. Importar os módulos

In [1]:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets     #---
from sqlalchemy import create_engine

In [2]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### 1.2.Conexão ao banco de dados

FORMATO: %sql dialect+driver://usuario:senha@host:port/nome_da_base

In [3]:
# Conectar com um servidor SQL na base default --> Postgres.postgres
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

### Testando a conexão

In [4]:
%%sql
SELECT Current_database();

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('postgres',)]

### Antes de iniciar qualquer transação, é necessário desativar o autocommit

In [5]:
%%sql
SELECT rolname, rolsuper, rolcreaterole, rolcreatedb, rolcanlogin
FROM pg_roles;

 * postgresql://postgres:***@localhost:5432/postgres
15 rows affected.

[('pg_database_owner', False, False, False, False),
 ('pg_read_all_data', False, False, False, False),
 ('pg_write_all_data', False, False, False, False),
 ('pg_monitor', False, False, False, False),
 ('pg_read_all_settings', False, False, False, False),
 ('pg_read_all_stats', False, False, False, False),
 ('pg_stat_scan_tables', False, False, False, False),
 ('pg_read_server_files', False, False, False, False),
 ('pg_write_server_files', False, False, False, False),
 ('pg_execute_server_program', False, False, False, False),
 ('pg_signal_backend', False, False, False, False),
 ('pg_checkpoint', False, False, False, False),
 ('pg_use_reserved_connections', False, False, False, False),
 ('pg_create_subscription', False, False, False, False),
 ('postgres', True, True, True, True)]

In [6]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False

### Criando uma Base de Dados Para Essa Atividade

In [7]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS sistema_gestao_escolar;
COMMIT;
CREATE DATABASE sistema_gestao_escolar
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.

[]

In [8]:
## Reabilitar o Autocommit:
%config SqlMagic.autocommit=True

### Conectando a base de dados que criamos

In [9]:
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/sistema_gestao_escolar')
%sql postgresql://postgres:pgadmin@localhost/sistema_gestao_escolar

In [10]:
%%sql
SELECT Current_database();

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('sistema_gestao_escolar',)]

### Apagando possíveis tabelas, se existirem

In [11]:
%%sql
DROP TABLE IF EXISTS Usuario CASCADE;
DROP TABLE IF EXISTS Professor CASCADE;
DROP TABLE IF EXISTS Aluno CASCADE;
DROP TABLE IF EXISTS Funcionario CASCADE;
DROP TABLE IF EXISTS UnidadeEscolar CASCADE;
DROP TABLE IF EXISTS Departamento CASCADE;
DROP TABLE IF EXISTS Disciplina CASCADE;
DROP TABLE IF EXISTS Curso CASCADE;
DROP TABLE IF EXISTS ComporCursoDisciplina CASCADE;
DROP TABLE IF EXISTS MinistraAula CASCADE;
DROP TABLE IF EXISTS PreRequisitoDisciplina CASCADE;
DROP TABLE IF EXISTS PreRequisitoCurso CASCADE;
DROP TABLE IF EXISTS Regras CASCADE;
DROP TABLE IF EXISTS Mensagem CASCADE;
DROP TABLE IF EXISTS Comunica CASCADE;
DROP TABLE IF EXISTS Avisos CASCADE;
DROP TABLE IF EXISTS Notifica CASCADE;
DROP TABLE IF EXISTS OfertaDisciplina CASCADE;
DROP TABLE IF EXISTS Vinculo CASCADE;
DROP TABLE IF EXISTS Matricula CASCADE;
DROP TABLE IF EXISTS Inscricao CASCADE;
DROP TABLE IF EXISTS FeedBack CASCADE;
DROP TABLE IF EXISTS Avaliacao CASCADE;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Criando as tabelas

In [12]:
%%sql
-- Tabela Usuario
CREATE TABLE Usuario (
    CPF CHAR(11) PRIMARY KEY,
    NomeUsuario VARCHAR(50),
    SobrenomeUsuario VARCHAR(50),
    NumeroTelefone VARCHAR(15),
    Endereco VARCHAR(100),
    Email VARCHAR(100) UNIQUE,
    Senha VARCHAR(100),
    DataNascimento DATE,
    Sexo CHAR(1),  -- M ou F
    CHECK (Sexo IN ('M', 'F')),  -- Garante que o valor seja apenas M ou F
    UNIQUE (NomeUsuario, SobrenomeUsuario, NumeroTelefone)
);

-- Tabela Unidade Escolar
CREATE TABLE UnidadeEscolar (
    IDEscola INT PRIMARY KEY,
    NomeCidade VARCHAR(50),
    SiglaEstado CHAR(2),
    SiglaPais CHAR(3),
    NumeroPredio VARCHAR(10)
);


-- Tabela Professor
CREATE TABLE Professor (
    CPFUsuario CHAR(11) PRIMARY KEY,
    Titulacao VARCHAR(50),
    AreaEspecialidade VARCHAR(100),
    IDEscola INT,
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF),
    FOREIGN KEY (IDEscola) REFERENCES UnidadeEscolar(IDEscola)
);

-- Tabela Aluno
CREATE TABLE Aluno (
    CPFUsuario CHAR(11) PRIMARY KEY,
    Bolsa BOOLEAN,  -- Verdadeiro (TRUE) se o aluno for bolsista, Falso (FALSE) se não for
    IDEscola INT,
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF),
    FOREIGN KEY (IDEscola) REFERENCES UnidadeEscolar(IDEscola)
);

-- Tabela Funcionario
CREATE TABLE Funcionario (
    CPFUsuario CHAR(11) PRIMARY KEY,
    Operacao VARCHAR(100),
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF)
);

-- Tabela Departamento
CREATE TABLE Departamento (
    SiglaDepartamento CHAR(5) PRIMARY KEY,
    CPFProfessor CHAR(11),
    NomeDepartamento VARCHAR(100),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario)
);

-- Tabela Disciplina
CREATE TABLE Disciplina (
    Codigo CHAR(10) PRIMARY KEY,
    NomeDisciplina VARCHAR(100),
    QTDAulas INT,
    MaterialDidatico VARCHAR(500)

);

-- Tabela Curso
CREATE TABLE Curso (
    SiglaCurso CHAR(10) PRIMARY KEY,
    SiglaDepartamento CHAR(5),
    NomeCurso VARCHAR(100),
    Classificacao VARCHAR(50),
    CargaHoraria INT,
    NumeroVagas INT,
    FOREIGN KEY (SiglaDepartamento) REFERENCES Departamento(SiglaDepartamento)
);

-- Tabela Vinculo entre Escola e Curso
CREATE TABLE Vinculo (
    IDEscola INT NOT NULL,
    SiglaCurso CHAR(10) NOT NULL,
    PRIMARY KEY (IDEscola, SiglaCurso),
    FOREIGN KEY (IDEscola) REFERENCES UnidadeEscolar(IDEscola),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso)
);

-- Tabela ComporCursoDisciplina
CREATE TABLE ComporCursoDisciplina (
    SiglaCurso CHAR(10),
    SiglaDisciplina CHAR(10),
    PRIMARY KEY (SiglaCurso, SiglaDisciplina),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso),
    FOREIGN KEY (SiglaDisciplina) REFERENCES Disciplina(Codigo)
);

-- Tabela MinistraAula
CREATE TABLE MinistraAula (
    CPFProfessor CHAR(11),
    CodigoDisciplina CHAR(10),
    PRIMARY KEY (CPFProfessor, CodigoDisciplina),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario),
    FOREIGN KEY (CodigoDisciplina) REFERENCES Disciplina(Codigo)
);

-- Tabela PreRequisitoDisciplina
CREATE TABLE PreRequisitoDisciplina (
    SiglaCurso CHAR(10),
    CodigoDisciplinaPreReq CHAR(10),
    PRIMARY KEY (SiglaCurso, CodigoDisciplinaPreReq),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso),
    FOREIGN KEY (CodigoDisciplinaPreReq) REFERENCES Disciplina(Codigo)
);

-- Tabela PreRequisitoCurso
CREATE TABLE PreRequisitoCurso (
    SiglaCurso CHAR(10),
    SiglaCursoPreReq CHAR(10),
    PRIMARY KEY (SiglaCurso, SiglaCursoPreReq),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso),
    FOREIGN KEY (SiglaCursoPreReq) REFERENCES Curso(SiglaCurso)
);

-- Tabela Regras
CREATE TABLE Regras (
    CodigoRegra INT PRIMARY KEY,
    SiglaCurso CHAR(10),
    FrequenciaMinima DECIMAL(5,2),
    CriterioAvaliacao TEXT,
    Infraestrutura TEXT,
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso)
);

-- Tabela Mensagem
CREATE TABLE Mensagem (
    IDMensagem INT PRIMARY KEY,
    TextoMensagem TEXT
);

-- Tabela Comunica
CREATE TABLE Comunica (
    CPFProfessor CHAR(11),
    CPFAluno CHAR(11),
    IDMensagem INT,
    DataEnvio TIMESTAMP,
    PRIMARY KEY (CPFProfessor, CPFAluno, IDMensagem),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario),
    FOREIGN KEY (CPFAluno) REFERENCES Aluno(CPFUsuario),
    FOREIGN KEY (IDMensagem) REFERENCES Mensagem(IDMensagem)
);

-- Tabela Avisos
CREATE TABLE Avisos (
    IDAviso INT PRIMARY KEY,
    TextoAviso TEXT
);

-- Tabela Notifica
CREATE TABLE Notifica (
    CPFUsuario CHAR(11),
    CPFFuncionario CHAR(11),
    IDAviso INT,
    DataEnvio TIMESTAMP,
    PRIMARY KEY (CPFUsuario, CPFFuncionario, IDAviso),
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF),
    FOREIGN KEY (CPFFuncionario) REFERENCES Funcionario(CPFUsuario),
    FOREIGN KEY (IDAviso) REFERENCES Avisos(IDAviso)
);

-- Tabela OfertaDisciplina
CREATE TABLE OfertaDisciplina (
    CodigoDisciplina CHAR(10),
    CPFProfessor CHAR(11),
    Dia VARCHAR(20),
    Hora TIME,
    Sala VARCHAR(20),
    PRIMARY KEY (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala),
    FOREIGN KEY (CodigoDisciplina) REFERENCES Disciplina(Codigo),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario)
);

-- Tabela Matricula de Alunos em OfertaDisciplina
CREATE TABLE Matricula (
    CPFAluno CHAR(11),
    CodigoDisciplina CHAR(10),
    CPFProfessor CHAR(11),
    Dia VARCHAR(20),
    Hora TIME,
    Sala VARCHAR(20),
    PRIMARY KEY (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala),
    FOREIGN KEY (CPFAluno) REFERENCES Aluno(CPFUsuario),
    FOREIGN KEY (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
        REFERENCES OfertaDisciplina(CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
);

-- Tabela de Inscricao de Matrículas em Disciplinas Ofertadas
CREATE TABLE Inscricao (
    DataInscricao TIMESTAMP,
    CPFAluno CHAR(11),
    CodigoDisciplina CHAR(10),
    CPFProfessor CHAR(11),
    Dia VARCHAR(20),
    Hora TIME,
    Sala VARCHAR(20),
    PRIMARY KEY (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala),
    FOREIGN KEY (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
        REFERENCES Matricula(CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
);

-- Tabela Feedback
CREATE TABLE FeedBack (
    CPFAluno VARCHAR(11),
    CPFProfessor VARCHAR(11),
    CodigoDisciplina VARCHAR(20),
    PRIMARY KEY (CPFAluno, CPFProfessor, CodigoDisciplina),
    FOREIGN KEY (CPFAluno) REFERENCES Aluno(CPFUsuario),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario),
    FOREIGN KEY (CodigoDisciplina) REFERENCES Disciplina(Codigo)
);

-- Tabela Avaliacao
CREATE TABLE Avaliacao (
    DataAvaliacao TIMESTAMP,
    CPFAluno VARCHAR(11),
    CPFProfessor VARCHAR(11),
    CodigoDisciplina VARCHAR(20),
    RatingProfessor INT,
    RatingMaterial INT,
    RatingInfraestrutura INT,
    RatingRelevancia INT,
    Comentario VARCHAR(500),
    PRIMARY KEY (DataAvaliacao, CPFAluno, CPFProfessor, CodigoDisciplina),
    FOREIGN KEY (CPFAluno, CPFProfessor, CodigoDisciplina) 
        REFERENCES FeedBack(CPFAluno, CPFProfessor, CodigoDisciplina),
    CHECK (RatingProfessor BETWEEN 0 AND 5),
    CHECK (RatingMaterial BETWEEN 0 AND 5),
    CHECK (RatingInfraestrutura BETWEEN 0 AND 5),
    CHECK (RatingRelevancia BETWEEN 0 AND 5)
);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### Inserindo os Dados

#### Inserindo Usuarios

In [13]:
%%sql
INSERT INTO Usuario (CPF, NomeUsuario, SobrenomeUsuario, NumeroTelefone, Endereco, Email, Senha, DataNascimento, Sexo) VALUES
('12345678901', 'João', 'Silva', '11987654321', 'Rua A, 123', 'joao.silva@email.com', 'senha123', '1990-05-10', 'M'),
('23456789012', 'Maria', 'Oliveira', '21987654321', 'Avenida B, 456', 'maria.oliveira@email.com', 'senha456', '1992-08-15', 'F'),
('34567890123', 'Carlos', 'Pereira', '31987654321', 'Rua C, 789', 'carlos.pereira@email.com', 'senha789', '1991-12-20', 'M'),
('45678901234', 'Ana', 'Souza', '41987654321', 'Praça D, 321', 'ana.souza@email.com', 'senha101', '1993-02-14', 'F'),
('56789012345', 'Pedro', 'Costa', '51987654321', 'Rua E, 654', 'pedro.costa@email.com', 'senha202', '1989-07-30', 'M'),
('67890123456', 'Juliana', 'Mendes', '61987654321', 'Avenida F, 987', 'juliana.mendes@email.com', 'senha303', '1994-03-25', 'F'),
('78901234567', 'Ricardo', 'Lima', '71987654321', 'Rua G, 123', 'ricardo.lima@email.com', 'senha404', '1992-11-18', 'M'),
('89012345678', 'Patrícia', 'Alves', '81987654321', 'Avenida H, 456', 'patricia.alves@email.com', 'senha505', '1990-01-05', 'F'),
('90123456789', 'Lucas', 'Santos', '91987654321', 'Rua I, 789', 'lucas.santos@email.com', 'senha606', '1988-10-17', 'M'),
('01234567890', 'Fernanda', 'Martins', '11987654321', 'Praça J, 654', 'fernanda.martins@email.com', 'senha707', '1995-06-12', 'F'),
('11223344556', 'Roberto', 'Barros', '22987654321', 'Rua K, 321', 'roberto.barros@email.com', 'senha808', '1991-01-28', 'M'),
('22334455667', 'Gisele', 'Dias', '33987654321', 'Avenida L, 987', 'gisele.dias@email.com', 'senha909', '1994-09-06', 'F'),
('33445566778', 'Felipe', 'Gomes', '44987654321', 'Rua M, 123', 'felipe.gomes@email.com', 'senha1010', '1993-07-14', 'M'),
('44556677889', 'Sofia', 'Ferreira', '55987654321', 'Praça N, 456', 'sofia.ferreira@email.com', 'senha1111', '1992-12-03', 'F'),
('55667788990', 'Marcos', 'Rodrigues', '66987654321', 'Rua O, 789', 'marcos.rodrigues@email.com', 'senha1212', '1991-03-21', 'M'),
('66778899001', 'Letícia', 'Silveira', '77987654321', 'Avenida P, 321', 'leticia.silveira@email.com', 'senha1313', '1990-10-15', 'F'),
('77889900112', 'Gustavo', 'Nascimento', '88987654321', 'Rua Q, 654', 'gustavo.nascimento@email.com', 'senha1414', '1994-04-02', 'M'),
('88990011223', 'Carla', 'Pereira', '99987654321', 'Avenida R, 987', 'carla.pereira@email.com', 'senha1515', '1993-05-17', 'F'),
('99001122334', 'Vinícius', 'Oliveira', '11987654321', 'Rua S, 123', 'vinicius.oliveira@email.com', 'senha1616', '1989-11-24', 'M'),
('10112233445', 'Camila', 'Costa', '22987654321', 'Praça T, 456', 'camila.costa@email.com', 'senha1717', '1992-02-09', 'F'),
('11223344567', 'Leandro', 'Martins', '33987654321', 'Rua U, 789', 'leandro.martins@email.com', 'senha1818', '1991-12-22', 'M'),
('22334455678', 'Talita', 'Gomes', '44987654321', 'Avenida V, 321', 'talita.gomes@email.com', 'senha1919', '1993-01-07', 'F'),
('33445566789', 'Rafael', 'Almeida', '55987654321', 'Rua W, 654', 'rafael.almeida@email.com', 'senha2020', '1988-07-18', 'M'),
('44556677890', 'Jéssica', 'Santos', '66987654321', 'Praça X, 987', 'jessica.santos@email.com', 'senha2121', '1994-11-13', 'F'),
('55667788901', 'Mariana', 'Souza', '77987654321', 'Rua Y, 123', 'mariana.souza@email.com', 'senha2222', '1990-04-20', 'F'),
('66778899012', 'André', 'Dias', '88987654321', 'Avenida Z, 456', 'andre.dias@email.com', 'senha2323', '1992-03-11', 'M'),
('77889900123', 'Renata', 'Ferreira', '99987654321', 'Rua AA, 789', 'renata.ferreira@email.com', 'senha2424', '1994-10-02', 'F'),
('88990011234', 'Felipe', 'Lima', '11987654321', 'Praça BB, 654', 'felipe.lima@email.com', 'senha2525', '1989-09-15', 'M');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
28 rows affected.

[]

#### Inserindo Escolas

In [14]:
%%sql
-- A maioria das unidades escolares não vão contem dados
INSERT INTO UnidadeEscolar (IDEscola, NomeCidade, SiglaEstado, SiglaPais, NumeroPredio) VALUES
(1, 'São Paulo', 'SP', 'BRA', 'A1'),
(2, 'Rio de Janeiro', 'RJ', 'BRA', 'B2'),
(3, 'Belo Horizonte', 'MG', 'BRA', 'C3'),
(4, 'Curitiba', 'PR', 'BRA', 'D4'),
(5, 'Porto Alegre', 'RS', 'BRA', 'E5'),
(6, 'Salvador', 'BA', 'BRA', 'F6'),
(7, 'Fortaleza', 'CE', 'BRA', 'G7'),
(8, 'Recife', 'PE', 'BRA', 'H8'),
(9, 'Brasília', 'DF', 'BRA', 'I9'),
(10, 'Manaus', 'AM', 'BRA', 'J10'),
(11, 'Natal', 'RN', 'BRA', 'K11'),
(12, 'Florianópolis', 'SC', 'BRA', 'L12'),
(13, 'Maceió', 'AL', 'BRA', 'M13'),
(14, 'Belém', 'PA', 'BRA', 'N14'),
(15, 'João Pessoa', 'PB', 'BRA', 'O15'),
(16, 'Vitória', 'ES', 'BRA', 'P16'),
(17, 'Goiânia', 'GO', 'BRA', 'Q17'),
(18, 'Cuiabá', 'MT', 'BRA', 'R18'),
(19, 'Campo Grande', 'MS', 'BRA', 'S19'),
(20, 'São Luís', 'MA', 'BRA', 'T20'),
(21, 'Aracaju', 'SE', 'BRA', 'U21'),
(22, 'Teresina', 'PI', 'BRA', 'V22'),
(23, 'Palmas', 'TO', 'BRA', 'W23'),
(24, 'Rio Branco', 'AC', 'BRA', 'X24'),
(25, 'Porto Velho', 'RO', 'BRA', 'Y25'),
(26, 'Boa Vista', 'RR', 'BRA', 'Z26'),
(27, 'Macapá', 'AP', 'BRA', 'AA27'),
(28, 'Cabo Frio', 'RJ', 'BRA', 'BB28'),
(29, 'Angra dos Reis', 'RJ', 'BRA', 'CC29'),
(30, 'Ilhéus', 'BA', 'BRA', 'DD30');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
30 rows affected.

[]

#### Associando Alunos a Usuários e a Uma Escola

In [15]:
%%sql
-- Inserção de Alunos para a Escola 1
INSERT INTO Aluno (CPFUsuario, Bolsa, IDEscola) VALUES
('12345678901', TRUE, 1),
('23456789012', FALSE, 1),
('34567890123', TRUE, 1),
('45678901234', FALSE, 1),
('56789012345', TRUE, 1),
('67890123456', FALSE, 1),
('78901234567', TRUE, 1),
('89012345678', FALSE, 1),
('90123456789', TRUE, 1),
('01234567890', FALSE, 1);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[]

#### Associando Professores a Usuários e a Uma Escola

In [16]:
%%sql
-- inserção de Professores para a Escola 1
INSERT INTO Professor (CPFUsuario, Titulacao, AreaEspecialidade, IDEscola) VALUES
('11223344556', 'Mestre', 'Matemática', 1),
('22334455667', 'Doutor', 'Português', 1),
('33445566778', 'Mestre', 'Física', 1),
('44556677889', 'Doutor', 'Química', 1),
('55667788990', 'Mestre', 'História', 1),
('66778899001', 'Doutor', 'Geografia', 1),
('77889900112', 'Mestre', 'Biologia', 1),
('88990011223', 'Doutor', 'Matemática', 1),
('99001122334', 'Mestre', 'Português', 1),
('10112233445', 'Doutor', 'Física', 1);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[]

#### Associando Funcionários a Usuários

In [17]:
%%sql
INSERT INTO Funcionario (CPFUsuario, Operacao) VALUES
('11223344567', 'Recepção'),
('22334455678', 'Limpeza'),
('33445566789', 'Segurança'),
('44556677890', 'Biblioteca'),
('55667788901', 'Laboratório'),
('66778899012', 'Secretaria'),
('77889900123', 'Coordenação'),
('88990011234', 'TI');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
8 rows affected.

[]

#### Inserindo Departamentos (LER COMENTARIO NO CODIGO)

In [18]:
%%sql
-- Inserção de Professores Chefiando Departamento (Fazer tratamento, pois todo departamento deve ter 1 professor associado)
INSERT INTO Departamento (SiglaDepartamento, CPFProfessor, NomeDepartamento) VALUES
('DEP01', NULL, 'Matemática'),
('DEP02', NULL, 'Línguas'),
('DEP03', NULL, 'Informática'),
('DEP04', NULL, 'Administração'),
('DEP05', NULL, 'Engenharia'),
('DEP06', NULL, 'Ciências Exatas'),
('DEP07', NULL, 'Ciências Humanas'),
('DEP08', NULL, 'Saúde'),
('DEP09', NULL, 'Artes'),
('DEP10', NULL, 'Educação Física');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[]

#### Inserindo Cursos e Associando a Departamentos

In [19]:
%%sql
INSERT INTO Curso (SiglaCurso, SiglaDepartamento, NomeCurso, Classificacao, CargaHoraria, NumeroVagas) VALUES
('FND01', 'DEP01', 'Matemática Fundamental', 'Fundamental', 900, 250),
('FND02', 'DEP02', 'Português Fundamental', 'Fundamental', 900, 250),
('FND03', 'DEP07', 'História Fundamental', 'Fundamental', 900, 250),
('FND04', 'DEP07', 'Geografia Fundamental', 'Fundamental', 900, 250),
('FND05', 'DEP06', 'Ciências Naturais Fundamental', 'Fundamental', 900, 250),
('FND06', 'DEP09', 'Artes Fundamental', 'Fundamental', 900, 200),
('FND07', 'DEP10', 'Educação Física Fundamental', 'Fundamental', 900, 200),
('FND08', 'DEP08', 'Saúde e Bem-estar Fundamental', 'Fundamental', 900, 200),
('FND09', 'DEP01', 'Lógica e Raciocínio Fundamental', 'Fundamental', 900, 200),
('FND10', 'DEP03', 'Informática Básica Fundamental', 'Fundamental', 900, 150),

('EM01', 'DEP01', 'Matemática Ensino Médio', 'Ensino Médio', 1200, 200),
('EM02', 'DEP02', 'Português Ensino Médio', 'Ensino Médio', 1200, 200),
('EM03', 'DEP07', 'Filosofia Ensino Médio', 'Ensino Médio', 1200, 150),
('EM04', 'DEP07', 'Sociologia Ensino Médio', 'Ensino Médio', 1200, 150),
('EM05', 'DEP06', 'Química Ensino Médio', 'Ensino Médio', 1200, 200),
('EM06', 'DEP06', 'Física Ensino Médio', 'Ensino Médio', 1200, 200),
('EM07', 'DEP09', 'Artes Ensino Médio', 'Ensino Médio', 1200, 150),
('EM08', 'DEP10', 'Educação Física Ensino Médio', 'Ensino Médio', 1200, 150),
('EM09', 'DEP08', 'Biologia Ensino Médio', 'Ensino Médio', 1200, 200),
('EM10', 'DEP03', 'Informática Ensino Médio', 'Ensino Médio', 1200, 150),

('TC01', 'DEP03', 'Técnico em Informática', 'Técnico', 1800, 100),
('TC02', 'DEP05', 'Técnico em Mecânica', 'Técnico', 1800, 80),
('TC03', 'DEP04', 'Técnico em Administração', 'Técnico', 1800, 80),
('TC04', 'DEP08', 'Técnico em Enfermagem', 'Técnico', 1800, 60),
('TC05', 'DEP09', 'Técnico em Design', 'Técnico', 1800, 70),
('TC06', 'DEP10', 'Técnico em Educação Física', 'Técnico', 1800, 60),
('TC07', 'DEP01', 'Técnico em Química', 'Técnico', 1800, 70),
('TC08', 'DEP07', 'Técnico em Meio Ambiente', 'Técnico', 1800, 60),
('TC09', 'DEP06', 'Técnico em Física Aplicada', 'Técnico', 1800, 50),
('TC10', 'DEP03', 'Técnico em Redes de Computadores', 'Técnico', 1800, 100);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
30 rows affected.

[]

#### Associando Cursos a Suas Devidas Escolas

In [20]:
%%sql
-- Unidade 1 (São Paulo) - 10 cursos
INSERT INTO Vinculo (IDEscola, SiglaCurso) VALUES
(1, 'FND01'), 
(1, 'FND02'), 
(1, 'FND03'), 
(1, 'FND04'), 
(1, 'FND05'),
(1, 'EM01'), 
(1, 'EM02'), 
(1, 'EM03'), 
(1, 'TC01'), 
(1, 'TC02');

-- Unidade 2 (Rio de Janeiro) - 10 cursos (alguns repetidos da 1 e 3)
INSERT INTO Vinculo (IDEscola, SiglaCurso) VALUES
(2, 'FND04'), 
(2, 'FND05'), 
(2, 'FND06'), 
(2, 'EM05'), 
(2, 'EM06'),
(2, 'EM07'), 
(2, 'TC02'), 
(2, 'TC03'), 
(2, 'TC04'), 
(2, 'TC05');

-- Unidade 3 (Belo Horizonte) - 10 cursos (alguns repetidos da 1 e 2)
INSERT INTO Vinculo (IDEscola, SiglaCurso) VALUES
(3, 'FND01'), 
(3, 'FND02'), 
(3, 'FND07'), 
(3, 'EM01'), 
(3, 'EM08'),
(3, 'EM09'), 
(3, 'TC01'), 
(3, 'TC06'), 
(3, 'TC07'), 
(3, 'TC08');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.
10 rows affected.
10 rows affected.

[]

#### Inserindo Disciplinas

In [21]:
%%sql
INSERT INTO Disciplina (Codigo, NomeDisciplina, QTDAulas, MaterialDidatico) VALUES
('D001', 'Matemática 1', 60, 'Livro de Álgebra'),
('D002', 'Português 1', 50, 'Gramática e Literatura'),
('D003', 'Física 1', 40, 'Livro de Física Geral'),
('D004', 'Química 1', 45, 'Tabela Periódica'),
('D005', 'História 1', 40, 'Material de Pesquisa'),
('D006', 'Geografia 1', 30, 'Mapa do Mundo'),
('D007', 'Biologia 1', 50, 'Guia de Biologia Geral'),
('D008', 'Matemática 2', 60, 'Livro de Geometria'),
('D009', 'Português 2', 50, 'Literatura Brasileira'),
('D010', 'Física 2', 45, 'Termodinâmica e Dinâmica'),
('D011', 'Química 2', 55, 'Reações Químicas'),
('D012', 'História 2', 40, 'Fontes Históricas'),
('D013', 'Geografia 2', 35, 'Geografia Econômica'),
('D014', 'Biologia 2', 50, 'Células e Genética'),
('D015', 'Matemática 3', 60, 'Livro de Cálculo'),
('D016', 'Português 3', 50, 'Língua Portuguesa Avançada'),
('D017', 'Física 3', 45, 'Eletromagnetismo'),
('D018', 'Química 3', 50, 'Química Orgânica'),
('D019', 'História 3', 40, 'História Contemporânea'),
('D020', 'Geografia 3', 30, 'Geopolítica'),
('D021', 'Biologia 3', 45, 'Ecologia e Meio Ambiente'),
('D022', 'Matemática 4', 50, 'Álgebra Linear'),
('D023', 'Português 4', 50, 'Interpretação de Texto'),
('D024', 'Física 4', 60, 'Mecânica e Astronomia'),
('D025', 'Química 4', 45, 'Físico-Química'),
('D026', 'História 4', 40, 'Revoluções Históricas'),
('D027', 'Geografia 4', 30, 'Geografia Urbana'),
('D028', 'Biologia 4', 50, 'Anatomia Humana'),
('D029', 'Matemática 5', 60, 'Cálculo Diferencial'),
('D030', 'Português 5', 50, 'Literatura Contemporânea');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
30 rows affected.

[]

#### Associando Disciplinas aos Cursos

In [22]:
%%sql
-- As tabelas as seguir não garantem "sentido" entre as disciplinas e cursos
-- por exemplo, um curso técnico poder conter uma disciplna considerada "fundamental"
-- por enquanto são apenas dados ilustrativos
-- ComporCursoDisciplina - Fundamental
INSERT INTO ComporCursoDisciplina (SiglaCurso, SiglaDisciplina) VALUES
('FND01', 'D001'),
('FND01', 'D008'),
('FND01', 'D015'),
('FND02', 'D002'),
('FND02', 'D009'),
('FND03', 'D005'),
('FND03', 'D012'),
('FND04', 'D006'),
('FND04', 'D013'),
('FND05', 'D007');

-- ComporCursoDisciplina - Ensino Médio
INSERT INTO ComporCursoDisciplina (SiglaCurso, SiglaDisciplina) VALUES
('EM01', 'D015'),
('EM01', 'D022'),
('EM02', 'D016'),
('EM02', 'D023'),
('EM05', 'D004'),
('EM05', 'D011'),
('EM06', 'D003'),
('EM06', 'D010'),
('EM09', 'D007'),
('EM09', 'D014');

-- ComporCursoDisciplina - Técnico
INSERT INTO ComporCursoDisciplina (SiglaCurso, SiglaDisciplina) VALUES
('TC01', 'D024'),
('TC01', 'D001'),
('TC01', 'D030'),
('TC02', 'D003'),
('TC02', 'D004'),
('TC03', 'D002'),
('TC03', 'D016'),
('TC04', 'D007'),
('TC04', 'D028'),
('TC09', 'D017');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.
10 rows affected.
10 rows affected.

[]

### Testes

#### Tentando Inserir um Aluno em Mais de Uma Escola

In [23]:
%%sql
-- Tentando inserir um aluno inscrito na escola 1 para a escola 2
INSERT INTO Aluno (CPFUsuario, Bolsa, IDEscola) VALUES
('12345678901', TRUE, 2);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "aluno_pkey"
DETAIL:  Key (cpfusuario)=(12345678901) already exists.

[SQL: -- Tentando inserir um aluno inscrito na escola 1 para a escola 2
INSERT INTO Aluno (CPFUsuario, Bolsa, IDEscola) VALUES
('12345678901', TRUE, 2);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

### Buscas:

### Desconectando da Base

### Voltando a conexão a base padrão do postgres

In [24]:
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

### Verificando em qual base está conectado

In [25]:
%%sql
SELECT Current_database();

   postgresql://postgres:***@localhost/sistema_gestao_escolar
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('postgres',)]

### Terminando Sessão Ativa

In [26]:
%%sql
SELECT pg_terminate_backend(pg_stat_activity.pid)
FROM pg_stat_activity
WHERE pg_stat_activity.datname = 'sistema_gestao_escolar'
  AND pid <> pg_backend_pid();

   postgresql://postgres:***@localhost/sistema_gestao_escolar
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(True,)]

### Desabilitando o Autocommit

In [27]:
%%sql
SELECT rolname, rolsuper, rolcreaterole, rolcreatedb, rolcanlogin
FROM pg_roles;

   postgresql://postgres:***@localhost/sistema_gestao_escolar
 * postgresql://postgres:***@localhost:5432/postgres
15 rows affected.

[('pg_database_owner', False, False, False, False),
 ('pg_read_all_data', False, False, False, False),
 ('pg_write_all_data', False, False, False, False),
 ('pg_monitor', False, False, False, False),
 ('pg_read_all_settings', False, False, False, False),
 ('pg_read_all_stats', False, False, False, False),
 ('pg_stat_scan_tables', False, False, False, False),
 ('pg_read_server_files', False, False, False, False),
 ('pg_write_server_files', False, False, False, False),
 ('pg_execute_server_program', False, False, False, False),
 ('pg_signal_backend', False, False, False, False),
 ('pg_checkpoint', False, False, False, False),
 ('pg_use_reserved_connections', False, False, False, False),
 ('pg_create_subscription', False, False, False, False),
 ('postgres', True, True, True, True)]

In [28]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False

### Apagando a Base de Dados

In [29]:
%%sql
COMMIT;
DROP DATABASE IF EXISTS sistema_gestao_escolar;
COMMIT;

   postgresql://postgres:***@localhost/sistema_gestao_escolar
 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.

[]

### Reabilitando o autocommit

In [30]:
## Reabilitar o Autocommit:
%config SqlMagic.autocommit=True