## 1.Se conectando ao PSQL

### 1.1. Importar os módulos

In [1]:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets
from sqlalchemy import create_engine

In [2]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### 1.2. Conexão ao banco de dados

FORMATO: %sql dialect+driver://usuario:senha@host:port/nome_da_base

In [3]:
# Conectar com um servidor SQL na base default --> Postgres.postgres
%load_ext sql

engine = create_engine('postgresql://postgres:pgadmin@localhost:5432/postgres')
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

### 1.3.Testando a conexão

In [4]:
%%sql
SELECT Current_database();

 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('postgres',)]

### Antes de iniciar qualquer transação, é necessário desativar o autocommit

In [5]:
%%sql
SELECT rolname, rolsuper, rolcreaterole, rolcreatedb, rolcanlogin
FROM pg_roles;

 * postgresql://postgres:***@localhost:5432/postgres
15 rows affected.

[('pg_database_owner', False, False, False, False),
 ('pg_read_all_data', False, False, False, False),
 ('pg_write_all_data', False, False, False, False),
 ('pg_monitor', False, False, False, False),
 ('pg_read_all_settings', False, False, False, False),
 ('pg_read_all_stats', False, False, False, False),
 ('pg_stat_scan_tables', False, False, False, False),
 ('pg_read_server_files', False, False, False, False),
 ('pg_write_server_files', False, False, False, False),
 ('pg_execute_server_program', False, False, False, False),
 ('pg_signal_backend', False, False, False, False),
 ('pg_checkpoint', False, False, False, False),
 ('pg_use_reserved_connections', False, False, False, False),
 ('pg_create_subscription', False, False, False, False),
 ('postgres', True, True, True, True)]

In [6]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False

### 1.4.Criando uma Base de Dados Para Essa Atividade

In [7]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS sistema_gestao_escolar;
COMMIT;
CREATE DATABASE sistema_gestao_escolar
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.

[]

In [8]:
## Reabilitar o Autocommit:
%config SqlMagic.autocommit=True

### 1.5.Conectando a base de dados que criamos

In [9]:
# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/sistema_gestao_escolar')
%sql postgresql://postgres:pgadmin@localhost/sistema_gestao_escolar

In [10]:
%%sql
SELECT Current_database();

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('sistema_gestao_escolar',)]

## 2.Gerenciando a Nova Base de Dados

### 2.1.Apagando possíveis tabelas, se existirem

In [11]:
%%sql
-- 1. Tabelas que dependem fortemente de outras
DROP TABLE IF EXISTS Avaliacao CASCADE;
DROP TABLE IF EXISTS FeedBack CASCADE;
DROP TABLE IF EXISTS Notifica CASCADE;
DROP TABLE IF EXISTS Comunica CASCADE;
DROP TABLE IF EXISTS Mensagem CASCADE;
DROP TABLE IF EXISTS Avisos CASCADE;
DROP TABLE IF EXISTS Inscricao CASCADE;
DROP TABLE IF EXISTS Matricula CASCADE;
DROP TABLE IF EXISTS OfertaDisciplina CASCADE;
DROP TABLE IF EXISTS MinistraAula CASCADE;
DROP TABLE IF EXISTS ComporCursoDisciplina CASCADE;
DROP TABLE IF EXISTS Vinculo CASCADE;
DROP TABLE IF EXISTS PreRequisitoDisciplina CASCADE;
DROP TABLE IF EXISTS PreRequisitoCurso CASCADE;
DROP TABLE IF EXISTS Regras CASCADE;

-- 2. Tabelas intermediárias
DROP TABLE IF EXISTS Curso CASCADE;
DROP TABLE IF EXISTS Departamento CASCADE;
DROP TABLE IF EXISTS Disciplina CASCADE;

-- 3. Tabelas principais com dependências externas
DROP TABLE IF EXISTS Funcionario CASCADE;
DROP TABLE IF EXISTS Professor CASCADE;
DROP TABLE IF EXISTS Aluno CASCADE;

-- 4. Tabelas principais
DROP TABLE IF EXISTS UnidadeEscolar CASCADE;
DROP TABLE IF EXISTS Usuario CASCADE;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

### 2.2.Criando as tabelas

In [12]:
%%sql
-- Tabela Usuario
CREATE TABLE Usuario (
    CPF CHAR(11) PRIMARY KEY,
    NomeUsuario VARCHAR(50),
    SobrenomeUsuario VARCHAR(50),
    NumeroTelefone VARCHAR(15),
    Endereco VARCHAR(100),
    Email VARCHAR(100) UNIQUE,
    Senha VARCHAR(100),
    DataNascimento DATE,
    Sexo CHAR(1),  -- M ou F
    CHECK (Sexo IN ('M', 'F')),  -- Garante que o valor seja apenas M ou F
    UNIQUE (NomeUsuario, SobrenomeUsuario, NumeroTelefone)
);

-- Tabela Unidade Escolar
CREATE TABLE UnidadeEscolar (
    IDEscola INT PRIMARY KEY,
    NomeCidade VARCHAR(50),
    SiglaEstado CHAR(2),
    SiglaPais CHAR(3),
    NumeroPredio VARCHAR(10)
);

-- Tabela Professor
CREATE TABLE Professor (
    CPFUsuario CHAR(11) PRIMARY KEY,
    Titulacao VARCHAR(50),
    AreaEspecialidade VARCHAR(100),
    IDEscola INT,
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF),
    FOREIGN KEY (IDEscola) REFERENCES UnidadeEscolar(IDEscola)
);

-- Tabela Aluno
CREATE TABLE Aluno (
    CPFUsuario CHAR(11) PRIMARY KEY,
    Bolsa BOOLEAN,  -- Verdadeiro (TRUE) se o aluno for bolsista, Falso (FALSE) se não for
    IDEscola INT,
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF),
    FOREIGN KEY (IDEscola) REFERENCES UnidadeEscolar(IDEscola)
);

-- Tabela Funcionario
CREATE TABLE Funcionario (
    CPFUsuario CHAR(11) PRIMARY KEY,
    Operacao VARCHAR(100),
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF)
);

-- Tabela Departamento
CREATE TABLE Departamento (
    SiglaDepartamento CHAR(5) PRIMARY KEY,
    CPFProfessor CHAR(11) NOT NULL UNIQUE,
    NomeDepartamento VARCHAR(100),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario)
);

-- Tabela Disciplina
CREATE TABLE Disciplina (
    Codigo CHAR(10) PRIMARY KEY,
    NomeDisciplina VARCHAR(100),
    QTDAulas INT,
    MaterialDidatico VARCHAR(500)

);

-- Tabela Curso
CREATE TABLE Curso (
    SiglaCurso CHAR(10) PRIMARY KEY,
    SiglaDepartamento CHAR(5),
    NomeCurso VARCHAR(100),
    Classificacao VARCHAR(50),
    CargaHoraria INT,
    NumeroVagas INT,
    FOREIGN KEY (SiglaDepartamento) REFERENCES Departamento(SiglaDepartamento)
);

-- Tabela Vinculo entre Escola e Curso
CREATE TABLE Vinculo (
    IDEscola INT NOT NULL,
    SiglaCurso CHAR(10) NOT NULL,
    PRIMARY KEY (IDEscola, SiglaCurso),
    FOREIGN KEY (IDEscola) REFERENCES UnidadeEscolar(IDEscola),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso)
);

-- Tabela ComporCursoDisciplina
CREATE TABLE ComporCursoDisciplina (
    SiglaCurso CHAR(10),
    SiglaDisciplina CHAR(10),
    PRIMARY KEY (SiglaCurso, SiglaDisciplina),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso),
    FOREIGN KEY (SiglaDisciplina) REFERENCES Disciplina(Codigo)
);

-- Tabela MinistraAula
CREATE TABLE MinistraAula (
    CPFProfessor CHAR(11),
    CodigoDisciplina CHAR(10),
    PRIMARY KEY (CPFProfessor, CodigoDisciplina),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario),
    FOREIGN KEY (CodigoDisciplina) REFERENCES Disciplina(Codigo)
);

-- Tabela OfertaDisciplina
CREATE TABLE OfertaDisciplina (
    CodigoDisciplina CHAR(10),
    CPFProfessor CHAR(11),
    Dia VARCHAR(20),
    Hora TIME,
    Sala VARCHAR(50),
    PRIMARY KEY (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala),
    FOREIGN KEY (CodigoDisciplina) REFERENCES Disciplina(Codigo),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario)
);

-- Tabela Matricula de Alunos em OfertaDisciplina
CREATE TABLE Matricula (
    CPFAluno CHAR(11),
    CodigoDisciplina CHAR(10),
    CPFProfessor CHAR(11),
    Dia VARCHAR(20),
    Hora TIME,
    Sala VARCHAR(50),
    PRIMARY KEY (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala),
    FOREIGN KEY (CPFAluno) REFERENCES Aluno(CPFUsuario),
    FOREIGN KEY (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
        REFERENCES OfertaDisciplina(CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
);

-- Tabela de Inscricao de Matrículas em Disciplinas Ofertadas
CREATE TABLE Inscricao (
    DataInscricao TIMESTAMP,
    CPFAluno CHAR(11),
    CodigoDisciplina CHAR(10),
    CPFProfessor CHAR(11),
    Dia VARCHAR(20),
    Hora TIME,
    Sala VARCHAR(50),
    Notas VARCHAR (20),
    PRIMARY KEY (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala),
    FOREIGN KEY (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
        REFERENCES Matricula(CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
);

-- Tabela PreRequisitoDisciplina
CREATE TABLE PreRequisitoDisciplina (
    SiglaCurso CHAR(10),
    CodigoDisciplinaPreReq CHAR(10),
    PRIMARY KEY (SiglaCurso, CodigoDisciplinaPreReq),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso),
    FOREIGN KEY (CodigoDisciplinaPreReq) REFERENCES Disciplina(Codigo)
);

-- Tabela PreRequisitoCurso
CREATE TABLE PreRequisitoCurso (
    SiglaCurso CHAR(10),
    SiglaCursoPreReq CHAR(10),
    PRIMARY KEY (SiglaCurso, SiglaCursoPreReq),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso),
    FOREIGN KEY (SiglaCursoPreReq) REFERENCES Curso(SiglaCurso)
);

-- Tabela Regras
CREATE TABLE Regras (
    CodigoRegra INT PRIMARY KEY,
    SiglaCurso CHAR(10),
    FrequenciaMinima DECIMAL(5,2),
    CriterioAvaliacao TEXT,
    Infraestrutura TEXT,
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso)
);

-- Tabela Mensagem
CREATE TABLE Mensagem (
    IDMensagem INT PRIMARY KEY,
    TextoMensagem TEXT
);

-- Tabela Comunica
CREATE TABLE Comunica (
    CPFProfessor CHAR(11),
    CPFAluno CHAR(11),
    IDMensagem INT,
    DataEnvio TIMESTAMP,
    PRIMARY KEY (CPFProfessor, CPFAluno, IDMensagem),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario),
    FOREIGN KEY (CPFAluno) REFERENCES Aluno(CPFUsuario),
    FOREIGN KEY (IDMensagem) REFERENCES Mensagem(IDMensagem)
);

-- Tabela Avisos
CREATE TABLE Avisos (
    IDAviso INT PRIMARY KEY,
    TextoAviso TEXT
);

-- Tabela Notifica
CREATE TABLE Notifica (
    CPFUsuario CHAR(11),
    CPFFuncionario CHAR(11),
    IDAviso INT,
    DataEnvio TIMESTAMP,
    PRIMARY KEY (CPFUsuario, CPFFuncionario, IDAviso),
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF),
    FOREIGN KEY (CPFFuncionario) REFERENCES Funcionario(CPFUsuario),
    FOREIGN KEY (IDAviso) REFERENCES Avisos(IDAviso)
);

-- Tabela Feedback
CREATE TABLE FeedBack (
    CPFAluno VARCHAR(11),
    CPFProfessor VARCHAR(11),
    CodigoDisciplina VARCHAR(20),
    PRIMARY KEY (CPFAluno, CPFProfessor, CodigoDisciplina),
    FOREIGN KEY (CPFAluno) REFERENCES Aluno(CPFUsuario),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario),
    FOREIGN KEY (CodigoDisciplina) REFERENCES Disciplina(Codigo)
);

-- Tabela Avaliacao
-- De acordo com nosso modelo, qualquer aluno pode fazer avaliação de uma disciplina, mesmo se ele não estiver matriculado nele
CREATE TABLE Avaliacao (
    DataAvaliacao TIMESTAMP,
    CPFAluno VARCHAR(11),
    CPFProfessor VARCHAR(11),
    CodigoDisciplina VARCHAR(20),
    RatingProfessor INT,
    RatingMaterial INT,
    RatingInfraestrutura INT,
    RatingRelevancia INT,
    Comentario VARCHAR(500),
    PRIMARY KEY (DataAvaliacao, CPFAluno, CPFProfessor, CodigoDisciplina),
    FOREIGN KEY (CPFAluno, CPFProfessor, CodigoDisciplina) 
        REFERENCES FeedBack(CPFAluno, CPFProfessor, CodigoDisciplina),
    CHECK (RatingProfessor BETWEEN 0 AND 5),
    CHECK (RatingMaterial BETWEEN 0 AND 5),
    CHECK (RatingInfraestrutura BETWEEN 0 AND 5),
    CHECK (RatingRelevancia BETWEEN 0 AND 5)
);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

## 3.Inserindo Dados na Tabela

### 3.1.Inserindo Usuarios

In [13]:
%%sql
INSERT INTO Usuario (CPF, NomeUsuario, SobrenomeUsuario, NumeroTelefone, Endereco, Email, Senha, DataNascimento, Sexo) VALUES
('12345678901', 'João', 'Silva', '11987654321', 'Rua A, 123', 'joao.silva@email.com', 'senha123', '1990-05-10', 'M'),
('23456789012', 'Maria', 'Oliveira', '21987654321', 'Avenida B, 456', 'maria.oliveira@email.com', 'senha456', '1992-08-15', 'F'),
('34567890123', 'Carlos', 'Pereira', '31987654321', 'Rua C, 789', 'carlos.pereira@email.com', 'senha789', '1991-12-20', 'M'),
('45678901234', 'Ana', 'Souza', '41987654321', 'Praça D, 321', 'ana.souza@email.com', 'senha101', '1993-02-14', 'F'),
('56789012345', 'Pedro', 'Costa', '51987654321', 'Rua E, 654', 'pedro.costa@email.com', 'senha202', '1989-07-30', 'M'),
('67890123456', 'Juliana', 'Mendes', '61987654321', 'Avenida F, 987', 'juliana.mendes@email.com', 'senha303', '1994-03-25', 'F'),
('78901234567', 'Ricardo', 'Lima', '71987654321', 'Rua G, 123', 'ricardo.lima@email.com', 'senha404', '1992-11-18', 'M'),
('89012345678', 'Patrícia', 'Alves', '81987654321', 'Avenida H, 456', 'patricia.alves@email.com', 'senha505', '1990-01-05', 'F'),
('90123456789', 'Lucas', 'Santos', '91987654321', 'Rua I, 789', 'lucas.santos@email.com', 'senha606', '1988-10-17', 'M'),
('01234567890', 'Fernanda', 'Martins', '11987654321', 'Praça J, 654', 'fernanda.martins@email.com', 'senha707', '1995-06-12', 'F'),
('11223344556', 'Roberto', 'Barros', '22987654321', 'Rua K, 321', 'roberto.barros@email.com', 'senha808', '1991-01-28', 'M'),
('22334455667', 'Gisele', 'Dias', '33987654321', 'Avenida L, 987', 'gisele.dias@email.com', 'senha909', '1994-09-06', 'F'),
('33445566778', 'Felipe', 'Gomes', '44987654321', 'Rua M, 123', 'felipe.gomes@email.com', 'senha1010', '1993-07-14', 'M'),
('44556677889', 'Sofia', 'Ferreira', '55987654321', 'Praça N, 456', 'sofia.ferreira@email.com', 'senha1111', '1992-12-03', 'F'),
('55667788990', 'Marcos', 'Rodrigues', '66987654321', 'Rua O, 789', 'marcos.rodrigues@email.com', 'senha1212', '1991-03-21', 'M'),
('66778899001', 'Letícia', 'Silveira', '77987654321', 'Avenida P, 321', 'leticia.silveira@email.com', 'senha1313', '1990-10-15', 'F'),
('77889900112', 'Gustavo', 'Nascimento', '88987654321', 'Rua Q, 654', 'gustavo.nascimento@email.com', 'senha1414', '1994-04-02', 'M'),
('88990011223', 'Carla', 'Pereira', '99987654321', 'Avenida R, 987', 'carla.pereira@email.com', 'senha1515', '1993-05-17', 'F'),
('99001122334', 'Vinícius', 'Oliveira', '11987654321', 'Rua S, 123', 'vinicius.oliveira@email.com', 'senha1616', '1989-11-24', 'M'),
('10112233445', 'Camila', 'Costa', '22987654321', 'Praça T, 456', 'camila.costa@email.com', 'senha1717', '1992-02-09', 'F'),
('11223344567', 'Leandro', 'Martins', '33987654321', 'Rua U, 789', 'leandro.martins@email.com', 'senha1818', '1991-12-22', 'M'),
('22334455678', 'Talita', 'Gomes', '44987654321', 'Avenida V, 321', 'talita.gomes@email.com', 'senha1919', '1993-01-07', 'F'),
('33445566789', 'Rafael', 'Almeida', '55987654321', 'Rua W, 654', 'rafael.almeida@email.com', 'senha2020', '1988-07-18', 'M'),
('44556677890', 'Jéssica', 'Santos', '66987654321', 'Praça X, 987', 'jessica.santos@email.com', 'senha2121', '1994-11-13', 'F'),
('55667788901', 'Mariana', 'Souza', '77987654321', 'Rua Y, 123', 'mariana.souza@email.com', 'senha2222', '1990-04-20', 'F'),
('66778899012', 'André', 'Dias', '88987654321', 'Avenida Z, 456', 'andre.dias@email.com', 'senha2323', '1992-03-11', 'M'),
('77889900123', 'Renata', 'Ferreira', '99987654321', 'Rua AA, 789', 'renata.ferreira@email.com', 'senha2424', '1994-10-02', 'F'),
('88990011234', 'Felipe', 'Lima', '11987654321', 'Praça BB, 654', 'felipe.lima@email.com', 'senha2525', '1989-09-15', 'M');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
28 rows affected.

[]

### 3.2.Inserindo Escolas

In [14]:
%%sql
-- A maioria das unidades escolares não vão contem dados
INSERT INTO UnidadeEscolar (IDEscola, NomeCidade, SiglaEstado, SiglaPais, NumeroPredio) VALUES
(1, 'São Paulo', 'SP', 'BRA', 'A1'),
(2, 'Rio de Janeiro', 'RJ', 'BRA', 'B2'),
(3, 'Belo Horizonte', 'MG', 'BRA', 'C3'),
(4, 'Curitiba', 'PR', 'BRA', 'D4'),
(5, 'Porto Alegre', 'RS', 'BRA', 'E5'),
(6, 'Salvador', 'BA', 'BRA', 'F6'),
(7, 'Fortaleza', 'CE', 'BRA', 'G7'),
(8, 'Recife', 'PE', 'BRA', 'H8'),
(9, 'Brasília', 'DF', 'BRA', 'I9'),
(10, 'Manaus', 'AM', 'BRA', 'J10'),
(11, 'Natal', 'RN', 'BRA', 'K11'),
(12, 'Florianópolis', 'SC', 'BRA', 'L12'),
(13, 'Maceió', 'AL', 'BRA', 'M13'),
(14, 'Belém', 'PA', 'BRA', 'N14'),
(15, 'João Pessoa', 'PB', 'BRA', 'O15'),
(16, 'Vitória', 'ES', 'BRA', 'P16'),
(17, 'Goiânia', 'GO', 'BRA', 'Q17'),
(18, 'Cuiabá', 'MT', 'BRA', 'R18'),
(19, 'Campo Grande', 'MS', 'BRA', 'S19'),
(20, 'São Luís', 'MA', 'BRA', 'T20'),
(21, 'Aracaju', 'SE', 'BRA', 'U21'),
(22, 'Teresina', 'PI', 'BRA', 'V22'),
(23, 'Palmas', 'TO', 'BRA', 'W23'),
(24, 'Rio Branco', 'AC', 'BRA', 'X24'),
(25, 'Porto Velho', 'RO', 'BRA', 'Y25'),
(26, 'Boa Vista', 'RR', 'BRA', 'Z26'),
(27, 'Macapá', 'AP', 'BRA', 'AA27'),
(28, 'Cabo Frio', 'RJ', 'BRA', 'BB28'),
(29, 'Angra dos Reis', 'RJ', 'BRA', 'CC29'),
(30, 'Ilhéus', 'BA', 'BRA', 'DD30');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
30 rows affected.

[]

### 3.3.Associando Alunos a Usuários e a Uma Escola

In [15]:
%%sql
-- Inserção de Alunos para a Escola 1
INSERT INTO Aluno (CPFUsuario, Bolsa, IDEscola) VALUES
('12345678901', TRUE, 1),
('23456789012', FALSE, 1),
('34567890123', TRUE, 1),
('45678901234', FALSE, 1),
('56789012345', TRUE, 1),
('67890123456', FALSE, 1),
('78901234567', TRUE, 1),
('89012345678', FALSE, 1),
('90123456789', TRUE, 1),
('01234567890', FALSE, 1);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[]

### 3.4.Associando Professores a Usuários e a Uma Escola

In [16]:
%%sql
-- inserção de Professores para a Escola 1
INSERT INTO Professor (CPFUsuario, Titulacao, AreaEspecialidade, IDEscola) VALUES
('11223344556', 'Mestre', 'Matemática', 1),
('22334455667', 'Doutor', 'Português', 1),
('33445566778', 'Mestre', 'Física', 1),
('44556677889', 'Doutor', 'Química', 1),
('55667788990', 'Mestre', 'História', 1),
('66778899001', 'Doutor', 'Geografia', 1),
('77889900112', 'Mestre', 'Biologia', 1),
('88990011223', 'Doutor', 'Matemática', 1),
('99001122334', 'Mestre', 'Português', 1),
('10112233445', 'Doutor', 'Física', 1);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[]

### 3.5.Associando Funcionários a Usuários

In [17]:
%%sql
INSERT INTO Funcionario (CPFUsuario, Operacao) VALUES
('11223344567', 'Recepção'),
('22334455678', 'Limpeza'),
('33445566789', 'Segurança'),
('44556677890', 'Biblioteca'),
('55667788901', 'Laboratório'),
('66778899012', 'Secretaria'),
('77889900123', 'Coordenação'),
('88990011234', 'TI');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
8 rows affected.

[]

### 3.6.Inserindo Departamentos

In [18]:
%%sql
-- Inserção de Professores Chefiando Departamento
INSERT INTO Departamento (SiglaDepartamento, CPFProfessor, NomeDepartamento) VALUES
('DEP01', '11223344556', 'Matemática'),
('DEP02', '22334455667', 'Línguas'),
('DEP03', '88990011223', 'Informática'),
('DEP04', '66778899001', 'Administração'),
('DEP05', '44556677889', 'Engenharia'),
('DEP06', '33445566778', 'Ciências Exatas'),
('DEP07', '55667788990', 'Ciências Humanas'),
('DEP08', '77889900112', 'Saúde'),
('DEP09', '99001122334', 'Artes'),
('DEP10', '10112233445', 'Educação Física');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.

[]

### 3.7.Inserindo Cursos e Associando a Departamentos

In [19]:
%%sql
INSERT INTO Curso (SiglaCurso, SiglaDepartamento, NomeCurso, Classificacao, CargaHoraria, NumeroVagas) VALUES
('FND01', 'DEP01', 'Matemática Fundamental', 'Fundamental', 900, 250),
('FND02', 'DEP02', 'Português Fundamental', 'Fundamental', 900, 250),
('FND03', 'DEP07', 'História Fundamental', 'Fundamental', 900, 250),
('FND04', 'DEP07', 'Geografia Fundamental', 'Fundamental', 900, 250),
('FND05', 'DEP06', 'Ciências Naturais Fundamental', 'Fundamental', 900, 250),
('FND06', 'DEP09', 'Artes Fundamental', 'Fundamental', 900, 200),
('FND07', 'DEP10', 'Educação Física Fundamental', 'Fundamental', 900, 200),
('FND08', 'DEP08', 'Saúde e Bem-estar Fundamental', 'Fundamental', 900, 200),
('FND09', 'DEP01', 'Lógica e Raciocínio Fundamental', 'Fundamental', 900, 200),
('FND10', 'DEP03', 'Informática Básica Fundamental', 'Fundamental', 900, 150),

('EM01', 'DEP01', 'Matemática Ensino Médio', 'Ensino Médio', 1200, 200),
('EM02', 'DEP02', 'Português Ensino Médio', 'Ensino Médio', 1200, 200),
('EM03', 'DEP07', 'Filosofia Ensino Médio', 'Ensino Médio', 1200, 150),
('EM04', 'DEP07', 'Sociologia Ensino Médio', 'Ensino Médio', 1200, 150),
('EM05', 'DEP06', 'Química Ensino Médio', 'Ensino Médio', 1200, 200),
('EM06', 'DEP06', 'Física Ensino Médio', 'Ensino Médio', 1200, 200),
('EM07', 'DEP09', 'Artes Ensino Médio', 'Ensino Médio', 1200, 150),
('EM08', 'DEP10', 'Educação Física Ensino Médio', 'Ensino Médio', 1200, 150),
('EM09', 'DEP08', 'Biologia Ensino Médio', 'Ensino Médio', 1200, 200),
('EM10', 'DEP03', 'Informática Ensino Médio', 'Ensino Médio', 1200, 150),

('TC01', 'DEP03', 'Técnico em Informática', 'Técnico', 1800, 100),
('TC02', 'DEP05', 'Técnico em Mecânica', 'Técnico', 1800, 80),
('TC03', 'DEP04', 'Técnico em Administração', 'Técnico', 1800, 80),
('TC04', 'DEP08', 'Técnico em Enfermagem', 'Técnico', 1800, 60),
('TC05', 'DEP09', 'Técnico em Design', 'Técnico', 1800, 70),
('TC06', 'DEP10', 'Técnico em Educação Física', 'Técnico', 1800, 60),
('TC07', 'DEP01', 'Técnico em Química', 'Técnico', 1800, 70),
('TC08', 'DEP07', 'Técnico em Meio Ambiente', 'Técnico', 1800, 60),
('TC09', 'DEP06', 'Técnico em Física Aplicada', 'Técnico', 1800, 50),
('TC10', 'DEP03', 'Técnico em Redes de Computadores', 'Técnico', 1800, 100);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
30 rows affected.

[]

### 3.8.Associando Regras aos Cursos

In [20]:
%%sql
INSERT INTO Regras (CodigoRegra, SiglaCurso, FrequenciaMinima, CriterioAvaliacao, Infraestrutura) VALUES
(1, 'FND01', 75.00, 'Provas mensais e atividades semanais.', 'Sala com quadro branco e projetor.'),
(2, 'FND02', 75.00, 'Redações e provas objetivas.', 'Sala com acervo de livros e dicionários.'),
(3, 'FND03', 75.00, 'Análise de textos e participação.', 'Sala temática com mapas históricos.'),
(4, 'FND04', 75.00, 'Trabalhos em grupo e provas escritas.', 'Sala equipada com globos e mapas.'),
(5, 'FND05', 75.00, 'Provas teóricas e experimentos.', 'Laboratório de Ciências.'),
(6, 'FND06', 70.00, 'Avaliações práticas e portfólios.', 'Ateliê de artes com materiais diversos.'),
(7, 'FND07', 80.00, 'Provas práticas e avaliação física.', 'Quadra e sala de ginástica.'),os
(8, 'FND08', 75.00, 'Projetos e seminários sobre saúde.', 'Sala com recursos de saúde.'),
(9, 'FND09', 80.00, 'Exercícios lógicos e testes orais.', 'Sala com materiais de lógica e jogos.'),
(10, 'FND10', 75.00, 'Projetos em grupo e testes práticos.', 'Laboratório de informática com acesso à internet.'),

(11, 'EM01', 80.00, 'Provas bimestrais e listas de exercícios.', 'Sala com lousa digital.'),
(12, 'EM02', 80.00, 'Análise textual e provas discursivas.', 'Sala com biblioteca integrada.'),
(13, 'EM03', 75.00, 'Debates, provas e ensaios filosóficos.', 'Sala com acervo filosófico.'),
(14, 'EM04', 75.00, 'Trabalhos reflexivos e provas.', 'Sala multimídia.'),
(15, 'EM05', 80.00, 'Provas teóricas e experimentos químicos.', 'Laboratório de química.'),
(16, 'EM06', 80.00, 'Listas de exercícios e provas práticas.', 'Laboratório de física.'),
(17, 'EM07', 75.00, 'Criação artística e avaliação prática.', 'Estúdio de arte e exposição.'),
(18, 'EM08', 85.00, 'Avaliação física e prática esportiva.', 'Ginásio e campo.'),
(19, 'EM09', 80.00, 'Provas, experimentos e pesquisas.', 'Laboratório de biologia com microscópios.'),
(20, 'EM10', 80.00, 'Projetos computacionais e provas práticas.', 'Laboratório com rede e computadores.'),

(21, 'TC01', 85.00, 'Projetos práticos e provas técnicas.', 'Laboratório de informática avançada.'),
(22, 'TC02', 85.00, 'Oficinas práticas e provas técnicas.', 'Oficina mecânica equipada.'),
(23, 'TC03', 85.00, 'Estudos de caso e simulações.', 'Sala de administração com softwares específicos.'),
(24, 'TC04', 85.00, 'Aulas práticas e estágio supervisionado.', 'Laboratório de enfermagem.'),
(25, 'TC05', 85.00, 'Portfólios digitais e apresentações.', 'Sala de design com computadores gráficos.'),
(26, 'TC06', 90.00, 'Avaliações práticas e físicas.', 'Sala com equipamentos esportivos.'),
(27, 'TC07', 85.00, 'Práticas laboratoriais e provas.', 'Laboratório de química técnica.'),
(28, 'TC08', 85.00, 'Trabalhos de campo e avaliações escritas.', 'Sala com recursos ambientais e vídeos.'),
(29, 'TC09', 85.00, 'Simulações e testes práticos.', 'Laboratório com kits de física aplicada.'),
(30, 'TC10', 85.00, 'Configuração de redes e provas práticas.', 'Laboratório de redes com switches e roteadores.');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.SyntaxError) syntax error at or near "os"
LINE 8: ...icas e avaliação física.', 'Quadra e sala de ginástica.'),os
                                                                     ^

[SQL: INSERT INTO Regras (CodigoRegra, SiglaCurso, FrequenciaMinima, CriterioAvaliacao, Infraestrutura) VALUES
(1, 'FND01', 75.00, 'Provas mensais e atividades semanais.', 'Sala com quadro branco e projetor.'),
(2, 'FND02', 75.00, 'Redações e provas objetivas.', 'Sala com acervo de livros e dicionários.'),
(3, 'FND03', 75.00, 'Análise de textos e participação.', 'Sala temática com mapas históricos.'),
(4, 'FND04', 75.00, 'Trabalhos em grupo e provas escritas.', 'Sala equipada com globos e mapas.'),
(5, 'FND05', 75.00, 'Provas teóricas e experimentos.', 'Laboratório de Ciências.'),
(6, 'FND06', 70.00, 'Avaliações práticas e portfólios.', 'Ateliê de artes com materiais diversos.'),
(7, 'FND07', 80.00, 'Provas práticas e avaliação física.', 'Quadra e sala de ginástica.'),os
(8, 'FND08', 75.00, 'Projetos e seminários sobre saúde.', 'Sala com recursos de saúde.'),
(9, 'FND09', 80.00, 'Exercícios lógicos e testes orais.', 'Sala com materiais de lógica e jogos.'),
(10, 'FND10', 75.00, 'Projetos em grupo e testes práticos.', 'Laboratório de informática com acesso à internet.'),

(11, 'EM01', 80.00, 'Provas bimestrais e listas de exercícios.', 'Sala com lousa digital.'),
(12, 'EM02', 80.00, 'Análise textual e provas discursivas.', 'Sala com biblioteca integrada.'),
(13, 'EM03', 75.00, 'Debates, provas e ensaios filosóficos.', 'Sala com acervo filosófico.'),
(14, 'EM04', 75.00, 'Trabalhos reflexivos e provas.', 'Sala multimídia.'),
(15, 'EM05', 80.00, 'Provas teóricas e experimentos químicos.', 'Laboratório de química.'),
(16, 'EM06', 80.00, 'Listas de exercícios e provas práticas.', 'Laboratório de física.'),
(17, 'EM07', 75.00, 'Criação artística e avaliação prática.', 'Estúdio de arte e exposição.'),
(18, 'EM08', 85.00, 'Avaliação física e prática esportiva.', 'Ginásio e campo.'),
(19, 'EM09', 80.00, 'Provas, experimentos e pesquisas.', 'Laboratório de biologia com microscópios.'),
(20, 'EM10', 80.00, 'Projetos computacionais e provas práticas.', 'Laboratório com rede e computadores.'),

(21, 'TC01', 85.00, 'Projetos práticos e provas técnicas.', 'Laboratório de informática avançada.'),
(22, 'TC02', 85.00, 'Oficinas práticas e provas técnicas.', 'Oficina mecânica equipada.'),
(23, 'TC03', 85.00, 'Estudos de caso e simulações.', 'Sala de administração com softwares específicos.'),
(24, 'TC04', 85.00, 'Aulas práticas e estágio supervisionado.', 'Laboratório de enfermagem.'),
(25, 'TC05', 85.00, 'Portfólios digitais e apresentações.', 'Sala de design com computadores gráficos.'),
(26, 'TC06', 90.00, 'Avaliações práticas e físicas.', 'Sala com equipamentos esportivos.'),
(27, 'TC07', 85.00, 'Práticas laboratoriais e provas.', 'Laboratório de química técnica.'),
(28, 'TC08', 85.00, 'Trabalhos de campo e avaliações escritas.', 'Sala com recursos ambientais e vídeos.'),
(29, 'TC09', 85.00, 'Simulações e testes práticos.', 'Laboratório com kits de física aplicada.'),
(30, 'TC10', 85.00, 'Configuração de redes e provas práticas.', 'Laboratório de redes com switches e roteadores.');]
(Background on this error at: https://sqlalche.me/e/20/f405)

### 3.9.Associando Cursos a Suas Devidas Escolas

In [21]:
%%sql
-- Unidade 1 (São Paulo) - 10 cursos
INSERT INTO Vinculo (IDEscola, SiglaCurso) VALUES
(1, 'FND01'), 
(1, 'FND02'), 
(1, 'FND03'), 
(1, 'FND04'), 
(1, 'FND05'),
(1, 'EM01'), 
(1, 'EM02'), 
(1, 'EM03'), 
(1, 'TC01'), 
(1, 'TC02');

-- Unidade 2 (Rio de Janeiro) - 10 cursos (alguns repetidos da 1 e 3)
INSERT INTO Vinculo (IDEscola, SiglaCurso) VALUES
(2, 'FND04'), 
(2, 'FND05'), 
(2, 'FND06'), 
(2, 'EM05'), 
(2, 'EM06'),
(2, 'EM07'), 
(2, 'TC02'), 
(2, 'TC03'), 
(2, 'TC04'), 
(2, 'TC05');

-- Unidade 3 (Belo Horizonte) - 10 cursos (alguns repetidos da 1 e 2)
INSERT INTO Vinculo (IDEscola, SiglaCurso) VALUES
(3, 'FND01'), 
(3, 'FND02'), 
(3, 'FND07'), 
(3, 'EM01'), 
(3, 'EM08'),
(3, 'EM09'), 
(3, 'TC01'), 
(3, 'TC06'), 
(3, 'TC07'), 
(3, 'TC08');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.
10 rows affected.
10 rows affected.

[]

### 3.10.Inserindo Disciplinas

In [22]:
%%sql
INSERT INTO Disciplina (Codigo, NomeDisciplina, QTDAulas, MaterialDidatico) VALUES
('D001', 'Matemática 1', 60, 'Livro de Álgebra'),
('D002', 'Português 1', 50, 'Gramática e Literatura'),
('D003', 'Física 1', 40, 'Livro de Física Geral'),
('D004', 'Química 1', 45, 'Tabela Periódica'),
('D005', 'História 1', 40, 'Material de Pesquisa'),
('D006', 'Geografia 1', 30, 'Mapa do Mundo'),
('D007', 'Biologia 1', 50, 'Guia de Biologia Geral'),
('D008', 'Matemática 2', 60, 'Livro de Geometria'),
('D009', 'Português 2', 50, 'Literatura Brasileira'),
('D010', 'Física 2', 45, 'Termodinâmica e Dinâmica'),
('D011', 'Química 2', 55, 'Reações Químicas'),
('D012', 'História 2', 40, 'Fontes Históricas'),
('D013', 'Geografia 2', 35, 'Geografia Econômica'),
('D014', 'Biologia 2', 50, 'Células e Genética'),
('D015', 'Matemática 3', 60, 'Livro de Cálculo'),
('D016', 'Português 3', 50, 'Língua Portuguesa Avançada'),
('D017', 'Física 3', 45, 'Eletromagnetismo'),
('D018', 'Química 3', 50, 'Química Orgânica'),
('D019', 'História 3', 40, 'História Contemporânea'),
('D020', 'Geografia 3', 30, 'Geopolítica'),
('D021', 'Biologia 3', 45, 'Ecologia e Meio Ambiente'),
('D022', 'Matemática 4', 50, 'Álgebra Linear'),
('D023', 'Português 4', 50, 'Interpretação de Texto'),
('D024', 'Física 4', 60, 'Mecânica e Astronomia'),
('D025', 'Química 4', 45, 'Físico-Química'),
('D026', 'História 4', 40, 'Revoluções Históricas'),
('D027', 'Geografia 4', 30, 'Geografia Urbana'),
('D028', 'Biologia 4', 50, 'Anatomia Humana'),
('D029', 'Matemática 5', 60, 'Cálculo Diferencial'),
('D030', 'Português 5', 50, 'Literatura Contemporânea');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
30 rows affected.

[]

### 3.11.Associando Disciplinas aos Cursos

In [23]:
%%sql
-- As tabelas as seguir não garantem "sentido" entre as disciplinas e cursos
-- por exemplo, um curso técnico poder conter uma disciplna considerada "fundamental"
-- por enquanto são apenas dados ilustrativos
-- ComporCursoDisciplina - Fundamental
INSERT INTO ComporCursoDisciplina (SiglaCurso, SiglaDisciplina) VALUES
('FND01', 'D001'),
('FND01', 'D008'),
('FND01', 'D015'),
('FND02', 'D002'),
('FND02', 'D009'),
('FND03', 'D005'),
('FND03', 'D012'),
('FND04', 'D006'),
('FND04', 'D013'),
('FND05', 'D007');

-- ComporCursoDisciplina - Ensino Médio
INSERT INTO ComporCursoDisciplina (SiglaCurso, SiglaDisciplina) VALUES
('EM01', 'D015'),
('EM01', 'D022'),
('EM02', 'D016'),
('EM02', 'D023'),
('EM05', 'D004'),
('EM05', 'D011'),
('EM06', 'D003'),
('EM06', 'D010'),
('EM09', 'D007'),
('EM09', 'D014');

-- ComporCursoDisciplina - Técnico
INSERT INTO ComporCursoDisciplina (SiglaCurso, SiglaDisciplina) VALUES
('TC01', 'D024'),
('TC01', 'D001'),
('TC01', 'D030'),
('TC02', 'D003'),
('TC02', 'D004'),
('TC03', 'D002'),
('TC03', 'D016'),
('TC04', 'D007'),
('TC04', 'D028'),
('TC09', 'D017');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
10 rows affected.
10 rows affected.
10 rows affected.

[]

### 3.12.Associando cursos que são pré-requisitos de outros cursos

In [24]:
%%sql
-- Inserindo as regras de cursos que são pré-requisitos de outros cursos
-- Ensino Médio requer Fundamental
INSERT INTO PreRequisitoCurso (SiglaCurso, SiglaCursoPreReq) VALUES
('EM01', 'FND01'), 
('EM02', 'FND02'),
('EM05', 'FND05'), 
('EM06', 'FND05');

-- Técnico requer Ensino Médio
INSERT INTO PreRequisitoCurso (SiglaCurso, SiglaCursoPreReq) VALUES
('TC01', 'EM10'), 
('TC04', 'EM09'),
('TC07', 'EM05'),
('TC09', 'EM06');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
4 rows affected.
4 rows affected.

[]

### 3.13.Associando Disciplinas que são pré-requisitos de outros cursos

In [25]:
%%sql
-- Inserindo as regras de disciplinas que são pré-requisitos para outros cursos
-- Para FND01 (Matemática Fundamental)
INSERT INTO PreRequisitoDisciplina (SiglaCurso, CodigoDisciplinaPreReq) VALUES
('FND01', 'D001'), 
('FND01', 'D008');

-- Para EM01 (Matemática Ensino Médio)
INSERT INTO PreRequisitoDisciplina (SiglaCurso, CodigoDisciplinaPreReq) VALUES
('EM01', 'D015');

-- Para TC01 (Técnico em Informática)
INSERT INTO PreRequisitoDisciplina (SiglaCurso, CodigoDisciplinaPreReq) VALUES
('TC01', 'D001'),
('TC01', 'D024'); 

-- Para EM05 (Química Ensino Médio)
INSERT INTO PreRequisitoDisciplina (SiglaCurso, CodigoDisciplinaPreReq) VALUES
('EM05', 'D004');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
2 rows affected.
1 rows affected.
2 rows affected.
1 rows affected.

[]

### 3.14.Associando Professores as Disciplinas (Ministra Aula)

In [26]:
%%sql
-- Professores ministrando aulas de acordo com suas áreas de especialidade
-- Professores de Matemática
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('11223344556', 'D001'),  -- Matemática 1
('11223344556', 'D008'),  -- Matemática 2
('11223344556', 'D015'),  -- Matemática 3
('11223344556', 'D022'),  -- Matemática 4
('11223344556', 'D029'),  -- Matemática 5
('88990011223', 'D008'),  -- Matemática 2
('88990011223', 'D015'),  -- Matemática 3
('88990011223', 'D022'),  -- Matemática 4
('88990011223', 'D029');  -- Matemática 5

-- Professores de Português
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('22334455667', 'D002'),  -- Português 1
('22334455667', 'D009'),  -- Português 2
('22334455667', 'D016'),  -- Português 3
('22334455667', 'D023'),  -- Português 4
('22334455667', 'D030'),  -- Português 5
('99001122334', 'D002'),  -- Português 1
('99001122334', 'D009'),  -- Português 2
('99001122334', 'D016'),  -- Português 3
('99001122334', 'D023'),  -- Português 4
('99001122334', 'D030');  -- Português 5

-- Professores de Física
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('33445566778', 'D003'),  -- Física 1
('33445566778', 'D010'),  -- Física 2
('33445566778', 'D017'),  -- Física 3
('33445566778', 'D024'),  -- Física 4
('10112233445', 'D003'),  -- Física 1
('10112233445', 'D010'),  -- Física 2
('10112233445', 'D017'),  -- Física 3
('10112233445', 'D024');  -- Física 4

-- Professores de Química
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('44556677889', 'D004'),  -- Química 1
('44556677889', 'D011'),  -- Química 2
('44556677889', 'D018'),  -- Química 3
('44556677889', 'D025');  -- Química 4

-- Professores de História
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('55667788990', 'D005'),  -- História 1
('55667788990', 'D012'),  -- História 2
('55667788990', 'D019'),  -- História 3
('55667788990', 'D026');  -- História 4

-- Professores de Geografia
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('66778899001', 'D006'),  -- Geografia 1
('66778899001', 'D013'),  -- Geografia 2
('66778899001', 'D020'),  -- Geografia 3
('66778899001', 'D027');  -- Geografia 4

-- Professores de Biologia
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('77889900112', 'D007'),  -- Biologia 1
('77889900112', 'D014'),  -- Biologia 2
('77889900112', 'D021'),  -- Biologia 3
('77889900112', 'D028');  -- Biologia 4

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
9 rows affected.
10 rows affected.
8 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.

[]

### 3.15.Associando Professores e Disciplinas a um Determinado Horário (Oferta Aula)

In [27]:
%%sql
-- Ofertas de disciplinas para todos os professores que ministram aulas
-- Professor 11223344556 - Matemática
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102'),
('D015', '11223344556', 'Quarta-feira', '14:00:00', 'Sala 103'),
('D022', '11223344556', 'Quinta-feira', '16:00:00', 'Sala 104'),
('D029', '11223344556', 'Sexta-feira', '10:00:00', 'Sala 105');

-- Professor 88990011223 - Matemática
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D008', '88990011223', 'Segunda-feira', '14:00:00', 'Sala 201'),
('D015', '88990011223', 'Terça-feira', '10:00:00', 'Sala 202'),
('D022', '88990011223', 'Quarta-feira', '08:00:00', 'Sala 203'),
('D029', '88990011223', 'Quinta-feira', '14:00:00', 'Sala 204');

-- Professor 22334455667 - Português
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302'),
('D016', '22334455667', 'Quarta-feira', '10:00:00', 'Sala 303'),
('D023', '22334455667', 'Quinta-feira', '16:00:00', 'Sala 304'),
('D030', '22334455667', 'Sexta-feira', '08:00:00', 'Sala 305');

-- Professor 99001122334 - Português
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D002', '99001122334', 'Segunda-feira', '16:00:00', 'Sala 401'),
('D009', '99001122334', 'Terça-feira', '08:00:00', 'Sala 402'),
('D016', '99001122334', 'Quarta-feira', '14:00:00', 'Sala 403'),
('D023', '99001122334', 'Quinta-feira', '10:00:00', 'Sala 404'),
('D030', '99001122334', 'Sexta-feira', '14:00:00', 'Sala 405');

-- Professor 33445566778 - Física
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2'),
('D017', '33445566778', 'Quarta-feira', '16:00:00', 'Laboratório 3'),
('D024', '33445566778', 'Quinta-feira', '08:00:00', 'Laboratório 4');

-- Professor 10112233445 - Física
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D003', '10112233445', 'Segunda-feira', '08:00:00', 'Laboratório 5'),
('D010', '10112233445', 'Terça-feira', '16:00:00', 'Laboratório 6'),
('D017', '10112233445', 'Quarta-feira', '10:00:00', 'Laboratório 7'),
('D024', '10112233445', 'Quinta-feira', '14:00:00', 'Laboratório 8');

-- Professor 44556677889 - Química
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1'),
('D011', '44556677889', 'Terça-feira', '14:00:00', 'Laboratório Química 2'),
('D018', '44556677889', 'Quarta-feira', '08:00:00', 'Laboratório Química 3'),
('D025', '44556677889', 'Quinta-feira', '16:00:00', 'Laboratório Química 4');

-- Professor 55667788990 - História
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501'),
('D012', '55667788990', 'Terça-feira', '08:00:00', 'Sala 502'),
('D019', '55667788990', 'Quarta-feira', '14:00:00', 'Sala 503'),
('D026', '55667788990', 'Quinta-feira', '10:00:00', 'Sala 504');

-- Professor 66778899001 - Geografia
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 601'),
('D013', '66778899001', 'Terça-feira', '16:00:00', 'Sala 602'),
('D020', '66778899001', 'Quarta-feira', '10:00:00', 'Sala 603'),
('D027', '66778899001', 'Quinta-feira', '14:00:00', 'Sala 604');

-- Professor 77889900112 - Biologia
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1'),
('D014', '77889900112', 'Terça-feira', '10:00:00', 'Laboratório Biologia 2'),
('D021', '77889900112', 'Quarta-feira', '16:00:00', 'Laboratório Biologia 3'),
('D028', '77889900112', 'Quinta-feira', '08:00:00', 'Laboratório Biologia 4');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
5 rows affected.
4 rows affected.
5 rows affected.
5 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.

[]

### 3.16.Matriculando Alunos em Algumas Disciplinas

In [28]:
%%sql
-- Matrículas dos alunos em diferentes disciplinas
-- Aluno 12345678901
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('12345678901', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('12345678901', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('12345678901', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('12345678901', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1');

-- Aluno 23456789012
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('23456789012', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('23456789012', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501'),
('23456789012', 'D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 601'),
('23456789012', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1');

-- Aluno 34567890123
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('34567890123', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('34567890123', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('34567890123', 'D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102'),
('34567890123', 'D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302');

-- Aluno 45678901234
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('45678901234', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('45678901234', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501'),
('45678901234', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2'),
('45678901234', 'D011', '44556677889', 'Terça-feira', '14:00:00', 'Laboratório Química 2');

-- Aluno 56789012345
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('56789012345', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('56789012345', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('56789012345', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1'),
('56789012345', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501');

-- Aluno 67890123456
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('67890123456', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('67890123456', 'D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 601'),
('67890123456', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1'),
('67890123456', 'D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102');

-- Aluno 78901234567
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('78901234567', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('78901234567', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1'),
('78901234567', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501'),
('78901234567', 'D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302');

-- Aluno 89012345678
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('89012345678', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('89012345678', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1'),
('89012345678', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2'),
('89012345678', 'D012', '55667788990', 'Terça-feira', '08:00:00', 'Sala 502');

-- Aluno 90123456789
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('90123456789', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1'),
('90123456789', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501'),
('90123456789', 'D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 601'),
('90123456789', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1');

-- Aluno 01234567890
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('01234567890', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('01234567890', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('01234567890', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('01234567890', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.
4 rows affected.

[]

### 3.17.Fazendo a Inscrição de Aluno em Algumas Matrículas

In [29]:
%%sql
-- Inscrições dos alunos (nem todas as matrículas têm inscrição)
-- Aluno 12345678901 - Inscrito em 3 de 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 09:00:00', '12345678901', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.5'),
('2024-01-25 09:15:00', '12345678901', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301', '9.0'),
('2024-01-25 09:30:00', '12345678901', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1', '7.8');

-- Aluno 23456789012 - Inscrito em 2 de 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 10:00:00', '23456789012', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.2'),
('2024-01-25 10:15:00', '23456789012', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501', '9.5');

-- Aluno 34567890123 - Inscrito em todas as 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 11:00:00', '34567890123', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '7.5'),
('2024-01-25 11:15:00', '34567890123', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1', '8.8'),
('2024-01-25 11:30:00', '34567890123', 'D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102', '9.2'),
('2024-01-25 11:45:00', '34567890123', 'D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302', '8.0');

-- Aluno 45678901234 - Inscrito em 3 de 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 12:00:00', '45678901234', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301', '8.7'),
('2024-01-25 12:15:00', '45678901234', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501', '9.1'),
('2024-01-25 12:30:00', '45678901234', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2', '7.9');

-- Aluno 56789012345 - Inscrito em 2 de 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 13:00:00', '56789012345', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.9'),
('2024-01-25 13:15:00', '56789012345', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501', '8.3');

-- Aluno 67890123456 - Inscrito em 1 de 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 14:00:00', '67890123456', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1', '9.3');

-- Aluno 78901234567 - Inscrito em 3 de 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 15:00:00', '78901234567', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1', '8.1'),
('2024-01-25 15:15:00', '78901234567', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1', '8.6'),
('2024-01-25 15:30:00', '78901234567', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501', '9.0');

-- Aluno 89012345678 - Inscrito em 2 de 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 16:00:00', '89012345678', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '7.8'),
('2024-01-25 16:15:00', '89012345678', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2', '8.4');

-- Aluno 90123456789 - Inscrito em 1 de 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 17:00:00', '90123456789', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 501', '8.7');

-- Aluno 01234567890 - Inscrito em 3 de 4 disciplinas
INSERT INTO Inscricao (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala, Notas) VALUES
('2024-01-25 18:00:00', '01234567890', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.2'),
('2024-01-25 18:15:00', '01234567890', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301', '9.1'),
('2024-01-25 18:30:00', '01234567890', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1', '7.9');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
3 rows affected.
2 rows affected.
4 rows affected.
3 rows affected.
2 rows affected.
1 rows affected.
3 rows affected.
2 rows affected.
1 rows affected.
3 rows affected.

[]

### 3.18.Alunos Fazendo FeedBack para um Professor em uma Determinada Disciplina

In [30]:
%%sql
-- Alunos fazendo feedback de acordo com suas disciplinas para um professor
INSERT INTO FeedBack (CPFAluno, CPFProfessor, CodigoDisciplina) VALUES
('12345678901', '11223344556', 'D001'),
('23456789012', '11223344556', 'D001'),
('34567890123', '11223344556', 'D001'),
('56789012345', '11223344556', 'D001'),
('89012345678', '11223344556', 'D001'),
('01234567890', '11223344556', 'D001');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[]

### 3.19.Alunos Fazendo Avaliações para um Professor em uma Determinada Disciplina

In [31]:
%%sql
-- Alunos avaliam o professor 11223344556 na disciplina de matematica 1
INSERT INTO Avaliacao (DataAvaliacao, CPFAluno, CPFProfessor, CodigoDisciplina, RatingProfessor, RatingMaterial, RatingInfraestrutura, RatingRelevancia, Comentario) VALUES
('2025-06-16 10:00:00', '12345678901', '11223344556', 'D001', 5, 4, 5, 5, 'Excelente professor! Consegue explicar conceitos complexos de forma simples e clara. As aulas são muito dinâmicas e o material é bem organizado.'),
('2025-06-16 09:00:00', '23456789012', '11223344556', 'D001', 4, 4, 4, 5, 'Bom professor, explica bem os conceitos matemáticos. O material é adequado e as aulas são produtivas.'),
('2025-06-16 08:15:00', '34567890123', '11223344556', 'D001', 2, 3, 4, 4, 'O professor tem conhecimento, mas não consegue se comunicar bem com a turma. As aulas são monótonas.'),
('2025-06-16 08:45:00', '56789012345', '11223344556', 'D001', 5, 4, 5, 5, 'Matemática sempre foi meu ponto fraco, mas este professor conseguiu mudar isso. Excelente metodologia!'),
('2025-06-16 12:30:00', '89012345678', '11223344556', 'D001', 4, 4, 5, 4, 'Matemática é fundamental e o professor consegue transmitir isso de forma clara. Bom material didático.'),
('2025-06-16 09:00:00', '01234567890', '11223344556', 'D001', 3, 4, 4, 4, 'Matemática é desafiadora, mas o professor tenta simplificar. Poderia ter mais exercícios práticos.');

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[]

### Testes

#### Tentando Inserir um Aluno em Mais de Uma Escola

In [32]:
%%sql
-- Tentando inserir um aluno inscrito na escola 1 para a escola 2
INSERT INTO Aluno (CPFUsuario, Bolsa, IDEscola) VALUES
('12345678901', TRUE, 2);

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "aluno_pkey"
DETAIL:  Key (cpfusuario)=(12345678901) already exists.

[SQL: -- Tentando inserir um aluno inscrito na escola 1 para a escola 2
INSERT INTO Aluno (CPFUsuario, Bolsa, IDEscola) VALUES
('12345678901', TRUE, 2);]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

#### Tentando Matricular um Aluno em uma Disciplina Diferente com Horários Iguais (Depois de Implementar a View)

#### Tentando Fazer um Mesmo Professor Ministrar uma Aula em um Mesmo Horário Que ele Oferta Outra Aula

## 4.Buscas:

### 4.1.Busca da Média da Avaliação de um Professor

In [33]:
%%sql
-- Query para calcular a média de avaliações de um professor específico
SELECT 
    CPFProfessor,
    ROUND(AVG(RatingProfessor), 2) AS MediaRatingProfessor
FROM Avaliacao
WHERE CPFProfessor = '11223344556'
GROUP BY CPFProfessor;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('11223344556', Decimal('3.83'))]

### 4.2.Busca de Alunos Matrículados em Uma Determinada Disciplinas

In [34]:
%%sql
-- Query para listar os alunos matriculados em uma disciplina específica
SELECT 
    a.CPFUsuario AS cpf_aluno,
    u.NomeUsuario || ' ' || u.SobrenomeUsuario AS nome_aluno,
    m.CodigoDisciplina,
    m.Dia,
    m.Hora,
    m.Sala
FROM Matricula m
JOIN Aluno a ON a.CPFUsuario = m.CPFAluno
JOIN Usuario u ON u.CPF = a.CPFUsuario
WHERE m.CodigoDisciplina = 'D001';

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
6 rows affected.

[('12345678901', 'João Silva', 'D001      ', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('23456789012', 'Maria Oliveira', 'D001      ', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('34567890123', 'Carlos Pereira', 'D001      ', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('56789012345', 'Pedro Costa', 'D001      ', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('89012345678', 'Patrícia Alves', 'D001      ', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('01234567890', 'Fernanda Martins', 'D001      ', 'Segunda-feira', datetime.time(10, 0), 'Sala 101')]

### 4.3.Média das Notas dos Alunos para uma Determinada Discilina

In [35]:
%%sql
-- Query para calcular a média de notas de uma disciplina específica
WITH NotasSeparadas AS (
    SELECT 
        CodigoDisciplina,
        unnest(string_to_array(Notas, ','))::NUMERIC AS nota
    FROM Inscricao
    WHERE Notas IS NOT NULL
)
SELECT 
    CodigoDisciplina,
    ROUND(AVG(nota), 2) AS media_notas
FROM NotasSeparadas
WHERE CodigoDisciplina = 'D001'
GROUP BY CodigoDisciplina;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('D001      ', Decimal('8.18'))]

### 4.4.Listar Quais Disciplinas um Aluno faz e em Quais Locais para um Determinado Período

In [36]:
%%sql
-- Query para listar as inscrições de um aluno específico em um intervalo de datas
SELECT 
    i.CPFAluno,
    u.NomeUsuario || ' ' || u.SobrenomeUsuario AS nome_aluno,
    i.CodigoDisciplina,
    d.NomeDisciplina,
    i.Dia,
    i.Hora,
    i.Sala,
    i.DataInscricao
FROM Inscricao i
JOIN Usuario u ON u.CPF = i.CPFAluno
JOIN Disciplina d ON d.Codigo = i.CodigoDisciplina
WHERE i.CPFAluno = '12345678901'
  AND i.DataInscricao >= '2024-01-25 00:00:00'
  AND i.DataInscricao < '2024-01-26 00:00:00'
ORDER BY i.DataInscricao;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[('12345678901', 'João Silva', 'D001      ', 'Matemática 1', 'Segunda-feira', datetime.time(10, 0), 'Sala 101', datetime.datetime(2024, 1, 25, 9, 0)),
 ('12345678901', 'João Silva', 'D002      ', 'Português 1', 'Segunda-feira', datetime.time(8, 0), 'Sala 301', datetime.datetime(2024, 1, 25, 9, 15)),
 ('12345678901', 'João Silva', 'D003      ', 'Física 1', 'Segunda-feira', datetime.time(14, 0), 'Laboratório 1', datetime.datetime(2024, 1, 25, 9, 30))]

### 4.5.Ver os Comentários para Avaliações de professores com Rating < 3

In [37]:
%%sql
-- Consulta para listar os comentários sobre um professor com rating < 3 para uma disciplina específica
SELECT 
    a.CPFProfessor,
    u.NomeUsuario || ' ' || u.SobrenomeUsuario AS NomeProfessor,
    a.CodigoDisciplina,
    d.NomeDisciplina,
    a.RatingProfessor,
    a.Comentario
FROM Avaliacao a
JOIN Usuario u ON u.CPF = a.CPFProfessor
JOIN Disciplina d ON d.Codigo = a.CodigoDisciplina
WHERE a.RatingProfessor < 3
  AND a.CodigoDisciplina = 'D001'           
  AND a.CPFProfessor = '11223344556';

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('11223344556', 'Roberto Barros', 'D001', 'Matemática 1', 2, 'O professor tem conhecimento, mas não consegue se comunicar bem com a turma. As aulas são monótonas.')]

### 4.6.Listar as Disciplinas de um determinado Curso

In [38]:
%%sql
-- Query para listar as disciplinas de um determinado curso
SELECT 
    c.SiglaCurso,
    c.NomeCurso,
    d.Codigo,
    d.NomeDisciplina
FROM ComporCursoDisciplina cd
JOIN Curso c ON c.SiglaCurso = cd.SiglaCurso
JOIN Disciplina d ON d.Codigo = cd.SiglaDisciplina
WHERE c.SiglaCurso = 'FND01';

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
3 rows affected.

[('FND01     ', 'Matemática Fundamental', 'D001      ', 'Matemática 1'),
 ('FND01     ', 'Matemática Fundamental', 'D008      ', 'Matemática 2'),
 ('FND01     ', 'Matemática Fundamental', 'D015      ', 'Matemática 3')]

### 4.7.Listar os Horários das Aulas de um Determinado Professor

In [39]:
%%sql
-- Consulta para listar os horários de aulas para um determinado professor
SELECT 
    od.CodigoDisciplina,
    d.NomeDisciplina,
    od.Dia,
    od.Hora,
    od.Sala
FROM OfertaDisciplina od
JOIN Disciplina d ON d.Codigo = od.CodigoDisciplina
WHERE od.CPFProfessor = '11223344556'
ORDER BY od.Dia, od.Hora;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('D015      ', 'Matemática 3', 'Quarta-feira', datetime.time(14, 0), 'Sala 103'),
 ('D022      ', 'Matemática 4', 'Quinta-feira', datetime.time(16, 0), 'Sala 104'),
 ('D001      ', 'Matemática 1', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('D029      ', 'Matemática 5', 'Sexta-feira', datetime.time(10, 0), 'Sala 105'),
 ('D008      ', 'Matemática 2', 'Terça-feira', datetime.time(8, 0), 'Sala 102')]

## 5.Índices

### 5.1.Índice 1: B-Tree

#### Aplicado em: Disciplina(NomeDisciplina)

##### Consulta Antes do Índice

In [40]:
%%sql
-- Analyze antes do Index
EXPLAIN ANALYZE
SELECT * FROM Disciplina WHERE NomeDisciplina ILIKE 'Matemática%';

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('Seq Scan on disciplina  (cost=0.00..11.25 rows=1 width=782) (actual time=0.099..0.131 rows=5 loops=1)',),
 ("  Filter: ((nomedisciplina)::text ~~* 'Matemática%'::text)",),
 ('  Rows Removed by Filter: 25',),
 ('Planning Time: 0.070 ms',),
 ('Execution Time: 0.144 ms',)]

##### Aplicação do Índice e Consulta

In [41]:
%%sql
-- Index para otimizar consultas de busca por nome de disciplina
CREATE INDEX idx_disciplina_nome ON Disciplina(NomeDisciplina);

-- Analyze depois do Index
EXPLAIN ANALYZE
SELECT * FROM Disciplina WHERE NomeDisciplina ILIKE 'Matemática%';

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.
5 rows affected.

[('Seq Scan on disciplina  (cost=0.00..1.38 rows=1 width=782) (actual time=0.014..0.042 rows=5 loops=1)',),
 ("  Filter: ((nomedisciplina)::text ~~* 'Matemática%'::text)",),
 ('  Rows Removed by Filter: 25',),
 ('Planning Time: 0.186 ms',),
 ('Execution Time: 0.054 ms',)]

### 5.2.Índice 2: HASH

#### Aplicado em: Aluno(CPFUsuario)

##### Consulta Antes do Índice

In [42]:
%%sql
-- Analyze antes do Index
EXPLAIN ANALYZE
SELECT * FROM Aluno WHERE CPFUsuario = '12345678900';

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
4 rows affected.

[('Index Scan using aluno_pkey on aluno  (cost=0.15..8.17 rows=1 width=53) (actual time=0.016..0.016 rows=0 loops=1)',),
 ("  Index Cond: (cpfusuario = '12345678900'::bpchar)",),
 ('Planning Time: 0.064 ms',),
 ('Execution Time: 0.031 ms',)]

##### Aplicação do Índice e Consulta

In [43]:
%%sql
-- Index para otimizar consultas de busca por CPF do aluno
CREATE INDEX idx_aluno_hash ON Aluno USING HASH(CPFUsuario);

-- Analyze depois do Index
EXPLAIN ANALYZE
SELECT * FROM Aluno WHERE CPFUsuario = '12345678900';

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.
5 rows affected.

[('Seq Scan on aluno  (cost=0.00..1.12 rows=1 width=53) (actual time=0.009..0.009 rows=0 loops=1)',),
 ("  Filter: (cpfusuario = '12345678900'::bpchar)",),
 ('  Rows Removed by Filter: 10',),
 ('Planning Time: 0.091 ms',),
 ('Execution Time: 0.023 ms',)]

### 5.3.Índice 3: Composto

#### Aplicado em: OfertaDisciplina(Dia, Hora)

##### Consulta Antes do Índice

In [44]:
%%sql
-- Analyze antes do Index
EXPLAIN ANALYZE
SELECT * FROM OfertaDisciplina
WHERE Dia = 'Segunda-feira' AND Hora BETWEEN '08:00' AND '12:00';

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
5 rows affected.

[('Seq Scan on ofertadisciplina  (cost=0.00..14.55 rows=1 width=276) (actual time=0.010..0.019 rows=5 loops=1)',),
 ("  Filter: ((hora >= '08:00:00'::time without time zone) AND (hora <= '12:00:00'::time without time zone) AND ((dia)::text = 'Segunda-feira'::text))",),
 ('  Rows Removed by Filter: 38',),
 ('Planning Time: 0.106 ms',),
 ('Execution Time: 0.033 ms',)]

##### Aplicação do Índice e Consulta

In [45]:
%%sql
-- Index para otimizar consultas de busca por dia e hora de ofertas
CREATE INDEX idx_oferta_dia_hora ON OfertaDisciplina(Dia, Hora);

-- Analyze depois do Index
EXPLAIN ANALYZE
SELECT * FROM OfertaDisciplina
WHERE Dia = 'Segunda-feira' AND Hora BETWEEN '08:00' AND '12:00';

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.
5 rows affected.

[('Seq Scan on ofertadisciplina  (cost=0.00..1.75 rows=1 width=276) (actual time=0.009..0.013 rows=5 loops=1)',),
 ("  Filter: ((hora >= '08:00:00'::time without time zone) AND (hora <= '12:00:00'::time without time zone) AND ((dia)::text = 'Segunda-feira'::text))",),
 ('  Rows Removed by Filter: 38',),
 ('Planning Time: 0.130 ms',),
 ('Execution Time: 0.024 ms',)]

## 6.Aplicação de Visões

### 6.1.Visão Para Listar Todos os Cursos e Suas Informações Completas

In [46]:
%%sql
-- View para listar todos os cursos com suas informações completas
CREATE VIEW ViewCursosCompletos AS
SELECT 
    c.SiglaCurso,
    c.NomeCurso,
    c.CargaHoraria,
    c.NumeroVagas,
    d.SiglaDepartamento,
    d.NomeDepartamento,
    e.IDEscola,
    e.NomeCidade,
    e.SiglaEstado
FROM Curso c
JOIN Departamento d ON c.SiglaDepartamento = d.SiglaDepartamento
JOIN Vinculo v ON v.SiglaCurso = c.SiglaCurso
JOIN UnidadeEscolar e ON e.IDEscola = v.IDEscola;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.

[]

#### 6.1.1.Aplicando a Busca

In [47]:
%%sql
SELECT * FROM ViewCursosCompletos;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
30 rows affected.

[('FND01     ', 'Matemática Fundamental', 900, 250, 'DEP01', 'Matemática', 1, 'São Paulo', 'SP'),
 ('FND02     ', 'Português Fundamental', 900, 250, 'DEP02', 'Línguas', 1, 'São Paulo', 'SP'),
 ('FND03     ', 'História Fundamental', 900, 250, 'DEP07', 'Ciências Humanas', 1, 'São Paulo', 'SP'),
 ('FND04     ', 'Geografia Fundamental', 900, 250, 'DEP07', 'Ciências Humanas', 1, 'São Paulo', 'SP'),
 ('FND05     ', 'Ciências Naturais Fundamental', 900, 250, 'DEP06', 'Ciências Exatas', 1, 'São Paulo', 'SP'),
 ('EM01      ', 'Matemática Ensino Médio', 1200, 200, 'DEP01', 'Matemática', 1, 'São Paulo', 'SP'),
 ('EM02      ', 'Português Ensino Médio', 1200, 200, 'DEP02', 'Línguas', 1, 'São Paulo', 'SP'),
 ('EM03      ', 'Filosofia Ensino Médio', 1200, 150, 'DEP07', 'Ciências Humanas', 1, 'São Paulo', 'SP'),
 ('TC01      ', 'Técnico em Informática', 1800, 100, 'DEP03', 'Informática', 1, 'São Paulo', 'SP'),
 ('TC02      ', 'Técnico em Mecânica', 1800, 80, 'DEP05', 'Engenharia', 1, 'São Paulo', 'SP'),
 ('FND04     ', 'Geografia Fundamental', 900, 250, 'DEP07', 'Ciências Humanas', 2, 'Rio de Janeiro', 'RJ'),
 ('FND05     ', 'Ciências Naturais Fundamental', 900, 250, 'DEP06', 'Ciências Exatas', 2, 'Rio de Janeiro', 'RJ'),
 ('FND06     ', 'Artes Fundamental', 900, 200, 'DEP09', 'Artes', 2, 'Rio de Janeiro', 'RJ'),
 ('EM05      ', 'Química Ensino Médio', 1200, 200, 'DEP06', 'Ciências Exatas', 2, 'Rio de Janeiro', 'RJ'),
 ('EM06      ', 'Física Ensino Médio', 1200, 200, 'DEP06', 'Ciências Exatas', 2, 'Rio de Janeiro', 'RJ'),
 ('EM07      ', 'Artes Ensino Médio', 1200, 150, 'DEP09', 'Artes', 2, 'Rio de Janeiro', 'RJ'),
 ('TC02      ', 'Técnico em Mecânica', 1800, 80, 'DEP05', 'Engenharia', 2, 'Rio de Janeiro', 'RJ'),
 ('TC03      ', 'Técnico em Administração', 1800, 80, 'DEP04', 'Administração', 2, 'Rio de Janeiro', 'RJ'),
 ('TC04      ', 'Técnico em Enfermagem', 1800, 60, 'DEP08', 'Saúde', 2, 'Rio de Janeiro', 'RJ'),
 ('TC05      ', 'Técnico em Design', 1800, 70, 'DEP09', 'Artes', 2, 'Rio de Janeiro', 'RJ'),
 ('FND01     ', 'Matemática Fundamental', 900, 250, 'DEP01', 'Matemática', 3, 'Belo Horizonte', 'MG'),
 ('FND02     ', 'Português Fundamental', 900, 250, 'DEP02', 'Línguas', 3, 'Belo Horizonte', 'MG'),
 ('FND07     ', 'Educação Física Fundamental', 900, 200, 'DEP10', 'Educação Física', 3, 'Belo Horizonte', 'MG'),
 ('EM01      ', 'Matemática Ensino Médio', 1200, 200, 'DEP01', 'Matemática', 3, 'Belo Horizonte', 'MG'),
 ('EM08      ', 'Educação Física Ensino Médio', 1200, 150, 'DEP10', 'Educação Física', 3, 'Belo Horizonte', 'MG'),
 ('EM09      ', 'Biologia Ensino Médio', 1200, 200, 'DEP08', 'Saúde', 3, 'Belo Horizonte', 'MG'),
 ('TC01      ', 'Técnico em Informática', 1800, 100, 'DEP03', 'Informática', 3, 'Belo Horizonte', 'MG'),
 ('TC06      ', 'Técnico em Educação Física', 1800, 60, 'DEP10', 'Educação Física', 3, 'Belo Horizonte', 'MG'),
 ('TC07      ', 'Técnico em Química', 1800, 70, 'DEP01', 'Matemática', 3, 'Belo Horizonte', 'MG'),
 ('TC08      ', 'Técnico em Meio Ambiente', 1800, 60, 'DEP07', 'Ciências Humanas', 3, 'Belo Horizonte', 'MG')]

### 6.2.Visão Para Listar Todas as Matrículas com Informações Detalhadas

In [48]:
%%sql
-- View para listar todas as matrículas com informações detalhadas
CREATE VIEW ViewMatriculasDetalhadas AS
SELECT 
    m.CPFAluno,
    ua.NomeUsuario || ' ' || ua.SobrenomeUsuario AS NomeAluno,
    m.CodigoDisciplina,
    d.NomeDisciplina,
    m.CPFProfessor,
    up.NomeUsuario || ' ' || up.SobrenomeUsuario AS NomeProfessor,
    m.Dia,
    m.Hora,
    m.Sala
FROM Matricula m
JOIN Disciplina d ON m.CodigoDisciplina = d.Codigo
JOIN Aluno a ON m.CPFAluno = a.CPFUsuario
JOIN Usuario ua ON a.CPFUsuario = ua.CPF
JOIN Professor p ON m.CPFProfessor = p.CPFUsuario
JOIN Usuario up ON p.CPFUsuario = up.CPF;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.

[]

#### 6.2.1.Aplicando a Busca

In [49]:
%%sql
SELECT * FROM ViewMatriculasDetalhadas;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
40 rows affected.

[('12345678901', 'João Silva', 'D001      ', 'Matemática 1', '11223344556', 'Roberto Barros', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('12345678901', 'João Silva', 'D002      ', 'Português 1', '22334455667', 'Gisele Dias', 'Segunda-feira', datetime.time(8, 0), 'Sala 301'),
 ('12345678901', 'João Silva', 'D003      ', 'Física 1', '33445566778', 'Felipe Gomes', 'Segunda-feira', datetime.time(14, 0), 'Laboratório 1'),
 ('12345678901', 'João Silva', 'D004      ', 'Química 1', '44556677889', 'Sofia Ferreira', 'Segunda-feira', datetime.time(10, 0), 'Laboratório Química 1'),
 ('23456789012', 'Maria Oliveira', 'D001      ', 'Matemática 1', '11223344556', 'Roberto Barros', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('23456789012', 'Maria Oliveira', 'D005      ', 'História 1', '55667788990', 'Marcos Rodrigues', 'Segunda-feira', datetime.time(16, 0), 'Sala 501'),
 ('23456789012', 'Maria Oliveira', 'D006      ', 'Geografia 1', '66778899001', 'Letícia Silveira', 'Segunda-feira', datetime.time(8, 0), 'Sala 601'),
 ('23456789012', 'Maria Oliveira', 'D007      ', 'Biologia 1', '77889900112', 'Gustavo Nascimento', 'Segunda-feira', datetime.time(14, 0), 'Laboratório Biologia 1'),
 ('34567890123', 'Carlos Pereira', 'D001      ', 'Matemática 1', '11223344556', 'Roberto Barros', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('34567890123', 'Carlos Pereira', 'D003      ', 'Física 1', '33445566778', 'Felipe Gomes', 'Segunda-feira', datetime.time(14, 0), 'Laboratório 1'),
 ('34567890123', 'Carlos Pereira', 'D008      ', 'Matemática 2', '11223344556', 'Roberto Barros', 'Terça-feira', datetime.time(8, 0), 'Sala 102'),
 ('34567890123', 'Carlos Pereira', 'D009      ', 'Português 2', '22334455667', 'Gisele Dias', 'Terça-feira', datetime.time(14, 0), 'Sala 302'),
 ('45678901234', 'Ana Souza', 'D002      ', 'Português 1', '22334455667', 'Gisele Dias', 'Segunda-feira', datetime.time(8, 0), 'Sala 301'),
 ('45678901234', 'Ana Souza', 'D005      ', 'História 1', '55667788990', 'Marcos Rodrigues', 'Segunda-feira', datetime.time(16, 0), 'Sala 501'),
 ('45678901234', 'Ana Souza', 'D010      ', 'Física 2', '33445566778', 'Felipe Gomes', 'Terça-feira', datetime.time(10, 0), 'Laboratório 2'),
 ('45678901234', 'Ana Souza', 'D011      ', 'Química 2', '44556677889', 'Sofia Ferreira', 'Terça-feira', datetime.time(14, 0), 'Laboratório Química 2'),
 ('56789012345', 'Pedro Costa', 'D001      ', 'Matemática 1', '11223344556', 'Roberto Barros', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('56789012345', 'Pedro Costa', 'D003      ', 'Física 1', '33445566778', 'Felipe Gomes', 'Segunda-feira', datetime.time(14, 0), 'Laboratório 1'),
 ('56789012345', 'Pedro Costa', 'D004      ', 'Química 1', '44556677889', 'Sofia Ferreira', 'Segunda-feira', datetime.time(10, 0), 'Laboratório Química 1'),
 ('56789012345', 'Pedro Costa', 'D005      ', 'História 1', '55667788990', 'Marcos Rodrigues', 'Segunda-feira', datetime.time(16, 0), 'Sala 501'),
 ('67890123456', 'Juliana Mendes', 'D002      ', 'Português 1', '22334455667', 'Gisele Dias', 'Segunda-feira', datetime.time(8, 0), 'Sala 301'),
 ('67890123456', 'Juliana Mendes', 'D006      ', 'Geografia 1', '66778899001', 'Letícia Silveira', 'Segunda-feira', datetime.time(8, 0), 'Sala 601'),
 ('67890123456', 'Juliana Mendes', 'D007      ', 'Biologia 1', '77889900112', 'Gustavo Nascimento', 'Segunda-feira', datetime.time(14, 0), 'Laboratório Biologia 1'),
 ('67890123456', 'Juliana Mendes', 'D008      ', 'Matemática 2', '11223344556', 'Roberto Barros', 'Terça-feira', datetime.time(8, 0), 'Sala 102'),
 ('78901234567', 'Ricardo Lima', 'D003      ', 'Física 1', '33445566778', 'Felipe Gomes', 'Segunda-feira', datetime.time(14, 0), 'Laboratório 1'),
 ('78901234567', 'Ricardo Lima', 'D004      ', 'Química 1', '44556677889', 'Sofia Ferreira', 'Segunda-feira', datetime.time(10, 0), 'Laboratório Química 1'),
 ('78901234567', 'Ricardo Lima', 'D005      ', 'História 1', '55667788990', 'Marcos Rodrigues', 'Segunda-feira', datetime.time(16, 0), 'Sala 501'),
 ('78901234567', 'Ricardo Lima', 'D009      ', 'Português 2', '22334455667', 'Gisele Dias', 'Terça-feira', datetime.time(14, 0), 'Sala 302'),
 ('89012345678', 'Patrícia Alves', 'D001      ', 'Matemática 1', '11223344556', 'Roberto Barros', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('89012345678', 'Patrícia Alves', 'D007      ', 'Biologia 1', '77889900112', 'Gustavo Nascimento', 'Segunda-feira', datetime.time(14, 0), 'Laboratório Biologia 1'),
 ('89012345678', 'Patrícia Alves', 'D010      ', 'Física 2', '33445566778', 'Felipe Gomes', 'Terça-feira', datetime.time(10, 0), 'Laboratório 2'),
 ('89012345678', 'Patrícia Alves', 'D012      ', 'História 2', '55667788990', 'Marcos Rodrigues', 'Terça-feira', datetime.time(8, 0), 'Sala 502'),
 ('90123456789', 'Lucas Santos', 'D004      ', 'Química 1', '44556677889', 'Sofia Ferreira', 'Segunda-feira', datetime.time(10, 0), 'Laboratório Química 1'),
 ('90123456789', 'Lucas Santos', 'D005      ', 'História 1', '55667788990', 'Marcos Rodrigues', 'Segunda-feira', datetime.time(16, 0), 'Sala 501'),
 ('90123456789', 'Lucas Santos', 'D006      ', 'Geografia 1', '66778899001', 'Letícia Silveira', 'Segunda-feira', datetime.time(8, 0), 'Sala 601'),
 ('90123456789', 'Lucas Santos', 'D007      ', 'Biologia 1', '77889900112', 'Gustavo Nascimento', 'Segunda-feira', datetime.time(14, 0), 'Laboratório Biologia 1'),
 ('01234567890', 'Fernanda Martins', 'D001      ', 'Matemática 1', '11223344556', 'Roberto Barros', 'Segunda-feira', datetime.time(10, 0), 'Sala 101'),
 ('01234567890', 'Fernanda Martins', 'D002      ', 'Português 1', '22334455667', 'Gisele Dias', 'Segunda-feira', datetime.time(8, 0), 'Sala 301'),
 ('01234567890', 'Fernanda Martins', 'D003      ', 'Física 1', '33445566778', 'Felipe Gomes', 'Segunda-feira', datetime.time(14, 0), 'Laboratório 1'),
 ('01234567890', 'Fernanda Martins', 'D004      ', 'Química 1', '44556677889', 'Sofia Ferreira', 'Segunda-feira', datetime.time(10, 0), 'Laboratório Química 1')]

### 6.3.Visão Para Listar Todos os Usuários com Suas Informações Completas

In [50]:
%%sql
-- View para listar todos os usuários com suas informações completas
CREATE VIEW ViewUsuariosCompletos AS
SELECT 
    u.CPF,
    u.NomeUsuario,
    u.SobrenomeUsuario,
    u.Email,
    CASE 
        WHEN a.CPFUsuario IS NOT NULL THEN 'Aluno'
        WHEN p.CPFUsuario IS NOT NULL THEN 'Professor'
        WHEN f.CPFUsuario IS NOT NULL THEN 'Funcionario'
        ELSE 'Outro'
    END AS TipoUsuario
FROM Usuario u
LEFT JOIN Aluno a ON u.CPF = a.CPFUsuario
LEFT JOIN Professor p ON u.CPF = p.CPFUsuario
LEFT JOIN Funcionario f ON u.CPF = f.CPFUsuario;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
Done.

[]

#### 6.3.1.Aplicando a Busca

In [51]:
%%sql
SELECT * FROM ViewUsuariosCompletos;

 * postgresql://postgres:***@localhost/sistema_gestao_escolar
   postgresql://postgres:***@localhost:5432/postgres
28 rows affected.

[('11223344567', 'Leandro', 'Martins', 'leandro.martins@email.com', 'Funcionario'),
 ('22334455678', 'Talita', 'Gomes', 'talita.gomes@email.com', 'Funcionario'),
 ('33445566789', 'Rafael', 'Almeida', 'rafael.almeida@email.com', 'Funcionario'),
 ('44556677890', 'Jéssica', 'Santos', 'jessica.santos@email.com', 'Funcionario'),
 ('55667788901', 'Mariana', 'Souza', 'mariana.souza@email.com', 'Funcionario'),
 ('66778899012', 'André', 'Dias', 'andre.dias@email.com', 'Funcionario'),
 ('77889900123', 'Renata', 'Ferreira', 'renata.ferreira@email.com', 'Funcionario'),
 ('88990011234', 'Felipe', 'Lima', 'felipe.lima@email.com', 'Funcionario'),
 ('34567890123', 'Carlos', 'Pereira', 'carlos.pereira@email.com', 'Aluno'),
 ('99001122334', 'Vinícius', 'Oliveira', 'vinicius.oliveira@email.com', 'Professor'),
 ('23456789012', 'Maria', 'Oliveira', 'maria.oliveira@email.com', 'Aluno'),
 ('12345678901', 'João', 'Silva', 'joao.silva@email.com', 'Aluno'),
 ('01234567890', 'Fernanda', 'Martins', 'fernanda.martins@email.com', 'Aluno'),
 ('67890123456', 'Juliana', 'Mendes', 'juliana.mendes@email.com', 'Aluno'),
 ('10112233445', 'Camila', 'Costa', 'camila.costa@email.com', 'Professor'),
 ('89012345678', 'Patrícia', 'Alves', 'patricia.alves@email.com', 'Aluno'),
 ('78901234567', 'Ricardo', 'Lima', 'ricardo.lima@email.com', 'Aluno'),
 ('33445566778', 'Felipe', 'Gomes', 'felipe.gomes@email.com', 'Professor'),
 ('44556677889', 'Sofia', 'Ferreira', 'sofia.ferreira@email.com', 'Professor'),
 ('22334455667', 'Gisele', 'Dias', 'gisele.dias@email.com', 'Professor'),
 ('11223344556', 'Roberto', 'Barros', 'roberto.barros@email.com', 'Professor'),
 ('55667788990', 'Marcos', 'Rodrigues', 'marcos.rodrigues@email.com', 'Professor'),
 ('90123456789', 'Lucas', 'Santos', 'lucas.santos@email.com', 'Aluno'),
 ('45678901234', 'Ana', 'Souza', 'ana.souza@email.com', 'Aluno'),
 ('56789012345', 'Pedro', 'Costa', 'pedro.costa@email.com', 'Aluno'),
 ('66778899001', 'Letícia', 'Silveira', 'leticia.silveira@email.com', 'Professor'),
 ('77889900112', 'Gustavo', 'Nascimento', 'gustavo.nascimento@email.com', 'Professor'),
 ('88990011223', 'Carla', 'Pereira', 'carla.pereira@email.com', 'Professor')]

## 7.Desconectando da Base

### 7.1.Voltando a conexão a base padrão do postgres

In [52]:
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

### 7.2.Verificando em qual base está conectado

In [53]:
%%sql
SELECT Current_database();

   postgresql://postgres:***@localhost/sistema_gestao_escolar
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[('postgres',)]

### 7.3.Terminando Sessão Ativa

In [54]:
%%sql
SELECT pg_terminate_backend(pg_stat_activity.pid)
FROM pg_stat_activity
WHERE pg_stat_activity.datname = 'sistema_gestao_escolar'
  AND pid <> pg_backend_pid();

   postgresql://postgres:***@localhost/sistema_gestao_escolar
 * postgresql://postgres:***@localhost:5432/postgres
1 rows affected.

[(True,)]

### 7.4.Desabilitando o Autocommit

In [55]:
%%sql
SELECT rolname, rolsuper, rolcreaterole, rolcreatedb, rolcanlogin
FROM pg_roles;

   postgresql://postgres:***@localhost/sistema_gestao_escolar
 * postgresql://postgres:***@localhost:5432/postgres
15 rows affected.

[('pg_database_owner', False, False, False, False),
 ('pg_read_all_data', False, False, False, False),
 ('pg_write_all_data', False, False, False, False),
 ('pg_monitor', False, False, False, False),
 ('pg_read_all_settings', False, False, False, False),
 ('pg_read_all_stats', False, False, False, False),
 ('pg_stat_scan_tables', False, False, False, False),
 ('pg_read_server_files', False, False, False, False),
 ('pg_write_server_files', False, False, False, False),
 ('pg_execute_server_program', False, False, False, False),
 ('pg_signal_backend', False, False, False, False),
 ('pg_checkpoint', False, False, False, False),
 ('pg_use_reserved_connections', False, False, False, False),
 ('pg_create_subscription', False, False, False, False),
 ('postgres', True, True, True, True)]

In [56]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False

### 7.5.Apagando a Base de Dados

In [57]:
%%sql
COMMIT;
DROP DATABASE IF EXISTS sistema_gestao_escolar;
COMMIT;

   postgresql://postgres:***@localhost/sistema_gestao_escolar
 * postgresql://postgres:***@localhost:5432/postgres
Done.
Done.
Done.

[]

### 7.6.Reabilitando o autocommit

In [58]:
## Reabilitar o Autocommit:
%config SqlMagic.autocommit=True