## 1.Se conectando ao PSQL

### 1.1. Importar os módulos

In [ ]:
from ipywidgets import interact  ##-- Interactors
import ipywidgets as widgets
from sqlalchemy import create_engine

In [ ]:
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

### 1.2. Conexão ao banco de dados

FORMATO: %sql dialect+driver://usuario:senha@host:port/nome_da_base

In [ ]:
# Conectar com um servidor SQL na base default --> Postgres.postgres
%load_ext sql

# Connection format: %sql dialect+driver://username:password@host:port/database
engine = create_engine('postgresql://postgres:pgadmin@localhost/sistema_gestao_escolar')
%sql postgresql://postgres:pgadmin@localhost/sistema_gestao_escolar

### 1.3.Testando a conexão

In [ ]:
%%sql
SELECT Current_database();

### Antes de iniciar qualquer transação, é necessário desativar o autocommit

In [ ]:
%%sql
SELECT rolname, rolsuper, rolcreaterole, rolcreatedb, rolcanlogin
FROM pg_roles;

In [ ]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False

### 1.4.Criando uma Base de Dados Para Essa Atividade

In [ ]:
%%sql 
COMMIT;
DROP DATABASE IF EXISTS sistema_gestao_escolar;
COMMIT;
CREATE DATABASE sistema_gestao_escolar
    WITH OWNER = postgres
    ENCODING = 'UTF8';
COMMIT;

In [ ]:
## Reabilitar o Autocommit:
%config SqlMagic.autocommit=True

### 1.5.Conectando a base de dados que criamos

In [ ]:
%%sql
SELECT Current_database();

## 2.Gerenciando a Nova Base de Dados

### 2.1.Apagando possíveis tabelas, se existirem

In [ ]:
%%sql
-- 1. Tabelas que dependem fortemente de outras
DROP TABLE IF EXISTS Avaliacao CASCADE;
DROP TABLE IF EXISTS FeedBack CASCADE;
DROP TABLE IF EXISTS Notifica CASCADE;
DROP TABLE IF EXISTS Comunica CASCADE;
DROP TABLE IF EXISTS Mensagem CASCADE;
DROP TABLE IF EXISTS Avisos CASCADE;
DROP TABLE IF EXISTS Inscricao CASCADE;
DROP TABLE IF EXISTS Matricula CASCADE;
DROP TABLE IF EXISTS OfertaDisciplina CASCADE;
DROP TABLE IF EXISTS MinistraAula CASCADE;
DROP TABLE IF EXISTS ComporCursoDisciplina CASCADE;
DROP TABLE IF EXISTS Vinculo CASCADE;
DROP TABLE IF EXISTS PreRequisitoDisciplina CASCADE;
DROP TABLE IF EXISTS PreRequisitoCurso CASCADE;
DROP TABLE IF EXISTS Regras CASCADE;

-- 2. Tabelas intermediárias
DROP TABLE IF EXISTS Curso CASCADE;
DROP TABLE IF EXISTS Departamento CASCADE;
DROP TABLE IF EXISTS Disciplina CASCADE;

-- 3. Tabelas principais com dependências externas
DROP TABLE IF EXISTS Funcionario CASCADE;
DROP TABLE IF EXISTS Professor CASCADE;
DROP TABLE IF EXISTS Aluno CASCADE;

-- 4. Tabelas principais
DROP TABLE IF EXISTS UnidadeEscolar CASCADE;
DROP TABLE IF EXISTS Usuario CASCADE;

### 2.2.Criando as tabelas

In [ ]:
%%sql
-- Tabela Usuario
CREATE TABLE Usuario (
    CPF CHAR(11) PRIMARY KEY,
    NomeUsuario VARCHAR(50),
    SobrenomeUsuario VARCHAR(50),
    NumeroTelefone VARCHAR(15),
    Endereco VARCHAR(100),
    Email VARCHAR(100) UNIQUE,
    Senha VARCHAR(100),
    DataNascimento DATE,
    Sexo CHAR(1),  -- M ou F
    CHECK (Sexo IN ('M', 'F')),  -- Garante que o valor seja apenas M ou F
    UNIQUE (NomeUsuario, SobrenomeUsuario, NumeroTelefone)
);

-- Tabela Unidade Escolar
CREATE TABLE UnidadeEscolar (
    IDEscola INT PRIMARY KEY,
    NomeCidade VARCHAR(50),
    SiglaEstado CHAR(2),
    SiglaPais CHAR(3),
    NumeroPredio VARCHAR(10)
);

-- Tabela Professor
CREATE TABLE Professor (
    CPFUsuario CHAR(11) PRIMARY KEY,
    Titulacao VARCHAR(50),
    AreaEspecialidade VARCHAR(100),
    IDEscola INT,
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF),
    FOREIGN KEY (IDEscola) REFERENCES UnidadeEscolar(IDEscola)
);

-- Tabela Aluno
CREATE TABLE Aluno (
    CPFUsuario CHAR(11) PRIMARY KEY,
    Bolsa BOOLEAN,  -- Verdadeiro (TRUE) se o aluno for bolsista, Falso (FALSE) se não for
    IDEscola INT,
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF),
    FOREIGN KEY (IDEscola) REFERENCES UnidadeEscolar(IDEscola)
);

-- Tabela Funcionario
CREATE TABLE Funcionario (
    CPFUsuario CHAR(11) PRIMARY KEY,
    Operacao VARCHAR(100),
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF)
);

-- Tabela Departamento
CREATE TABLE Departamento (
    SiglaDepartamento CHAR(5) PRIMARY KEY,
    CPFProfessor CHAR(11) NOT NULL UNIQUE,
    NomeDepartamento VARCHAR(100),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario)
);

-- Tabela Disciplina
CREATE TABLE Disciplina (
    Codigo CHAR(10) PRIMARY KEY,
    NomeDisciplina VARCHAR(100),
    QTDAulas INT,
    MaterialDidatico VARCHAR(500)
);

-- Tabela Curso
CREATE TABLE Curso (
    SiglaCurso CHAR(10) PRIMARY KEY,
    SiglaDepartamento CHAR(5),
    NomeCurso VARCHAR(100),
    Classificacao VARCHAR(50),
    CargaHoraria INT,
    NumeroVagas INT,
    FOREIGN KEY (SiglaDepartamento) REFERENCES Departamento(SiglaDepartamento)
);

-- Tabela Vinculo entre Escola e Curso
CREATE TABLE Vinculo (
    IDEscola INT NOT NULL,
    SiglaCurso CHAR(10) NOT NULL,
    PRIMARY KEY (IDEscola, SiglaCurso),
    FOREIGN KEY (IDEscola) REFERENCES UnidadeEscolar(IDEscola),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso)
);

-- Tabela ComporCursoDisciplina
CREATE TABLE ComporCursoDisciplina (
    SiglaCurso CHAR(10),
    SiglaDisciplina CHAR(10),
    PRIMARY KEY (SiglaCurso, SiglaDisciplina),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso),
    FOREIGN KEY (SiglaDisciplina) REFERENCES Disciplina(Codigo)
);

-- Tabela MinistraAula
CREATE TABLE MinistraAula (
    CPFProfessor CHAR(11),
    CodigoDisciplina CHAR(10),
    PRIMARY KEY (CPFProfessor, CodigoDisciplina),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario),
    FOREIGN KEY (CodigoDisciplina) REFERENCES Disciplina(Codigo)
);

-- Tabela OfertaDisciplina
CREATE TABLE OfertaDisciplina (
    CodigoDisciplina CHAR(10),
    CPFProfessor CHAR(11),
    Dia VARCHAR(20),
    Hora TIME,
    Sala VARCHAR(50),
    PRIMARY KEY (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala),
    FOREIGN KEY (CodigoDisciplina) REFERENCES Disciplina(Codigo),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario)
);

-- Tabela Matricula de Alunos em OfertaDisciplina
CREATE TABLE Matricula (
    CPFAluno CHAR(11),
    CodigoDisciplina CHAR(10),
    CPFProfessor CHAR(11),
    Dia VARCHAR(20),
    Hora TIME,
    Sala VARCHAR(50),
    PRIMARY KEY (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala),
    FOREIGN KEY (CPFAluno) REFERENCES Aluno(CPFUsuario),
    FOREIGN KEY (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
        REFERENCES OfertaDisciplina(CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
);

-- Tabela de Inscricao de Matrículas em Disciplinas Ofertadas
CREATE TABLE Inscricao (
    DataInscricao TIMESTAMP,
    CPFAluno CHAR(11),
    CodigoDisciplina CHAR(10),
    CPFProfessor CHAR(11),
    Dia VARCHAR(20),
    Hora TIME,
    Sala VARCHAR(50),
    Notas VARCHAR (20),
    PRIMARY KEY (DataInscricao, CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala),
    FOREIGN KEY (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
        REFERENCES Matricula(CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala)
);

-- Tabela PreRequisitoDisciplina
CREATE TABLE PreRequisitoDisciplina (
    SiglaCurso CHAR(10),
    CodigoDisciplinaPreReq CHAR(10),
    PRIMARY KEY (SiglaCurso, CodigoDisciplinaPreReq),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso),
    FOREIGN KEY (CodigoDisciplinaPreReq) REFERENCES Disciplina(Codigo)
);

-- Tabela PreRequisitoCurso
CREATE TABLE PreRequisitoCurso (
    SiglaCurso CHAR(10),
    SiglaCursoPreReq CHAR(10),
    PRIMARY KEY (SiglaCurso, SiglaCursoPreReq),
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso),
    FOREIGN KEY (SiglaCursoPreReq) REFERENCES Curso(SiglaCurso)
);

-- Tabela Regras
CREATE TABLE Regras (
    CodigoRegra INT PRIMARY KEY,
    SiglaCurso CHAR(10),
    FrequenciaMinima DECIMAL(5,2),
    CriterioAvaliacao TEXT,
    Infraestrutura TEXT,
    FOREIGN KEY (SiglaCurso) REFERENCES Curso(SiglaCurso)
);

-- Tabela Mensagem
CREATE TABLE Mensagem (
    IDMensagem INT PRIMARY KEY,
    TextoMensagem TEXT
);

-- Tabela Comunica
CREATE TABLE Comunica (
    CPFProfessor CHAR(11),
    CPFAluno CHAR(11),
    IDMensagem INT,
    DataEnvio TIMESTAMP,
    PRIMARY KEY (CPFProfessor, CPFAluno, IDMensagem),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario),
    FOREIGN KEY (CPFAluno) REFERENCES Aluno(CPFUsuario),
    FOREIGN KEY (IDMensagem) REFERENCES Mensagem(IDMensagem)
);

-- Tabela Avisos
CREATE TABLE Avisos (
    IDAviso INT PRIMARY KEY,
    TextoAviso TEXT
);

-- Tabela Notifica
CREATE TABLE Notifica (
    CPFUsuario CHAR(11),
    CPFFuncionario CHAR(11),
    IDAviso INT,
    DataEnvio TIMESTAMP,
    PRIMARY KEY (CPFUsuario, CPFFuncionario, IDAviso),
    FOREIGN KEY (CPFUsuario) REFERENCES Usuario(CPF),
    FOREIGN KEY (CPFFuncionario) REFERENCES Funcionario(CPFUsuario),
    FOREIGN KEY (IDAviso) REFERENCES Avisos(IDAviso)
);

-- Tabela Feedback
CREATE TABLE FeedBack (
    CPFAluno VARCHAR(11),
    CPFProfessor VARCHAR(11),
    CodigoDisciplina VARCHAR(20),
    PRIMARY KEY (CPFAluno, CPFProfessor, CodigoDisciplina),
    FOREIGN KEY (CPFAluno) REFERENCES Aluno(CPFUsuario),
    FOREIGN KEY (CPFProfessor) REFERENCES Professor(CPFUsuario),
    FOREIGN KEY (CodigoDisciplina) REFERENCES Disciplina(Codigo)
);

-- Tabela Avaliacao
-- De acordo com nosso modelo, qualquer aluno pode fazer avaliação de uma disciplina, mesmo se ele não estiver matriculado nele
CREATE TABLE Avaliacao (
    DataAvaliacao TIMESTAMP,
    CPFAluno VARCHAR(11),
    CPFProfessor VARCHAR(11),
    CodigoDisciplina VARCHAR(20),
    RatingProfessor INT,
    RatingMaterial INT,
    RatingInfraestrutura INT,
    RatingRelevancia INT,
    Comentario VARCHAR(500),
    PRIMARY KEY (DataAvaliacao, CPFAluno, CPFProfessor, CodigoDisciplina),
    FOREIGN KEY (CPFAluno, CPFProfessor, CodigoDisciplina) 
        REFERENCES FeedBack(CPFAluno, CPFProfessor, CodigoDisciplina),
    CHECK (RatingProfessor BETWEEN 0 AND 5),
    CHECK (RatingMaterial BETWEEN 0 AND 5),
    CHECK (RatingInfraestrutura BETWEEN 0 AND 5),
    CHECK (RatingRelevancia BETWEEN 0 AND 5)
);

[]

## 3.Inserindo Dados na Tabela

### 3.1.Inserindo Usuarios

In [ ]:
%%sql
INSERT INTO Usuario (CPF, NomeUsuario, SobrenomeUsuario, NumeroTelefone, Endereco, Email, Senha, DataNascimento, Sexo) VALUES
('12345678901', 'João', 'Silva', '11987654321', 'Rua A, 123', 'joao.silva@email.com', 'senha123', '1990-05-10', 'M'),
('23456789012', 'Maria', 'Oliveira', '21987654321', 'Avenida B, 456', 'maria.oliveira@email.com', 'senha456', '1992-08-15', 'F'),
('34567890123', 'Carlos', 'Pereira', '31987654321', 'Rua C, 789', 'carlos.pereira@email.com', 'senha789', '1991-12-20', 'M'),
('45678901234', 'Ana', 'Souza', '41987654321', 'Praça D, 321', 'ana.souza@email.com', 'senha101', '1993-02-14', 'F'),
('56789012345', 'Pedro', 'Costa', '51987654321', 'Rua E, 654', 'pedro.costa@email.com', 'senha202', '1989-07-30', 'M'),
('67890123456', 'Juliana', 'Mendes', '61987654321', 'Avenida F, 987', 'juliana.mendes@email.com', 'senha303', '1994-03-25', 'F'),
('78901234567', 'Ricardo', 'Lima', '71987654321', 'Rua G, 123', 'ricardo.lima@email.com', 'senha404', '1992-11-18', 'M'),
('89012345678', 'Patrícia', 'Alves', '81987654321', 'Avenida H, 456', 'patricia.alves@email.com', 'senha505', '1990-01-05', 'F'),
('90123456789', 'Lucas', 'Santos', '91987654321', 'Rua I, 789', 'lucas.santos@email.com', 'senha606', '1988-10-17', 'M'),
('01234567890', 'Fernanda', 'Martins', '11987654321', 'Praça J, 654', 'fernanda.martins@email.com', 'senha707', '1995-06-12', 'F'),
('11223344556', 'Roberto', 'Barros', '22987654321', 'Rua K, 321', 'roberto.barros@email.com', 'senha808', '1991-01-28', 'M'),
('22334455667', 'Gisele', 'Dias', '33987654321', 'Avenida L, 987', 'gisele.dias@email.com', 'senha909', '1994-09-06', 'F'),
('33445566778', 'Felipe', 'Gomes', '44987654321', 'Rua M, 123', 'felipe.gomes@email.com', 'senha1010', '1993-07-14', 'M'),
('44556677889', 'Sofia', 'Ferreira', '55987654321', 'Praça N, 456', 'sofia.ferreira@email.com', 'senha1111', '1992-12-03', 'F'),
('55667788990', 'Marcos', 'Rodrigues', '66987654321', 'Rua O, 789', 'marcos.rodrigues@email.com', 'senha1212', '1991-03-21', 'M'),
('66778899001', 'Letícia', 'Silveira', '77987654321', 'Avenida P, 321', 'leticia.silveira@email.com', 'senha1313', '1990-10-15', 'F'),
('77889900112', 'Gustavo', 'Nascimento', '88987654321', 'Rua Q, 654', 'gustavo.nascimento@email.com', 'senha1414', '1994-04-02', 'M'),
('88990011223', 'Carla', 'Pereira', '99987654321', 'Avenida R, 987', 'carla.pereira@email.com', 'senha1515', '1993-05-17', 'F'),
('99001122334', 'Vinícius', 'Oliveira', '11987654321', 'Rua S, 123', 'vinicius.oliveira@email.com', 'senha1616', '1989-11-24', 'M'),
('10112233445', 'Camila', 'Costa', '22987654321', 'Praça T, 456', 'camila.costa@email.com', 'senha1717', '1992-02-09', 'F'),
('11223344567', 'Leandro', 'Martins', '33987654321', 'Rua U, 789', 'leandro.martins@email.com', 'senha1818', '1991-12-22', 'M'),
('22334455678', 'Talita', 'Gomes', '44987654321', 'Avenida V, 321', 'talita.gomes@email.com', 'senha1919', '1993-01-07', 'F'),
('33445566789', 'Rafael', 'Almeida', '55987654321', 'Rua W, 654', 'rafael.almeida@email.com', 'senha2020', '1988-07-18', 'M'),
('44556677890', 'Jéssica', 'Santos', '66987654321', 'Praça X, 987', 'jessica.santos@email.com', 'senha2121', '1994-11-13', 'F'),
('55667788901', 'Mariana', 'Souza', '77987654321', 'Rua Y, 123', 'mariana.souza@email.com', 'senha2222', '1990-04-20', 'F'),
('66778899012', 'André', 'Dias', '88987654321', 'Avenida Z, 456', 'andre.dias@email.com', 'senha2323', '1992-03-11', 'M'),
('77889900123', 'Renata', 'Ferreira', '99987654321', 'Rua AA, 789', 'renata.ferreira@email.com', 'senha2424', '1994-10-02', 'F'),
('88990011234', 'Felipe', 'Lima', '11987654321', 'Praça BB, 654', 'felipe.lima@email.com', 'senha2525', '1989-09-15', 'M'),
('11111111111', 'Amanda', 'Ribeiro', '11911111111', 'Rua AA, 100', 'amanda.ribeiro@email.com', 'senha111', '1995-03-15', 'F'),
('22222222222', 'Bruno', 'Carvalho', '11922222222', 'Avenida BB, 200', 'bruno.carvalho@email.com', 'senha222', '1993-07-22', 'M'),
('33333333333', 'Carolina', 'Melo', '11933333333', 'Rua CC, 300', 'carolina.melo@email.com', 'senha333', '1994-11-08', 'F'),
('44444444444', 'Daniel', 'Cavalcanti', '11944444444', 'Praça DD, 400', 'daniel.cavalcanti@email.com', 'senha444', '1992-01-30', 'M'),
('55555555555', 'Eduarda', 'Barbosa', '11955555555', 'Rua EE, 500', 'eduarda.barbosa@email.com', 'senha555', '1996-05-12', 'F'),
('66666666666', 'Felipe', 'Cardoso', '11966666666', 'Avenida FF, 600', 'felipe.cardoso@email.com', 'senha666', '1991-09-18', 'M'),
('77777777777', 'Gabriela', 'Teixeira', '11977777777', 'Rua GG, 700', 'gabriela.teixeira@email.com', 'senha777', '1997-02-25', 'F'),
('88888888888', 'Henrique', 'Monteiro', '11988888888', 'Praça HH, 800', 'henrique.monteiro@email.com', 'senha888', '1990-12-03', 'M'),
('99999999999', 'Isabela', 'Cunha', '11999999999', 'Rua II, 900', 'isabela.cunha@email.com', 'senha999', '1998-08-14', 'F'),
('00000000001', 'João Pedro', 'Vieira', '11900000001', 'Avenida JJ, 1000', 'joao.pedro@email.com', 'senha001', '1989-04-20', 'M'),
('11111111112', 'Karla', 'Freitas', '11911111112', 'Rua KK, 1100', 'karla.freitas@email.com', 'senha002', '1994-06-07', 'F'),
('22222222223', 'Leonardo', 'Araújo', '11922222223', 'Praça LL, 1200', 'leonardo.araujo@email.com', 'senha003', '1993-10-29', 'M'),
('33333333334', 'Mariana', 'Costa', '11933333334', 'Rua MM, 1300', 'mariana.costa@email.com', 'senha004', '1995-01-16', 'F'),
('44444444445', 'Nicolas', 'Lima', '11944444445', 'Avenida NN, 1400', 'nicolas.lima@email.com', 'senha005', '1992-03-11', 'M'),
('55555555556', 'Olivia', 'Rocha', '11955555556', 'Rua OO, 1500', 'olivia.rocha@email.com', 'senha006', '1996-07-04', 'F'),
('66666666667', 'Paulo', 'Mendes', '11966666667', 'Praça PP, 1600', 'paulo.mendes@email.com', 'senha007', '1991-11-21', 'M'),
('77777777778', 'Queila', 'Santos', '11977777778', 'Rua QQ, 1700', 'queila.santos@email.com', 'senha008', '1997-05-09', 'F'),
('88888888889', 'Rafael', 'Oliveira', '11988888889', 'Avenida RR, 1800', 'rafael.oliveira@email.com', 'senha009', '1990-08-26', 'M'),
('99999999990', 'Sabrina', 'Silva', '11999999990', 'Rua SS, 1900', 'sabrina.silva@email.com', 'senha010', '1998-12-13', 'F'),
('00000000002', 'Thiago', 'Pereira', '11900000002', 'Praça TT, 2000', 'thiago.pereira@email.com', 'senha011', '1989-02-28', 'M'),
('11111111113', 'Úrsula', 'Gomes', '11911111113', 'Rua UU, 2100', 'ursula.gomes@email.com', 'senha012', '1994-04-05', 'F'),
('22222222224', 'Victor', 'Martins', '11922222224', 'Avenida VV, 2200', 'victor.martins@email.com', 'senha013', '1993-06-17', 'M'),
('33333333335', 'Wanessa', 'Ferreira', '11933333335', 'Rua WW, 2300', 'wanessa.ferreira@email.com', 'senha014', '1995-09-23', 'F'),
('44444444446', 'Xavier', 'Rodrigues', '11944444446', 'Praça XX, 2400', 'xavier.rodrigues@email.com', 'senha015', '1992-01-08', 'M'),
('55555555557', 'Yasmin', 'Almeida', '11955555557', 'Rua YY, 2500', 'yasmin.almeida@email.com', 'senha016', '1996-03-19', 'F'),
('66666666668', 'Zé Carlos', 'Nascimento', '11966666668', 'Avenida ZZ, 2600', 'ze.carlos@email.com', 'senha017', '1991-07-31', 'M'),
('77777777779', 'Alice', 'Souza', '11977777779', 'Rua AAA, 2700', 'alice.souza@email.com', 'senha018', '1997-10-12', 'F'),
('88888888890', 'Bernardo', 'Dias', '11988888890', 'Praça BBB, 2800', 'bernardo.dias@email.com', 'senha019', '1990-12-25', 'M'),
('99999999991', 'Camila', 'Cavalcante', '11999999991', 'Rua CCC, 2900', 'camila.cavalcante@email.com', 'senha020', '1998-05-06', 'F'),
('00000000003', 'Diego', 'Barros', '11900000003', 'Avenida DDD, 3000', 'diego.barros@email.com', 'senha021', '1989-08-14', 'M');

### 3.2.Inserindo Escolas

In [ ]:
%%sql
-- A maioria das unidades escolares não vão conter dados
INSERT INTO UnidadeEscolar (IDEscola, NomeCidade, SiglaEstado, SiglaPais, NumeroPredio) VALUES
(1, 'São Paulo', 'SP', 'BRA', 'A1'),
(2, 'Rio de Janeiro', 'RJ', 'BRA', 'B2'),
(3, 'Belo Horizonte', 'MG', 'BRA', 'C3'),
(4, 'Curitiba', 'PR', 'BRA', 'D4'),
(5, 'Porto Alegre', 'RS', 'BRA', 'E5'),
(6, 'Salvador', 'BA', 'BRA', 'F6'),
(7, 'Fortaleza', 'CE', 'BRA', 'G7'),
(8, 'Recife', 'PE', 'BRA', 'H8'),
(9, 'Brasília', 'DF', 'BRA', 'I9'),
(10, 'Manaus', 'AM', 'BRA', 'J10'),
(11, 'Natal', 'RN', 'BRA', 'K11'),
(12, 'Florianópolis', 'SC', 'BRA', 'L12'),
(13, 'Maceió', 'AL', 'BRA', 'M13'),
(14, 'Belém', 'PA', 'BRA', 'N14'),
(15, 'João Pessoa', 'PB', 'BRA', 'O15'),
(16, 'Vitória', 'ES', 'BRA', 'P16'),
(17, 'Goiânia', 'GO', 'BRA', 'Q17'),
(18, 'Cuiabá', 'MT', 'BRA', 'R18'),
(19, 'Campo Grande', 'MS', 'BRA', 'S19'),
(20, 'São Luís', 'MA', 'BRA', 'T20'),
(21, 'Aracaju', 'SE', 'BRA', 'U21'),
(22, 'Teresina', 'PI', 'BRA', 'V22'),
(23, 'Palmas', 'TO', 'BRA', 'W23'),
(24, 'Rio Branco', 'AC', 'BRA', 'X24'),
(25, 'Porto Velho', 'RO', 'BRA', 'Y25'),
(26, 'Boa Vista', 'RR', 'BRA', 'Z26'),
(27, 'Macapá', 'AP', 'BRA', 'AA27'),
(28, 'Cabo Frio', 'RJ', 'BRA', 'BB28'),
(29, 'Angra dos Reis', 'RJ', 'BRA', 'CC29'),
(30, 'Ilhéus', 'BA', 'BRA', 'DD30');

### 3.3.Associando Alunos a Usuários e a Uma Escola

In [ ]:
%%sql
-- Inserção de Alunos para a Escola 1
INSERT INTO Aluno (CPFUsuario, Bolsa, IDEscola) VALUES
('12345678901', TRUE, 1),
('23456789012', FALSE, 1),
('34567890123', TRUE, 1),
('45678901234', FALSE, 1),
('56789012345', TRUE, 1),
('67890123456', FALSE, 1),
('78901234567', TRUE, 1),
('89012345678', FALSE, 1),
('90123456789', TRUE, 1),
('01234567890', FALSE, 1),
('11111111111', TRUE, 1),
('22222222222', FALSE, 1),
('33333333333', TRUE, 1),
('44444444444', FALSE, 1),
('55555555555', TRUE, 1),
('66666666666', FALSE, 1),
('77777777777', TRUE, 1),
('88888888888', FALSE, 1),
('99999999999', TRUE, 1),
('00000000001', FALSE, 1),
('11111111112', TRUE, 1),
('22222222223', FALSE, 1),
('33333333334', TRUE, 1),
('44444444445', FALSE, 1),
('55555555556', TRUE, 1),
('66666666667', FALSE, 1),
('77777777778', TRUE, 1),
('88888888889', FALSE, 1),
('99999999990', TRUE, 1),
('00000000002', FALSE, 1),
('11111111113', TRUE, 1),
('22222222224', FALSE, 1),
('33333333335', TRUE, 1),
('44444444446', FALSE, 1),
('55555555557', TRUE, 1),
('66666666668', FALSE, 1),
('77777777779', TRUE, 1),
('88888888890', FALSE, 1),
('99999999991', TRUE, 1),
('00000000003', FALSE, 1);

### 3.4.Associando Professores a Usuários e a Uma Escola

In [ ]:
%%sql
-- inserção de Professores para a Escola 1
INSERT INTO Professor (CPFUsuario, Titulacao, AreaEspecialidade, IDEscola) VALUES
('11223344556', 'Mestre', 'Matemática', 1),
('22334455667', 'Doutor', 'Português', 1),
('33445566778', 'Mestre', 'Física', 1),
('44556677889', 'Doutor', 'Química', 1),
('55667788990', 'Mestre', 'História', 1),
('66778899001', 'Doutor', 'Geografia', 1),
('77889900112', 'Mestre', 'Biologia', 1),
('88990011223', 'Doutor', 'Matemática', 1),
('99001122334', 'Mestre', 'Português', 1),
('10112233445', 'Doutor', 'Física', 1);

### 3.5.Associando Funcionários a Usuários

In [ ]:
%%sql
INSERT INTO Funcionario (CPFUsuario, Operacao) VALUES
('11223344567', 'Recepção'),
('22334455678', 'Limpeza'),
('33445566789', 'Segurança'),
('44556677890', 'Biblioteca'),
('55667788901', 'Laboratório'),
('66778899012', 'Secretaria'),
('77889900123', 'Coordenação'),
('88990011234', 'TI');

### 3.6.Inserindo Departamentos

In [ ]:
%%sql
-- Inserção de Professores Chefiando Departamento
INSERT INTO Departamento (SiglaDepartamento, CPFProfessor, NomeDepartamento) VALUES
('DEP01', '11223344556', 'Matemática'),
('DEP02', '22334455667', 'Línguas'),
('DEP03', '88990011223', 'Informática'),
('DEP04', '66778899001', 'Administração'),
('DEP05', '44556677889', 'Engenharia'),
('DEP06', '33445566778', 'Ciências Exatas'),
('DEP07', '55667788990', 'Ciências Humanas'),
('DEP08', '77889900112', 'Saúde'),
('DEP09', '99001122334', 'Artes'),
('DEP10', '10112233445', 'Educação Física');

### 3.7.Inserindo Cursos e Associando a Departamentos

In [ ]:
%%sql
INSERT INTO Curso (SiglaCurso, SiglaDepartamento, NomeCurso, Classificacao, CargaHoraria, NumeroVagas) VALUES
('FND01', 'DEP01', 'Matemática Fundamental', 'Fundamental', 900, 250),
('FND02', 'DEP02', 'Português Fundamental', 'Fundamental', 900, 250),
('FND03', 'DEP07', 'História Fundamental', 'Fundamental', 900, 250),
('FND04', 'DEP07', 'Geografia Fundamental', 'Fundamental', 900, 250),
('FND05', 'DEP06', 'Ciências Naturais Fundamental', 'Fundamental', 900, 250),
('FND06', 'DEP09', 'Artes Fundamental', 'Fundamental', 900, 200),
('FND07', 'DEP10', 'Educação Física Fundamental', 'Fundamental', 900, 200),
('FND08', 'DEP08', 'Saúde e Bem-estar Fundamental', 'Fundamental', 900, 200),
('FND09', 'DEP01', 'Lógica e Raciocínio Fundamental', 'Fundamental', 900, 200),
('FND10', 'DEP03', 'Informática Básica Fundamental', 'Fundamental', 900, 150),

('EM01', 'DEP01', 'Matemática Ensino Médio', 'Ensino Médio', 1200, 200),
('EM02', 'DEP02', 'Português Ensino Médio', 'Ensino Médio', 1200, 200),
('EM03', 'DEP07', 'Filosofia Ensino Médio', 'Ensino Médio', 1200, 150),
('EM04', 'DEP07', 'Sociologia Ensino Médio', 'Ensino Médio', 1200, 150),
('EM05', 'DEP06', 'Química Ensino Médio', 'Ensino Médio', 1200, 200),
('EM06', 'DEP06', 'Física Ensino Médio', 'Ensino Médio', 1200, 200),
('EM07', 'DEP09', 'Artes Ensino Médio', 'Ensino Médio', 1200, 150),
('EM08', 'DEP10', 'Educação Física Ensino Médio', 'Ensino Médio', 1200, 150),
('EM09', 'DEP08', 'Biologia Ensino Médio', 'Ensino Médio', 1200, 200),
('EM10', 'DEP03', 'Informática Ensino Médio', 'Ensino Médio', 1200, 150),

('TC01', 'DEP03', 'Técnico em Informática', 'Técnico', 1800, 100),
('TC02', 'DEP05', 'Técnico em Mecânica', 'Técnico', 1800, 80),
('TC03', 'DEP04', 'Técnico em Administração', 'Técnico', 1800, 80),
('TC04', 'DEP08', 'Técnico em Enfermagem', 'Técnico', 1800, 60),
('TC05', 'DEP09', 'Técnico em Design', 'Técnico', 1800, 70),
('TC06', 'DEP10', 'Técnico em Educação Física', 'Técnico', 1800, 60),
('TC07', 'DEP01', 'Técnico em Química', 'Técnico', 1800, 70),
('TC08', 'DEP07', 'Técnico em Meio Ambiente', 'Técnico', 1800, 60),
('TC09', 'DEP06', 'Técnico em Física Aplicada', 'Técnico', 1800, 50),
('TC10', 'DEP03', 'Técnico em Redes de Computadores', 'Técnico', 1800, 100);

### 3.8.Associando Regras aos Cursos

In [ ]:
%%sql
INSERT INTO Regras (CodigoRegra, SiglaCurso, FrequenciaMinima, CriterioAvaliacao, Infraestrutura) VALUES
(1, 'FND01', 75.00, 'Provas mensais e atividades semanais.', 'Sala com quadro branco e projetor.'),
(2, 'FND02', 75.00, 'Redações e provas objetivas.', 'Sala com acervo de livros e dicionários.'),
(3, 'FND03', 75.00, 'Análise de textos e participação.', 'Sala temática com mapas históricos.'),
(4, 'FND04', 75.00, 'Trabalhos em grupo e provas escritas.', 'Sala equipada com globos e mapas.'),
(5, 'FND05', 75.00, 'Provas teóricas e experimentos.', 'Laboratório de Ciências.'),
(6, 'FND06', 70.00, 'Avaliações práticas e portfólios.', 'Ateliê de artes com materiais diversos.'),
(7, 'FND07', 80.00, 'Provas práticas e avaliação física.', 'Quadra e sala de ginástica.'),
(8, 'FND08', 75.00, 'Projetos e seminários sobre saúde.', 'Sala com recursos de saúde.'),
(9, 'FND09', 80.00, 'Exercícios lógicos e testes orais.', 'Sala com materiais de lógica e jogos.'),
(10, 'FND10', 75.00, 'Projetos em grupo e testes práticos.', 'Laboratório de informática com acesso à internet.'),

(11, 'EM01', 80.00, 'Provas bimestrais e listas de exercícios.', 'Sala com lousa digital.'),
(12, 'EM02', 80.00, 'Análise textual e provas discursivas.', 'Sala com biblioteca integrada.'),
(13, 'EM03', 75.00, 'Debates, provas e ensaios filosóficos.', 'Sala com acervo filosófico.'),
(14, 'EM04', 75.00, 'Trabalhos reflexivos e provas.', 'Sala multimídia.'),
(15, 'EM05', 80.00, 'Provas teóricas e experimentos químicos.', 'Laboratório de química.'),
(16, 'EM06', 80.00, 'Listas de exercícios e provas práticas.', 'Laboratório de física.'),
(17, 'EM07', 75.00, 'Criação artística e avaliação prática.', 'Estúdio de arte e exposição.'),
(18, 'EM08', 85.00, 'Avaliação física e prática esportiva.', 'Ginásio e campo.'),
(19, 'EM09', 80.00, 'Provas, experimentos e pesquisas.', 'Laboratório de biologia com microscópios.'),
(20, 'EM10', 80.00, 'Projetos computacionais e provas práticas.', 'Laboratório com rede e computadores.'),

(21, 'TC01', 85.00, 'Projetos práticos e provas técnicas.', 'Laboratório de informática avançada.'),
(22, 'TC02', 85.00, 'Oficinas práticas e provas técnicas.', 'Oficina mecânica equipada.'),
(23, 'TC03', 85.00, 'Estudos de caso e simulações.', 'Sala de administração com softwares específicos.'),
(24, 'TC04', 85.00, 'Aulas práticas e estágio supervisionado.', 'Laboratório de enfermagem.'),
(25, 'TC05', 85.00, 'Portfólios digitais e apresentações.', 'Sala de design com computadores gráficos.'),
(26, 'TC06', 90.00, 'Avaliações práticas e físicas.', 'Sala com equipamentos esportivos.'),
(27, 'TC07', 85.00, 'Práticas laboratoriais e provas.', 'Laboratório de química técnica.'),
(28, 'TC08', 85.00, 'Trabalhos de campo e avaliações escritas.', 'Sala com recursos ambientais e vídeos.'),
(29, 'TC09', 85.00, 'Simulações e testes práticos.', 'Laboratório com kits de física aplicada.'),
(30, 'TC10', 85.00, 'Configuração de redes e provas práticas.', 'Laboratório de redes com switches e roteadores.');

### 3.9.Associando Cursos a Suas Devidas Escolas

In [ ]:
%%sql
-- Unidade 1 (São Paulo) - 10 cursos
INSERT INTO Vinculo (IDEscola, SiglaCurso) VALUES
(1, 'FND01'), 
(1, 'FND02'), 
(1, 'FND03'), 
(1, 'FND04'), 
(1, 'FND05'),
(1, 'EM01'), 
(1, 'EM02'), 
(1, 'EM03'), 
(1, 'TC01'), 
(1, 'TC02');

-- Unidade 2 (Rio de Janeiro) - 10 cursos (alguns repetidos da 1 e 3)
INSERT INTO Vinculo (IDEscola, SiglaCurso) VALUES
(2, 'FND04'), 
(2, 'FND05'), 
(2, 'FND06'), 
(2, 'EM05'), 
(2, 'EM06'),
(2, 'EM07'), 
(2, 'TC02'), 
(2, 'TC03'), 
(2, 'TC04'), 
(2, 'TC05');

-- Unidade 3 (Belo Horizonte) - 10 cursos (alguns repetidos da 1 e 2)
INSERT INTO Vinculo (IDEscola, SiglaCurso) VALUES
(3, 'FND01'), 
(3, 'FND02'), 
(3, 'FND07'), 
(3, 'EM01'), 
(3, 'EM08'),
(3, 'EM09'), 
(3, 'TC01'), 
(3, 'TC06'), 
(3, 'TC07'), 
(3, 'TC08');

### 3.10.Inserindo Disciplinas

In [ ]:
%%sql
INSERT INTO Disciplina (Codigo, NomeDisciplina, QTDAulas, MaterialDidatico) VALUES
('D001', 'Matemática 1', 60, 'Livro de Álgebra'),
('D002', 'Português 1', 50, 'Gramática e Literatura'),
('D003', 'Física 1', 40, 'Livro de Física Geral'),
('D004', 'Química 1', 45, 'Tabela Periódica'),
('D005', 'História 1', 40, 'Material de Pesquisa'),
('D006', 'Geografia 1', 30, 'Mapa do Mundo'),
('D007', 'Biologia 1', 50, 'Guia de Biologia Geral'),
('D008', 'Matemática 2', 60, 'Livro de Geometria'),
('D009', 'Português 2', 50, 'Literatura Brasileira'),
('D010', 'Física 2', 45, 'Termodinâmica e Dinâmica'),
('D011', 'Química 2', 55, 'Reações Químicas'),
('D012', 'História 2', 40, 'Fontes Históricas'),
('D013', 'Geografia 2', 35, 'Geografia Econômica'),
('D014', 'Biologia 2', 50, 'Células e Genética'),
('D015', 'Matemática 3', 60, 'Livro de Cálculo'),
('D016', 'Português 3', 50, 'Língua Portuguesa Avançada'),
('D017', 'Física 3', 45, 'Eletromagnetismo'),
('D018', 'Química 3', 50, 'Química Orgânica'),
('D019', 'História 3', 40, 'História Contemporânea'),
('D020', 'Geografia 3', 30, 'Geopolítica'),
('D021', 'Biologia 3', 45, 'Ecologia e Meio Ambiente'),
('D022', 'Matemática 4', 50, 'Álgebra Linear'),
('D023', 'Português 4', 50, 'Interpretação de Texto'),
('D024', 'Física 4', 60, 'Mecânica e Astronomia'),
('D025', 'Química 4', 45, 'Físico-Química'),
('D026', 'História 4', 40, 'Revoluções Históricas'),
('D027', 'Geografia 4', 30, 'Geografia Urbana'),
('D028', 'Biologia 4', 50, 'Anatomia Humana'),
('D029', 'Matemática 5', 60, 'Cálculo Diferencial'),
('D030', 'Português 5', 50, 'Literatura Contemporânea'),
('D031', 'Matemática Aplicada', 60, 'Livro de Matemática Aplicada'),
('D032', 'Matemática Financeira', 40, 'Livro de Matemática Financeira'),
('D033', 'Matemática Discreta', 50, 'Livro de Matemática Discreta'),
('D034', 'Matemática Computacional', 55, 'Livro de Matemática Computacional'),
('D035', 'Matemática para Engenharia', 70, 'Livro de Matemática para Engenharia'),
('D036', 'Matemática Básica', 45, 'Livro de Matemática Básica'),
('D037', 'Matemática Avançada', 80, 'Livro de Matemática Avançada'),
('D038', 'Matemática Elementar', 35, 'Livro de Matemática Elementar'),
('D039', 'Matemática Superior', 90, 'Livro de Matemática Superior'),
('D040', 'Matemática Moderna', 65, 'Livro de Matemática Moderna'),
('D041', 'Física Quântica', 75, 'Livro de Física Quântica'),
('D042', 'Química Orgânica Avançada', 70, 'Livro de Química Orgânica'),
('D043', 'História Antiga', 50, 'Material de História Antiga'),
('D044', 'Geografia Humana', 45, 'Material de Geografia Humana'),
('D045', 'Biologia Molecular', 80, 'Livro de Biologia Molecular'),
('D046', 'Literatura Brasileira', 60, 'Antologia de Literatura'),
('D047', 'Filosofia Contemporânea', 55, 'Textos Filosóficos'),
('D048', 'Sociologia Urbana', 50, 'Material de Sociologia'),
('D049', 'Educação Física Esportiva', 40, 'Manual de Esportes'),
('D050', 'Arte Digital', 65, 'Software de Arte Digital');

### 3.11.Associando Disciplinas aos Cursos

In [ ]:
%%sql
-- As tabelas as seguir não garantem "sentido" entre as disciplinas e cursos
-- por exemplo, um curso técnico poder conter uma disciplna considerada "fundamental"
-- por enquanto são apenas dados ilustrativos
-- ComporCursoDisciplina - Fundamental
INSERT INTO ComporCursoDisciplina (SiglaCurso, SiglaDisciplina) VALUES
('FND01', 'D001'),
('FND01', 'D008'),
('FND01', 'D015'),
('FND02', 'D002'),
('FND02', 'D009'),
('FND03', 'D005'),
('FND03', 'D012'),
('FND04', 'D006'),
('FND04', 'D013'),
('FND05', 'D007');

-- ComporCursoDisciplina - Ensino Médio
INSERT INTO ComporCursoDisciplina (SiglaCurso, SiglaDisciplina) VALUES
('EM01', 'D015'),
('EM01', 'D022'),
('EM02', 'D016'),
('EM02', 'D023'),
('EM05', 'D004'),
('EM05', 'D011'),
('EM06', 'D003'),
('EM06', 'D010'),
('EM09', 'D007'),
('EM09', 'D014');

-- ComporCursoDisciplina - Técnico
INSERT INTO ComporCursoDisciplina (SiglaCurso, SiglaDisciplina) VALUES
('TC01', 'D024'),
('TC01', 'D001'),
('TC01', 'D030'),
('TC02', 'D003'),
('TC02', 'D004'),
('TC03', 'D002'),
('TC03', 'D016'),
('TC04', 'D007'),
('TC04', 'D028'),
('TC09', 'D017');

### 3.12.Associando cursos que são pré-requisitos de outros cursos

In [ ]:
%%sql
-- Inserindo as regras de cursos que são pré-requisitos de outros cursos
-- Ensino Médio requer Fundamental
INSERT INTO PreRequisitoCurso (SiglaCurso, SiglaCursoPreReq) VALUES
('EM01', 'FND01'), 
('EM02', 'FND02'),
('EM05', 'FND05'), 
('EM06', 'FND05');

-- Técnico requer Ensino Médio
INSERT INTO PreRequisitoCurso (SiglaCurso, SiglaCursoPreReq) VALUES
('TC01', 'EM10'), 
('TC04', 'EM09'),
('TC07', 'EM05'),
('TC09', 'EM06');

### 3.13.Associando Disciplinas que são pré-requisitos de outros cursos

In [ ]:
%%sql
-- Inserindo as regras de disciplinas que são pré-requisitos para outros cursos
-- Para FND01 (Matemática Fundamental)
INSERT INTO PreRequisitoDisciplina (SiglaCurso, CodigoDisciplinaPreReq) VALUES
('FND01', 'D001'), 
('FND01', 'D008');

-- Para EM01 (Matemática Ensino Médio)
INSERT INTO PreRequisitoDisciplina (SiglaCurso, CodigoDisciplinaPreReq) VALUES
('EM01', 'D015');

-- Para TC01 (Técnico em Informática)
INSERT INTO PreRequisitoDisciplina (SiglaCurso, CodigoDisciplinaPreReq) VALUES
('TC01', 'D001'),
('TC01', 'D024'); 

-- Para EM05 (Química Ensino Médio)
INSERT INTO PreRequisitoDisciplina (SiglaCurso, CodigoDisciplinaPreReq) VALUES
('EM05', 'D004');

### 3.14.Associando Professores as Disciplinas (Ministra Aula)

In [ ]:
%%sql
-- Professores ministrando aulas de acordo com suas áreas de especialidade
-- Professores de Matemática
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('11223344556', 'D001'),  -- Matemática 1
('11223344556', 'D008'),  -- Matemática 2
('11223344556', 'D015'),  -- Matemática 3
('11223344556', 'D022'),  -- Matemática 4
('11223344556', 'D029'),  -- Matemática 5
('88990011223', 'D008'),  -- Matemática 2
('88990011223', 'D015'),  -- Matemática 3
('88990011223', 'D022'),  -- Matemática 4
('88990011223', 'D029');  -- Matemática 5

-- Professores de Português
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('22334455667', 'D002'),  -- Português 1
('22334455667', 'D009'),  -- Português 2
('22334455667', 'D016'),  -- Português 3
('22334455667', 'D023'),  -- Português 4
('22334455667', 'D030'),  -- Português 5
('99001122334', 'D002'),  -- Português 1
('99001122334', 'D009'),  -- Português 2
('99001122334', 'D016'),  -- Português 3
('99001122334', 'D023'),  -- Português 4
('99001122334', 'D030');  -- Português 5

-- Professores de Física
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('33445566778', 'D003'),  -- Física 1
('33445566778', 'D010'),  -- Física 2
('33445566778', 'D017'),  -- Física 3
('33445566778', 'D024'),  -- Física 4
('10112233445', 'D003'),  -- Física 1
('10112233445', 'D010'),  -- Física 2
('10112233445', 'D017'),  -- Física 3
('10112233445', 'D024');  -- Física 4

-- Professores de Química
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('44556677889', 'D004'),  -- Química 1
('44556677889', 'D011'),  -- Química 2
('44556677889', 'D018'),  -- Química 3
('44556677889', 'D025');  -- Química 4

-- Professores de História
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('55667788990', 'D005'),  -- História 1
('55667788990', 'D012'),  -- História 2
('55667788990', 'D019'),  -- História 3
('55667788990', 'D026');  -- História 4

-- Professores de Geografia
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('66778899001', 'D006'),  -- Geografia 1
('66778899001', 'D013'),  -- Geografia 2
('66778899001', 'D020'),  -- Geografia 3
('66778899001', 'D027');  -- Geografia 4

-- Professores de Biologia
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('77889900112', 'D007'),  -- Biologia 1
('77889900112', 'D014'),  -- Biologia 2
('77889900112', 'D021'),  -- Biologia 3
('77889900112', 'D028');  -- Biologia 4

-- Professores ministrando as novas disciplinas de Matemática
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('11223344556', 'D031'),  -- Matemática Aplicada
('11223344556', 'D032'),  -- Matemática Financeira
('11223344556', 'D033'),  -- Matemática Discreta
('11223344556', 'D034'),  -- Matemática Computacional
('11223344556', 'D035'),  -- Matemática para Engenharia
('11223344556', 'D036'),  -- Matemática Básica
('11223344556', 'D037'),  -- Matemática Avançada
('11223344556', 'D038'),  -- Matemática Elementar
('11223344556', 'D039'),  -- Matemática Superior
('11223344556', 'D040'),  -- Matemática Moderna

('88990011223', 'D031'),  -- Matemática Aplicada
('88990011223', 'D032'),  -- Matemática Financeira
('88990011223', 'D033'),  -- Matemática Discreta
('88990011223', 'D034'),  -- Matemática Computacional
('88990011223', 'D035'),  -- Matemática para Engenharia
('88990011223', 'D036'),  -- Matemática Básica
('88990011223', 'D037'),  -- Matemática Avançada
('88990011223', 'D038'),  -- Matemática Elementar
('88990011223', 'D039'),  -- Matemática Superior
('88990011223', 'D040');  -- Matemática Moderna

-- Professores ministrando outras disciplinas expandidas
INSERT INTO MinistraAula (CPFProfessor, CodigoDisciplina) VALUES
('33445566778', 'D041'),  -- Física Quântica
('10112233445', 'D041'),  -- Física Quântica
('44556677889', 'D042'),  -- Química Orgânica Avançada
('55667788990', 'D043'),  -- História Antiga
('66778899001', 'D044'),  -- Geografia Humana
('77889900112', 'D045'),  -- Biologia Molecular
('22334455667', 'D046'),  -- Literatura Brasileira
('99001122334', 'D046');  -- Literatura Brasileira

### 3.15.Associando Professores e Disciplinas a um Determinado Horário (Oferta Aula)

In [ ]:
%%sql
-- Ofertas de disciplinas para todos os professores que ministram aulas
-- Professor 11223344556 - Matemática (Horários distribuídos)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102'),
('D015', '11223344556', 'Quarta-feira', '14:00:00', 'Sala 103'),
('D022', '11223344556', 'Quinta-feira', '16:00:00', 'Sala 104'),
('D029', '11223344556', 'Sexta-feira', '10:00:00', 'Sala 105');

-- Professor 88990011223 - Matemática (Horários diferentes)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D008', '88990011223', 'Segunda-feira', '14:00:00', 'Sala 201'),
('D015', '88990011223', 'Terça-feira', '10:00:00', 'Sala 202'),
('D022', '88990011223', 'Quarta-feira', '08:00:00', 'Sala 203'),
('D029', '88990011223', 'Quinta-feira', '14:00:00', 'Sala 204');

-- Professor 11223344556 - Disciplinas Expandidas (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D031', '11223344556', 'Segunda-feira', '08:00:00', 'Sala 106'),
('D032', '11223344556', 'Segunda-feira', '16:00:00', 'Sala 107'),
('D033', '11223344556', 'Terça-feira', '14:00:00', 'Sala 108'),
('D034', '11223344556', 'Quarta-feira', '08:00:00', 'Sala 109'),
('D035', '11223344556', 'Quarta-feira', '16:00:00', 'Sala 110'),
('D036', '11223344556', 'Quinta-feira', '08:00:00', 'Sala 111'),
('D037', '11223344556', 'Quinta-feira', '10:00:00', 'Sala 112'),
('D038', '11223344556', 'Sexta-feira', '08:00:00', 'Sala 113'),
('D039', '11223344556', 'Sexta-feira', '14:00:00', 'Sala 114'),
('D040', '11223344556', 'Sexta-feira', '16:00:00', 'Sala 115');

-- Professor 88990011223 - Disciplinas Expandidas (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D031', '88990011223', 'Segunda-feira', '10:00:00', 'Sala 205'),
('D032', '88990011223', 'Segunda-feira', '14:00:00', 'Sala 206'),
('D033', '88990011223', 'Terça-feira', '08:00:00', 'Sala 207'),
('D034', '88990011223', 'Terça-feira', '16:00:00', 'Sala 208'),
('D035', '88990011223', 'Quarta-feira', '10:00:00', 'Sala 209'),
('D036', '88990011223', 'Quarta-feira', '14:00:00', 'Sala 210'),
('D037', '88990011223', 'Quinta-feira', '08:00:00', 'Sala 211'),
('D038', '88990011223', 'Quinta-feira', '10:00:00', 'Sala 212'),
('D039', '88990011223', 'Sexta-feira', '10:00:00', 'Sala 213'),
('D040', '88990011223', 'Sexta-feira', '16:00:00', 'Sala 214');

-- Professor 22334455667 - Português
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302'),
('D016', '22334455667', 'Quarta-feira', '10:00:00', 'Sala 303'),
('D023', '22334455667', 'Quinta-feira', '16:00:00', 'Sala 304'),
('D030', '22334455667', 'Sexta-feira', '08:00:00', 'Sala 305');

-- Professor 99001122334 - Português (Horários diferentes)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D002', '99001122334', 'Segunda-feira', '16:00:00', 'Sala 401'),
('D009', '99001122334', 'Terça-feira', '08:00:00', 'Sala 402'),
('D016', '99001122334', 'Quarta-feira', '14:00:00', 'Sala 403'),
('D023', '99001122334', 'Quinta-feira', '10:00:00', 'Sala 404'),
('D030', '99001122334', 'Sexta-feira', '14:00:00', 'Sala 405');

-- Professor 22334455667 - Literatura Brasileira (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D046', '22334455667', 'Segunda-feira', '10:00:00', 'Sala 501'),
('D046', '22334455667', 'Segunda-feira', '14:00:00', 'Sala 502'),
('D046', '22334455667', 'Terça-feira', '08:00:00', 'Sala 503'),
('D046', '22334455667', 'Terça-feira', '10:00:00', 'Sala 504');

-- Professor 99001122334 - Literatura Brasileira (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D046', '99001122334', 'Quarta-feira', '08:00:00', 'Sala 505'),
('D046', '99001122334', 'Quarta-feira', '14:00:00', 'Sala 506'),
('D046', '99001122334', 'Quinta-feira', '08:00:00', 'Sala 507'),
('D046', '99001122334', 'Quinta-feira', '14:00:00', 'Sala 508');

-- Professor 33445566778 - Física
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2'),
('D017', '33445566778', 'Quarta-feira', '16:00:00', 'Laboratório 3'),
('D024', '33445566778', 'Quinta-feira', '08:00:00', 'Laboratório 4');

-- Professor 10112233445 - Física (Horários diferentes)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D003', '10112233445', 'Segunda-feira', '08:00:00', 'Laboratório 5'),
('D010', '10112233445', 'Terça-feira', '16:00:00', 'Laboratório 6'),
('D017', '10112233445', 'Quarta-feira', '10:00:00', 'Laboratório 7'),
('D024', '10112233445', 'Quinta-feira', '14:00:00', 'Laboratório 8');

-- Professor 33445566778 - Física Quântica (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D041', '33445566778', 'Segunda-feira', '08:00:00', 'Laboratório 9'),
('D041', '33445566778', 'Segunda-feira', '16:00:00', 'Laboratório 10'),
('D041', '33445566778', 'Terça-feira', '08:00:00', 'Laboratório 11'),
('D041', '33445566778', 'Terça-feira', '14:00:00', 'Laboratório 12');

-- Professor 10112233445 - Física Quântica (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D041', '10112233445', 'Quarta-feira', '08:00:00', 'Laboratório 13'),
('D041', '10112233445', 'Quarta-feira', '14:00:00', 'Laboratório 14'),
('D041', '10112233445', 'Quinta-feira', '08:00:00', 'Laboratório 15'),
('D041', '10112233445', 'Quinta-feira', '14:00:00', 'Laboratório 16');

-- Professor 44556677889 - Química
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1'),
('D011', '44556677889', 'Terça-feira', '14:00:00', 'Laboratório Química 2'),
('D018', '44556677889', 'Quarta-feira', '08:00:00', 'Laboratório Química 3'),
('D025', '44556677889', 'Quinta-feira', '16:00:00', 'Laboratório Química 4');

-- Professor 44556677889 - Química Orgânica Avançada (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D042', '44556677889', 'Segunda-feira', '08:00:00', 'Laboratório Química 5'),
('D042', '44556677889', 'Segunda-feira', '14:00:00', 'Laboratório Química 6'),
('D042', '44556677889', 'Terça-feira', '08:00:00', 'Laboratório Química 7'),
('D042', '44556677889', 'Terça-feira', '10:00:00', 'Laboratório Química 8');

-- Professor 55667788990 - História
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601'),
('D012', '55667788990', 'Terça-feira', '08:00:00', 'Sala 602'),
('D019', '55667788990', 'Quarta-feira', '14:00:00', 'Sala 603'),
('D026', '55667788990', 'Quinta-feira', '10:00:00', 'Sala 604');

-- Professor 55667788990 - História Antiga (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D043', '55667788990', 'Segunda-feira', '08:00:00', 'Sala 605'),
('D043', '55667788990', 'Segunda-feira', '14:00:00', 'Sala 606'),
('D043', '55667788990', 'Terça-feira', '10:00:00', 'Sala 607'),
('D043', '55667788990', 'Terça-feira', '16:00:00', 'Sala 608');

-- Professor 66778899001 - Geografia
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 701'),
('D013', '66778899001', 'Terça-feira', '16:00:00', 'Sala 702'),
('D020', '66778899001', 'Quarta-feira', '10:00:00', 'Sala 703'),
('D027', '66778899001', 'Quinta-feira', '14:00:00', 'Sala 704');

-- Professor 66778899001 - Geografia Humana (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D044', '66778899001', 'Segunda-feira', '10:00:00', 'Sala 705'),
('D044', '66778899001', 'Segunda-feira', '14:00:00', 'Sala 706'),
('D044', '66778899001', 'Terça-feira', '08:00:00', 'Sala 707'),
('D044', '66778899001', 'Terça-feira', '14:00:00', 'Sala 708');

-- Professor 77889900112 - Biologia
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1'),
('D014', '77889900112', 'Terça-feira', '10:00:00', 'Laboratório Biologia 2'),
('D021', '77889900112', 'Quarta-feira', '16:00:00', 'Laboratório Biologia 3'),
('D028', '77889900112', 'Quinta-feira', '08:00:00', 'Laboratório Biologia 4');

-- Professor 77889900112 - Biologia Molecular (Horários alternados)
INSERT INTO OfertaDisciplina (CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('D045', '77889900112', 'Segunda-feira', '08:00:00', 'Laboratório Biologia 5'),
('D045', '77889900112', 'Segunda-feira', '16:00:00', 'Laboratório Biologia 6'),
('D045', '77889900112', 'Terça-feira', '08:00:00', 'Laboratório Biologia 7'),
('D045', '77889900112', 'Terça-feira', '14:00:00', 'Laboratório Biologia 8');

### 3.16.Matriculando Alunos em Algumas Disciplinas

In [ ]:
%%sql
-- Matrículas dos alunos em diferentes disciplinas
-- Aluno 12345678901
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('12345678901', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('12345678901', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('12345678901', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('12345678901', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1');

-- Aluno 23456789012
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('23456789012', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('23456789012', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601'),
('23456789012', 'D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 701'),
('23456789012', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1');

-- Aluno 34567890123
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('34567890123', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('34567890123', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('34567890123', 'D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102'),
('34567890123', 'D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302');

-- Aluno 45678901234
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('45678901234', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('45678901234', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601'),
('45678901234', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2'),
('45678901234', 'D011', '44556677889', 'Terça-feira', '14:00:00', 'Laboratório Química 2');

-- Aluno 56789012345
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('56789012345', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('56789012345', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('56789012345', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1'),
('56789012345', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601');

-- Aluno 67890123456
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('67890123456', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('67890123456', 'D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 701'),
('67890123456', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1'),
('67890123456', 'D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102');

-- Aluno 78901234567
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('78901234567', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('78901234567', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1'),
('78901234567', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601'),
('78901234567', 'D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302');

-- Aluno 89012345678
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('89012345678', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('89012345678', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1'),
('89012345678', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2'),
('89012345678', 'D012', '55667788990', 'Terça-feira', '08:00:00', 'Sala 602');

-- Aluno 90123456789
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('90123456789', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1'),
('90123456789', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601'),
('90123456789', 'D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 701'),
('90123456789', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1');

-- Aluno 01234567890
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('01234567890', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('01234567890', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('01234567890', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('01234567890', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1');

-- Aluno 11111111111
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('11111111111', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('11111111111', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301'),
('11111111111', 'D031', '11223344556', 'Segunda-feira', '08:00:00', 'Sala 106');

-- Aluno 22222222222
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('22222222222', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('22222222222', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1'),
('22222222222', 'D032', '11223344556', 'Segunda-feira', '16:00:00', 'Sala 107');

-- Aluno 33333333333
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('33333333333', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('33333333333', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1'),
('33333333333', 'D033', '11223344556', 'Terça-feira', '14:00:00', 'Sala 108');

-- Aluno 44444444444
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('44444444444', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('44444444444', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601'),
('44444444444', 'D034', '11223344556', 'Quarta-feira', '08:00:00', 'Sala 109');

-- Aluno 55555555555
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('55555555555', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('55555555555', 'D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 701'),
('55555555555', 'D035', '11223344556', 'Quarta-feira', '16:00:00', 'Sala 110');

-- Aluno 66666666666
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('66666666666', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('66666666666', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1'),
('66666666666', 'D036', '11223344556', 'Quinta-feira', '08:00:00', 'Sala 111');

-- Aluno 77777777777
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('77777777777', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('77777777777', 'D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102'),
('77777777777', 'D037', '11223344556', 'Quinta-feira', '10:00:00', 'Sala 112');

-- Aluno 88888888888
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('88888888888', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('88888888888', 'D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302'),
('88888888888', 'D038', '11223344556', 'Sexta-feira', '08:00:00', 'Sala 113');

-- Aluno 99999999999
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('99999999999', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('99999999999', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2'),
('99999999999', 'D039', '11223344556', 'Sexta-feira', '14:00:00', 'Sala 114');

-- Aluno 00000000001
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('00000000001', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('00000000001', 'D011', '44556677889', 'Terça-feira', '14:00:00', 'Laboratório Química 2'),
('00000000001', 'D040', '11223344556', 'Sexta-feira', '16:00:00', 'Sala 115');

-- Aluno 11111111112
INSERT INTO Matricula (CPFAluno, CodigoDisciplina, CPFProfessor, Dia, Hora, Sala) VALUES
('11111111112', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101'),
('11111111112', 'D012', '55667788990', 'Terça-feira', '08:00:00', 'Sala 602'),
('11111111112', 'D013', '66778899001', 'Terça-feira', '16:00:00', 'Sala 702');

### 3.17.Fazendo a Inscrição de Aluno em Algumas Matrículas

In [ ]:
%%sql
-- Inscrições dos alunos (nem todas as matrículas têm inscrição)
-- Aluno 12345678901
INSERT INTO Inscricao VALUES
('2024-01-25 09:00:00', '12345678901', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.5,9.0,8.7'),
('2024-01-25 09:15:00', '12345678901', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301', '9.0'),
('2024-01-25 09:30:00', '12345678901', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1', '7.8,8.2');

-- Aluno 23456789012
INSERT INTO Inscricao VALUES
('2024-01-25 10:00:00', '23456789012', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.2,8.5'),
('2024-01-25 10:15:00', '23456789012', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601', '9.5');

-- Aluno 34567890123
INSERT INTO Inscricao VALUES
('2024-01-25 11:00:00', '34567890123', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '7.5'),
('2024-01-25 11:15:00', '34567890123', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1', '8.8,8.5,8.6'),
('2024-01-25 11:30:00', '34567890123', 'D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102', '9.2,9.0'),
('2024-01-25 11:45:00', '34567890123', 'D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302', '8.0');

-- Aluno 45678901234
INSERT INTO Inscricao VALUES
('2024-01-25 12:00:00', '45678901234', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301', '8.7,8.9'),
('2024-01-25 12:15:00', '45678901234', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601', '9.1'),
('2024-01-25 12:30:00', '45678901234', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2', '7.9,8.0');

-- Aluno 56789012345
INSERT INTO Inscricao VALUES
('2024-01-25 13:00:00', '56789012345', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.9,9.1'),
('2024-01-25 13:15:00', '56789012345', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601', '8.3');

-- Aluno 67890123456
INSERT INTO Inscricao VALUES
('2024-01-25 14:00:00', '67890123456', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1', '9.3');

-- Aluno 78901234567
INSERT INTO Inscricao VALUES
('2024-01-25 15:00:00', '78901234567', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1', '8.1'),
('2024-01-25 15:15:00', '78901234567', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1', '8.6,8.4'),
('2024-01-25 15:30:00', '78901234567', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601', '9.0');

-- Aluno 89012345678
INSERT INTO Inscricao VALUES
('2024-01-25 16:00:00', '89012345678', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '7.8,7.9'),
('2024-01-25 16:15:00', '89012345678', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2', '8.4');

-- Aluno 90123456789
INSERT INTO Inscricao VALUES
('2024-01-25 17:00:00', '90123456789', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601', '8.7');

-- Aluno 01234567890
INSERT INTO Inscricao VALUES
('2024-01-25 18:00:00', '01234567890', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.2'),
('2024-01-25 18:15:00', '01234567890', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301', '9.1,9.0'),
('2024-01-25 18:30:00', '01234567890', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1', '7.9,8.1,8.0');

-- Aluno 11111111111
INSERT INTO Inscricao VALUES
('2024-01-25 19:00:00', '11111111111', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.5,9.0,8.8'),
('2024-01-25 19:15:00', '11111111111', 'D002', '22334455667', 'Segunda-feira', '08:00:00', 'Sala 301', '9.2,9.1'),
('2024-01-25 19:30:00', '11111111111', 'D031', '11223344556', 'Segunda-feira', '08:00:00', 'Sala 106', '8.7');

-- Aluno 22222222222
INSERT INTO Inscricao VALUES
('2024-01-25 20:00:00', '22222222222', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.3,8.6'),
('2024-01-25 20:15:00', '22222222222', 'D003', '33445566778', 'Segunda-feira', '14:00:00', 'Laboratório 1', '7.9,8.1,8.0'),
('2024-01-25 20:30:00', '22222222222', 'D032', '11223344556', 'Segunda-feira', '16:00:00', 'Sala 107', '8.4');

-- Aluno 33333333333
INSERT INTO Inscricao VALUES
('2024-01-25 21:00:00', '33333333333', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '7.5,7.8'),
('2024-01-25 21:15:00', '33333333333', 'D004', '44556677889', 'Segunda-feira', '10:00:00', 'Laboratório Química 1', '8.2,8.5,8.3'),
('2024-01-25 21:30:00', '33333333333', 'D033', '11223344556', 'Terça-feira', '14:00:00', 'Sala 108', '8.9');

-- Aluno 44444444444
INSERT INTO Inscricao VALUES
('2024-01-25 22:00:00', '44444444444', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '6.5,6.8'),
('2024-01-25 22:15:00', '44444444444', 'D005', '55667788990', 'Segunda-feira', '16:00:00', 'Sala 601', '7.2,7.5'),
('2024-01-25 22:30:00', '44444444444', 'D034', '11223344556', 'Quarta-feira', '08:00:00', 'Sala 109', '7.8');

-- Aluno 55555555555
INSERT INTO Inscricao VALUES
('2024-01-25 23:00:00', '55555555555', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '9.1,9.3,9.0'),
('2024-01-25 23:15:00', '55555555555', 'D006', '66778899001', 'Segunda-feira', '08:00:00', 'Sala 701', '8.8,8.9'),
('2024-01-25 23:30:00', '55555555555', 'D035', '11223344556', 'Quarta-feira', '16:00:00', 'Sala 110', '9.2');

-- Aluno 66666666666
INSERT INTO Inscricao VALUES
('2024-01-26 08:00:00', '66666666666', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.7,8.9'),
('2024-01-26 08:15:00', '66666666666', 'D007', '77889900112', 'Segunda-feira', '14:00:00', 'Laboratório Biologia 1', '8.5,8.7'),
('2024-01-26 08:30:00', '66666666666', 'D036', '11223344556', 'Quinta-feira', '08:00:00', 'Sala 111', '8.8');

-- Aluno 77777777777
INSERT INTO Inscricao VALUES
('2024-01-26 09:00:00', '77777777777', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '5.5,5.8'),
('2024-01-26 09:15:00', '77777777777', 'D008', '11223344556', 'Terça-feira', '08:00:00', 'Sala 102', '6.2,6.5'),
('2024-01-26 09:30:00', '77777777777', 'D037', '11223344556', 'Quinta-feira', '10:00:00', 'Sala 112', '6.8');

-- Aluno 88888888888
INSERT INTO Inscricao VALUES
('2024-01-26 10:00:00', '88888888888', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '7.2,7.5'),
('2024-01-26 10:15:00', '88888888888', 'D009', '22334455667', 'Terça-feira', '14:00:00', 'Sala 302', '7.8,8.0'),
('2024-01-26 10:30:00', '88888888888', 'D038', '11223344556', 'Sexta-feira', '08:00:00', 'Sala 113', '8.2');

-- Aluno 99999999999
INSERT INTO Inscricao VALUES
('2024-01-26 11:00:00', '99999999999', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '9.3,9.5,9.2'),
('2024-01-26 11:15:00', '99999999999', 'D010', '33445566778', 'Terça-feira', '10:00:00', 'Laboratório 2', '9.1,9.3'),
('2024-01-26 11:30:00', '99999999999', 'D039', '11223344556', 'Sexta-feira', '14:00:00', 'Sala 114', '9.4');

-- Aluno 00000000001
INSERT INTO Inscricao VALUES
('2024-01-26 12:00:00', '00000000001', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.1,8.3'),
('2024-01-26 12:15:00', '00000000001', 'D011', '44556677889', 'Terça-feira', '14:00:00', 'Laboratório Química 2', '8.5,8.7'),
('2024-01-26 12:30:00', '00000000001', 'D040', '11223344556', 'Sexta-feira', '16:00:00', 'Sala 115', '8.9');

-- Aluno 11111111112
INSERT INTO Inscricao VALUES
('2024-01-26 13:00:00', '11111111112', 'D001', '11223344556', 'Segunda-feira', '10:00:00', 'Sala 101', '8.1,8.3'),
('2024-01-26 13:15:00', '11111111112', 'D012', '55667788990', 'Terça-feira', '08:00:00', 'Sala 602', '7.3,7.5'),
('2024-01-26 13:30:00', '11111111112', 'D013', '66778899001', 'Terça-feira', '16:00:00', 'Sala 702', '8.0');

### 3.18.Alunos Fazendo FeedBack para um Professor em uma Determinada Disciplina

In [ ]:
%%sql
-- Alunos fazendo feedback de acordo com suas disciplinas para um professor
INSERT INTO FeedBack (CPFAluno, CPFProfessor, CodigoDisciplina) VALUES
('12345678901', '11223344556', 'D001'),
('23456789012', '11223344556', 'D001'),
('34567890123', '11223344556', 'D001'),
('56789012345', '11223344556', 'D001'),
('89012345678', '11223344556', 'D001'),
('01234567890', '11223344556', 'D001'),
('11111111111', '11223344556', 'D001'),
('22222222222', '11223344556', 'D001'),
('33333333333', '11223344556', 'D001'),
('44444444444', '11223344556', 'D001'),
('55555555555', '11223344556', 'D001'),
('66666666666', '11223344556', 'D001'),
('77777777777', '11223344556', 'D001'),
('88888888888', '11223344556', 'D001'),
('99999999999', '11223344556', 'D001'),
('00000000001', '11223344556', 'D001'),
('11111111112', '11223344556', 'D001'),
('22222222223', '11223344556', 'D001'),
('33333333334', '11223344556', 'D001'),
('44444444445', '11223344556', 'D001'),
('55555555556', '11223344556', 'D001'),
('11111111111', '22334455667', 'D002'),
('22222222222', '22334455667', 'D002'),
('33333333333', '22334455667', 'D002'),
('44444444444', '22334455667', 'D002'),
('55555555555', '22334455667', 'D002'),
('66666666666', '33445566778', 'D003'),
('77777777777', '33445566778', 'D003'),
('88888888888', '33445566778', 'D003'),
('99999999999', '33445566778', 'D003'),
('00000000001', '33445566778', 'D003'),
('11111111112', '44556677889', 'D004'),
('22222222223', '44556677889', 'D004'),
('33333333334', '44556677889', 'D004'),
('44444444445', '44556677889', 'D004'),
('55555555556', '44556677889', 'D004');

### 3.19.Alunos Fazendo Avaliações para um Professor em uma Determinada Disciplina

In [ ]:
%%sql
-- Alunos avaliam o professor 11223344556 na disciplina de matematica 1
INSERT INTO Avaliacao (DataAvaliacao, CPFAluno, CPFProfessor, CodigoDisciplina, RatingProfessor, RatingMaterial, RatingInfraestrutura, RatingRelevancia, Comentario) VALUES
('2025-06-16 10:00:00', '12345678901', '11223344556', 'D001', 5, 4, 5, 5, 'Excelente professor! Consegue explicar conceitos complexos de forma simples e clara. As aulas são muito dinâmicas e o material é bem organizado.'),
('2025-06-16 09:00:00', '23456789012', '11223344556', 'D001', 4, 4, 4, 5, 'Bom professor, explica bem os conceitos matemáticos. O material é adequado e as aulas são produtivas.'),
('2025-06-16 08:15:00', '34567890123', '11223344556', 'D001', 2, 3, 4, 4, 'O professor tem conhecimento, mas não consegue se comunicar bem com a turma. As aulas são monótonas.'),
('2025-06-16 08:45:00', '56789012345', '11223344556', 'D001', 5, 4, 5, 5, 'Matemática sempre foi meu ponto fraco, mas este professor conseguiu mudar isso. Excelente metodologia!'),
('2025-06-16 12:30:00', '89012345678', '11223344556', 'D001', 4, 4, 5, 4, 'Matemática é fundamental e o professor consegue transmitir isso de forma clara. Bom material didático.'),
('2025-06-16 09:00:00', '01234567890', '11223344556', 'D001', 3, 4, 4, 4, 'Matemática é desafiadora, mas o professor tenta simplificar. Poderia ter mais exercícios práticos.'),
('2025-06-16 10:30:00', '11111111111', '11223344556', 'D001', 5, 5, 5, 5, 'Professor excepcional! Consegue tornar a matemática interessante e compreensível.'),
('2025-06-16 10:45:00', '22222222222', '11223344556', 'D001', 4, 4, 5, 4, 'Bom professor, explica bem os conceitos. Material didático adequado.'),
('2025-06-16 11:00:00', '33333333333', '11223344556', 'D001', 3, 3, 4, 4, 'Professor tem conhecimento, mas poderia ser mais dinâmico nas aulas.'),
('2025-06-16 11:15:00', '44444444444', '11223344556', 'D001', 2, 2, 3, 3, 'Aulas monótonas, difícil de acompanhar. Material confuso.'),
('2025-06-16 11:30:00', '55555555555', '11223344556', 'D001', 5, 4, 5, 5, 'Melhor professor de matemática que já tive! Metodologia excelente.'),
('2025-06-16 11:45:00', '66666666666', '11223344556', 'D001', 4, 5, 4, 4, 'Professor dedicado e paciente. Material muito bom.'),
('2025-06-16 12:00:00', '77777777777', '11223344556', 'D001', 1, 2, 3, 2, 'Não consigo aprender nada com este professor. Aulas muito confusas.'),
('2025-06-16 12:15:00', '88888888888', '11223344556', 'D001', 3, 4, 4, 3, 'Professor mediano, poderia melhorar a didática.'),
('2025-06-16 12:30:00', '99999999999', '11223344556', 'D001', 5, 5, 5, 5, 'Professor fantástico! Consegue explicar conceitos complexos de forma simples.'),
('2025-06-16 12:45:00', '00000000001', '11223344556', 'D001', 4, 3, 4, 4, 'Bom professor, mas o material poderia ser melhor.'),
('2025-06-16 13:00:00', '11111111112', '11223344556', 'D001', 2, 3, 4, 3, 'Professor não consegue se comunicar bem com a turma.'),
('2025-06-16 13:15:00', '22222222223', '11223344556', 'D001', 5, 4, 5, 5, 'Excelente professor! Metodologia inovadora e eficaz.'),
('2025-06-16 13:30:00', '33333333334', '11223344556', 'D001', 3, 4, 4, 4, 'Professor competente, mas aulas poderiam ser mais interativas.'),
('2025-06-16 13:45:00', '44444444445', '11223344556', 'D001', 4, 5, 4, 4, 'Professor muito bom, material excelente.'),
('2025-06-16 14:00:00', '55555555556', '11223344556', 'D001', 1, 2, 3, 2, 'Pior professor que já tive. Não recomendo.');

-- Alunos avaliando a professora 22334455667 na disciplina de literatura brasileira
INSERT INTO Avaliacao (DataAvaliacao, CPFAluno, CPFProfessor, CodigoDisciplina, RatingProfessor, RatingMaterial, RatingInfraestrutura, RatingRelevancia, Comentario) VALUES
('2025-06-16 14:15:00', '11111111111', '22334455667', 'D002', 5, 4, 5, 5, 'Professora excelente! Consegue tornar a literatura interessante.'),
('2025-06-16 14:30:00', '22222222222', '22334455667', 'D002', 4, 5, 4, 4, 'Boa professora, material didático muito rico.'),
('2025-06-16 14:45:00', '33333333333', '22334455667', 'D002', 3, 3, 4, 4, 'Professora competente, mas aulas poderiam ser mais dinâmicas.'),
('2025-06-16 15:00:00', '44444444444', '22334455667', 'D002', 2, 2, 3, 3, 'Aulas monótonas, difícil de manter o interesse.'),
('2025-06-16 15:15:00', '55555555555', '22334455667', 'D002', 5, 5, 5, 5, 'Melhor professora de português! Metodologia fantástica.');

-- Alunos avaliando o professor 33445566778 na disciplina de física
INSERT INTO Avaliacao (DataAvaliacao, CPFAluno, CPFProfessor, CodigoDisciplina, RatingProfessor, RatingMaterial, RatingInfraestrutura, RatingRelevancia, Comentario) VALUES
('2025-06-16 15:30:00', '66666666666', '33445566778', 'D003', 4, 4, 5, 4, 'Professor muito bom, laboratório bem equipado.'),
('2025-06-16 15:45:00', '77777777777', '33445566778', 'D003', 3, 3, 4, 4, 'Professor tem conhecimento, mas explica muito rápido.'),
('2025-06-16 16:00:00', '88888888888', '33445566778', 'D003', 2, 2, 3, 3, 'Aulas confusas, difícil de acompanhar.'),
('2025-06-16 16:15:00', '99999999999', '33445566778', 'D003', 5, 5, 5, 5, 'Professor excepcional! Consegue simplificar conceitos complexos.'),
('2025-06-16 16:30:00', '00000000001', '33445566778', 'D003', 4, 4, 4, 4, 'Bom professor, material adequado.');

-- Alunos avaliando o professor 44556677889 na disciplina de química
INSERT INTO Avaliacao (DataAvaliacao, CPFAluno, CPFProfessor, CodigoDisciplina, RatingProfessor, RatingMaterial, RatingInfraestrutura, RatingRelevancia, Comentario) VALUES
('2025-06-16 16:45:00', '11111111112', '44556677889', 'D004', 5, 5, 5, 5, 'Professor fantástico! Laboratório excelente.'),
('2025-06-16 17:00:00', '22222222223', '44556677889', 'D004', 4, 4, 5, 4, 'Professor muito bom, experimentos interessantes.'),
('2025-06-16 17:15:00', '33333333334', '44556677889', 'D004', 3, 3, 4, 4, 'Professor competente, mas poderia ter mais experimentos.'),
('2025-06-16 17:30:00', '44444444445', '44556677889', 'D004', 2, 2, 3, 3, 'Aulas teóricas demais, falta prática.'),
('2025-06-16 17:45:00', '55555555556', '44556677889', 'D004', 5, 4, 5, 5, 'Melhor professor de química! Metodologia inovadora.');

[]

### 3.20.Troca de Mensagens Entre Professores e Alunos

In [ ]:
%%sql
-- Inserção de Mensagens
INSERT INTO Mensagem (IDMensagem, TextoMensagem) VALUES
(1, 'Lembre-se de estudar para a prova de Matemática!'),
(2, 'Novo aviso sobre as aulas de Física.'),
(3, 'Os exames de Química serão aplicados na próxima semana.'),
(4, 'Reunião de professores amanhã, às 14h.'),
(5, 'Aula de Biologia será cancelada hoje.'),
(6, 'O prazo para entrega do trabalho de História está se aproximando.'),
(7, 'Aulas de Geografia serão suspensas amanhã.'),
(8, 'Novo material didático disponível para Matemática 2.'),
(9, 'Novo conteúdo sobre a Segunda Guerra Mundial será abordado.'),
(10, 'Aviso: As aulas de Química serão online.'),
(11, 'O próximo seminário será sobre Ecologia.'),
(12, 'Nova atividade para os alunos de Física.'),
(13, 'Palestra sobre Educação Física amanhã.'),
(14, 'Lembrete sobre a data da apresentação de projetos de História.'),
(15, 'Novo conteúdo sobre a formação de Bacias Hidrográficas.'),
(16, 'Atualização de horários de aula para o semestre seguinte.'),
(17, 'Informações sobre o curso de Português Avançado.'),
(18, 'Próximo exame de Biologia será em formato de prova prática.'),
(19, 'Alterações no cronograma de aulas para o semestre.'),
(20, 'Entrega de trabalhos de Geografia até sexta-feira.'),
(21, 'Atualização no material didático de Matemática 3.'),
(22, 'Novo documento disponível para leitura em sala de aula.'),
(23, 'Reforço na disciplina de Química para alunos em recuperação.'),
(24, 'Prova de Física será aplicada em duas semanas.'),
(25, 'Aviso importante sobre a matrícula de alunos no curso de História.'),
(26, 'Encontro de professores sobre metodologias de ensino.'),
(27, 'Aulas de Ciências serão focadas em Biologia Molecular.'),
(28, 'Novo projeto interdisciplinar sobre Geopolítica.'),
(29, 'Próximo workshop sobre sustentabilidade e meio ambiente.'),
(30, 'O cronograma de férias foi atualizado.');

-- Inserção de Comunicações (Professores enviando mensagens para alunos)
-- Enviando a mensagem com id 3 do professor 44556677889 de quimica para varios alunos
INSERT INTO Comunica (CPFProfessor, CPFAluno, IDMensagem, DataEnvio) VALUES
('44556677889', '12345678901', 3, '2025-06-16 14:00:00'),
('44556677889', '23456789012', 3, '2025-06-16 14:00:00'),
('44556677889', '34567890123', 3, '2025-06-16 14:00:00'),
('44556677889', '45678901234', 3, '2025-06-16 14:00:00'),
('44556677889', '56789012345', 3, '2025-06-16 14:00:00'),
('44556677889', '67890123456', 3, '2025-06-16 14:00:00'),
('44556677889', '78901234567', 3, '2025-06-16 14:00:00'),
('44556677889', '89012345678', 3, '2025-06-16 14:00:00'),
('44556677889', '90123456789', 3, '2025-06-16 14:00:00'),
('44556677889', '01234567890', 3, '2025-06-16 14:00:00');

-- Enviando a mensagem com id 1 do professor 11223344556 de matematica para 1 aluno
INSERT INTO Comunica (CPFProfessor, CPFAluno, IDMensagem, DataEnvio) VALUES
('11223344556', '12345678901', 1, '2025-06-16 14:00:00');

### 3.21.Troca de Avisos Entre Funcionários e Usuários

In [ ]:
%%sql
-- Inserção de Avisos
INSERT INTO Avisos (IDAviso, TextoAviso) VALUES
(1, 'Atenção! Aulas serão suspensas no feriado nacional.'),
(2, 'Reunião do conselho acadêmico marcada para sexta-feira.'),
(3, 'Novo horário de atendimento ao público da secretaria.'),
(4, 'Matrículas abertas para o próximo semestre.'),
(5, 'Provas de recuperação ocorrerão na próxima semana.'),
(6, 'Data limite para entrega de documentos é sexta-feira.'),
(7, 'Alteração no cronograma de férias de verão.'),
(8, 'Aviso importante sobre a segurança do campus.'),
(9, 'Curso de extensão em linguagens de programação começando em breve.'),
(10, 'Encerramento do semestre letivo e início do período de férias.'),
(11, 'Novo serviço de orientação acadêmica disponível.'),
(12, 'Projeto de reciclagem no campus está em andamento.'),
(13, 'Novos cursos de verão disponíveis para inscrição.'),
(14, 'Alteração na grade de horários do semestre seguinte.'),
(15, 'Aviso sobre a organização do evento acadêmico.'),
(16, 'Recadastramento de alunos da pós-graduação obrigatório.'),
(17, 'Aulas de recuperação em História estão marcadas.'),
(18, 'Novas regras para o processo de matrícula de veteranos.'),
(19, 'Informações sobre a colação de grau do próximo mês.'),
(20, 'Agenda da biblioteca atualizada para este semestre.'),
(21, 'Mudança no regulamento da prática de esportes no campus.'),
(22, 'Novos procedimentos para solicitações de transferências.'),
(23, 'Próximo evento de integração acadêmica será realizado no dia X.'),
(24, 'Oficina sobre técnicas de estudo para alunos de primeiro ano.'),
(25, 'Todos os alunos devem preencher a pesquisa de satisfação até sexta-feira.'),
(26, 'Mudança nos critérios de avaliação para o curso de Direito.'),
(27, 'Aulas de Filosofia serão concentradas no período da tarde.'),
(28, 'Novo sistema de agendamento de salas para reuniões de departamentos.'),
(29, 'Fechamento da matrícula para atividades extracurriculares.'),
(30, 'Aviso sobre as novas normas para realização de estágios acadêmicos.');

-- Inserção de Notificações (Funcionários enviando avisos para usuários)
-- Funcionario 11223344567 Envia o Aviso com id 1 para Vários Usuários
INSERT INTO Notifica (CPFUsuario, CPFFuncionario, IDAviso, DataEnvio) VALUES
('12345678901', '11223344567', 1, '2025-06-16 10:30:00'),
('23456789012', '11223344567', 1, '2025-06-16 10:30:00'),
('34567890123', '11223344567', 1, '2025-06-16 10:30:00'),
('45678901234', '11223344567', 1, '2025-06-16 10:30:00'),
('56789012345', '11223344567', 1, '2025-06-16 10:30:00'),
('67890123456', '11223344567', 1, '2025-06-16 10:30:00'),
('78901234567', '11223344567', 1, '2025-06-16 10:30:00'),
('89012345678', '11223344567', 1, '2025-06-16 10:30:00'),
('90123456789', '11223344567', 1, '2025-06-16 10:30:00'),
('01234567890', '11223344567', 1, '2025-06-16 10:30:00');

## 4.Buscas:

### 4.1.Busca da Média da Avaliação de um Professor

In [ ]:
%%sql
-- Query para calcular a média de avaliações de um professor específico
SELECT 
    CPFProfessor,
    ROUND(AVG(RatingProfessor), 2) AS MediaRatingProfessor
FROM Avaliacao
WHERE CPFProfessor = '11223344556'
GROUP BY CPFProfessor;

### 4.2.Busca de Alunos Matrículados em Uma Determinada Disciplinas

In [ ]:
%%sql
-- Query para listar os alunos matriculados em uma disciplina específica
SELECT 
    a.CPFUsuario AS cpf_aluno,
    u.NomeUsuario || ' ' || u.SobrenomeUsuario AS nome_aluno,
    m.CodigoDisciplina,
    m.Dia,
    m.Hora,
    m.Sala
FROM Matricula m
JOIN Aluno a ON a.CPFUsuario = m.CPFAluno
JOIN Usuario u ON u.CPF = a.CPFUsuario
WHERE m.CodigoDisciplina = 'D001';

### 4.3.Média das Notas dos Alunos para uma Determinada Discilina

In [ ]:
%%sql
-- Query para calcular a média de notas de uma disciplina específica
WITH NotasSeparadas AS (
    SELECT 
        CodigoDisciplina,
        unnest(string_to_array(Notas, ','))::NUMERIC AS nota
    FROM Inscricao
    WHERE Notas IS NOT NULL
)
SELECT 
    CodigoDisciplina,
    ROUND(AVG(nota), 2) AS media_notas
FROM NotasSeparadas
WHERE CodigoDisciplina = 'D001'
GROUP BY CodigoDisciplina;

### 4.4.Listar Quais Disciplinas um Aluno faz e em Quais Locais para um Determinado Período

In [ ]:
%%sql
-- Query para listar as inscrições de um aluno específico em um intervalo de datas
SELECT 
    i.CPFAluno,
    u.NomeUsuario || ' ' || u.SobrenomeUsuario AS nome_aluno,
    i.CodigoDisciplina,
    d.NomeDisciplina,
    i.Dia,
    i.Hora,
    i.Sala,
    i.DataInscricao
FROM Inscricao i
JOIN Usuario u ON u.CPF = i.CPFAluno
JOIN Disciplina d ON d.Codigo = i.CodigoDisciplina
WHERE i.CPFAluno = '12345678901'
  AND i.DataInscricao >= '2024-01-25 00:00:00'
  AND i.DataInscricao < '2024-01-26 00:00:00'
ORDER BY i.DataInscricao;

### 4.5.Ver os Comentários para Avaliações de professores com Rating < 3

In [ ]:
%%sql
-- Consulta para listar os comentários sobre um professor com rating < 3 para uma disciplina específica
SELECT 
    a.CPFProfessor,
    u.NomeUsuario || ' ' || u.SobrenomeUsuario AS NomeProfessor,
    a.CodigoDisciplina,
    d.NomeDisciplina,
    a.RatingProfessor,
    a.Comentario
FROM Avaliacao a
JOIN Usuario u ON u.CPF = a.CPFProfessor
JOIN Disciplina d ON d.Codigo = a.CodigoDisciplina
WHERE a.RatingProfessor < 3
  AND a.CodigoDisciplina = 'D001'           
  AND a.CPFProfessor = '11223344556';

### 4.6.Listar as Disciplinas de um determinado Curso

In [ ]:
%%sql
-- Query para listar as disciplinas de um determinado curso
SELECT 
    c.SiglaCurso,
    c.NomeCurso,
    d.Codigo,
    d.NomeDisciplina
FROM ComporCursoDisciplina cd
JOIN Curso c ON c.SiglaCurso = cd.SiglaCurso
JOIN Disciplina d ON d.Codigo = cd.SiglaDisciplina
WHERE c.SiglaCurso = 'FND01';

### 4.7.Listar os Horários das Aulas de um Determinado Professor

In [ ]:
%%sql
-- Consulta para listar os horários de aulas para um determinado professor
SELECT 
    od.CodigoDisciplina,
    d.NomeDisciplina,
    od.Dia,
    od.Hora,
    od.Sala
FROM OfertaDisciplina od
JOIN Disciplina d ON d.Codigo = od.CodigoDisciplina
WHERE od.CPFProfessor = '11223344556'
ORDER BY od.Dia, od.Hora;

## 5.Índices

### 5.1.Índice 1: B-Tree

#### Aplicado em: Disciplina(NomeDisciplina)

##### Consulta Antes do Índice

In [ ]:
%%sql
-- Analyze antes do Index
EXPLAIN ANALYZE
SELECT * FROM Disciplina WHERE NomeDisciplina ILIKE 'Matemática%';

##### Aplicação do Índice e Consulta

In [ ]:
%%sql
-- Index para otimizar consultas de busca por nome de disciplina
CREATE INDEX idx_disciplina_nome ON Disciplina(NomeDisciplina);

-- Analyze depois do Index
EXPLAIN ANALYZE
SELECT * FROM Disciplina WHERE NomeDisciplina ILIKE 'Matemática%';

### 5.2.Índice 2: HASH

#### Aplicado em: Aluno(CPFUsuario)

##### Consulta Antes do Índice

In [ ]:
%%sql
-- Analyze antes do Index
EXPLAIN ANALYZE
SELECT * FROM Aluno WHERE CPFUsuario = '12345678900';

##### Aplicação do Índice e Consulta

In [ ]:
%%sql
-- Index para otimizar consultas de busca por CPF do aluno
CREATE INDEX idx_aluno_hash ON Aluno USING HASH(CPFUsuario);

-- Analyze depois do Index
EXPLAIN ANALYZE
SELECT * FROM Aluno WHERE CPFUsuario = '12345678900';

### 5.3.Índice 3: Composto

#### Aplicado em: OfertaDisciplina(Dia, Hora)

##### Consulta Antes do Índice

In [ ]:
%%sql
-- Analyze antes do Index
EXPLAIN ANALYZE
SELECT * FROM OfertaDisciplina
WHERE Dia = 'Segunda-feira' AND Hora BETWEEN '08:00' AND '12:00';

##### Aplicação do Índice e Consulta

In [ ]:
%%sql
-- Index para otimizar consultas de busca por dia e hora de ofertas
CREATE INDEX idx_oferta_dia_hora ON OfertaDisciplina(Dia, Hora);

-- Analyze depois do Index
EXPLAIN ANALYZE
SELECT * FROM OfertaDisciplina
WHERE Dia = 'Segunda-feira' AND Hora BETWEEN '08:00' AND '12:00';

## 6.Aplicação de Visões

### 6.1.Visão Para Listar Todos os Cursos e Suas Informações Completas

In [ ]:
%%sql
-- View para listar todos os cursos com suas informações completas
CREATE VIEW ViewCursosCompletos AS
SELECT 
    c.SiglaCurso,
    c.NomeCurso,
    c.CargaHoraria,
    c.NumeroVagas,
    d.SiglaDepartamento,
    d.NomeDepartamento,
    e.IDEscola,
    e.NomeCidade,
    e.SiglaEstado
FROM Curso c
JOIN Departamento d ON c.SiglaDepartamento = d.SiglaDepartamento
JOIN Vinculo v ON v.SiglaCurso = c.SiglaCurso
JOIN UnidadeEscolar e ON e.IDEscola = v.IDEscola;

#### 6.1.1.Aplicando a Busca

In [ ]:
%%sql
SELECT * FROM ViewCursosCompletos;

### 6.2.Visão Para Listar Todas as Matrículas com Informações Detalhadas

In [ ]:
%%sql
-- View para listar todas as matrículas com informações detalhadas
CREATE VIEW ViewMatriculasDetalhadas AS
SELECT 
    m.CPFAluno,
    ua.NomeUsuario || ' ' || ua.SobrenomeUsuario AS NomeAluno,
    m.CodigoDisciplina,
    d.NomeDisciplina,
    m.CPFProfessor,
    up.NomeUsuario || ' ' || up.SobrenomeUsuario AS NomeProfessor,
    m.Dia,
    m.Hora,
    m.Sala
FROM Matricula m
JOIN Disciplina d ON m.CodigoDisciplina = d.Codigo
JOIN Aluno a ON m.CPFAluno = a.CPFUsuario
JOIN Usuario ua ON a.CPFUsuario = ua.CPF
JOIN Professor p ON m.CPFProfessor = p.CPFUsuario
JOIN Usuario up ON p.CPFUsuario = up.CPF;

#### 6.2.1.Aplicando a Busca

In [ ]:
%%sql
SELECT * FROM ViewMatriculasDetalhadas;

### 6.3.Visão Para Listar Todos os Usuários com Suas Informações Completas

In [ ]:
%%sql
-- View para listar todos os usuários com suas informações completas
CREATE VIEW ViewUsuariosCompletos AS
SELECT 
    u.CPF,
    u.NomeUsuario,
    u.SobrenomeUsuario,
    u.Email,
    CASE 
        WHEN a.CPFUsuario IS NOT NULL THEN 'Aluno'
        WHEN p.CPFUsuario IS NOT NULL THEN 'Professor'
        WHEN f.CPFUsuario IS NOT NULL THEN 'Funcionario'
        ELSE 'Outro'
    END AS TipoUsuario
FROM Usuario u
LEFT JOIN Aluno a ON u.CPF = a.CPFUsuario
LEFT JOIN Professor p ON u.CPF = p.CPFUsuario
LEFT JOIN Funcionario f ON u.CPF = f.CPFUsuario;

#### 6.3.1.Aplicando a Busca

In [ ]:
%%sql
SELECT * FROM ViewUsuariosCompletos;

## 7.Desconectando da Base

### 7.1.Voltando a conexão a base padrão do postgres

In [ ]:
%sql postgresql://postgres:pgadmin@localhost:5432/postgres

### 7.2.Verificando em qual base está conectado

In [ ]:
%%sql
SELECT Current_database();

### 7.3.Terminando Sessão Ativa

In [ ]:
%%sql
SELECT pg_terminate_backend(pg_stat_activity.pid)
FROM pg_stat_activity
WHERE pg_stat_activity.datname = 'sistema_gestao_escolar'
  AND pid <> pg_backend_pid();

### 7.4.Desabilitando o Autocommit

In [ ]:
%%sql
SELECT rolname, rolsuper, rolcreaterole, rolcreatedb, rolcanlogin
FROM pg_roles;

In [ ]:
## Desabilitar o Autocommit:
%config SqlMagic.autocommit=False

### 7.5.Apagando a Base de Dados

In [ ]:
%%sql
COMMIT;
DROP DATABASE IF EXISTS sistema_gestao_escolar;
COMMIT;

### 7.6.Reabilitando o autocommit

In [ ]:
## Reabilitar o Autocommit:
%config SqlMagic.autocommit=True